<h1 class="page-title" align="right">CFP: نقاشات عامة حول الانسانيات الرقمية<br />
المؤلفون:  دومينيكو فيورمونتي، سوكانتا شودوري، و باولا ريكوارتي</h1>
<div class="columns" align="right">
	<section class="column-single">
<p>آخر أجل لاستقبال الملخصات في (500 كلمة): 28 نوفمبر 2017</p>
	 	<p><strong>Part of the <em>Debates in the Digital Humanities</em> Series</strong><br />
			<small style="font-size: .9em;">
				A book series from the University of Minnesota Press <br />
				Matthew K. Gold and Lauren F. Klein, Series Editors<br />
			</small>
		</p>

<p><a href="cfp_2017_global_digital_humanities.html">English</a> | <a href="cfp_2017_global_digital_humanities_es.html">Español</a> | <a href="cfp_2017_global_digital_humanities_port.html">Português</a> | <a href="cfp_2017_global_digital_humanities_fr.html">Français</a> | <strong> العربية</strong> | <a href="cfp_2017_global_digital_humanities_zh.html"> 中文 </a> | <a href="cfp_2017_global_digital_humanities_ru.html">Русский язык</a></p>

<div align="right">

[CFP: Global Debates in the Digital Humanities](../../assets/files/global-dhdebates-cfp.pdf)

</div>
	</section>
</div>
