<header class="book-header">
	<ul class="nav-interior">
		<li class="back-link">
			<%= link_to 'Return to About', {controller: '/pages', action: 'about'}, class: 'icon-chevron-left' %>
		</li>
		<% if @edition.id == 1 %>
			<li class="active">
		<% else %>
			<li>
		<% end %>
			<%= link_to '2012 Edition', {controller: '/pages', action: 'book', id: @editions[0].id} %>
		</li>
		<% if @edition.id == 2 %>
			<li class="active">
		<% else %>
			<li>
		<% end %>
			<%= link_to '2016 Edition', {controller: '/pages', action: 'book', id: @editions[-1].id} %>
		</li>
	</ul>
</header>
