<header class="home-header">
	<%= link_to image_tag("logo-didh-small.png", :class => "logo-didh"), {controller: '/pages', action: 'index'} %>
	<ul class="nav-interior">
		<li class="active bold home-link">
			<%= link_to 'Debates in the Digital Humanities', {controller: '/pages', action: 'index'}%>
		</li>
		<li class="toc-tab-trigger">
			<% if params[:controller] == 'debates' %>
				<a href="#" data-tab-toggle-trigger>Contents</a>
			<% else %>
				<a href="/debates" data-tab-toggle-trigger>Contents</a>
			<% end %>
		</li>
		<li class="">
			<%= link_to 'About the Series', :controller => '/pages', :action => 'about' %>
		</li>
<!-- 		<% if params[:controller] == 'debates' %>
			<li id="backbone-hudView" class="nav-hud nav-pane pane-bottom reveal-level-0"></li>
		<% end %> -->
	</ul>
</header>