<li><%= link_to 'Debates', :controller => '/debates' %></li>
<li><%= link_to 'The Book', :controller => '/pages', :action => 'book' %></li>
<li><%= link_to 'About', :controller => '/pages', :action => 'about' %></li>
<li><%= link_to 'News', :controller => '/pages', :action => 'news' %></li>
