<nav class="nav-start">
	<div class="column-half">
		<%= link_to({ controller: 'debates', action: 'index', id: @editions[1].id }) do %>
			<%= image_tag("2016bookcover-low.png") %>
			<span>2016 Edition</span>
		<% end %>
	</div>
	<div class="column-half">
		<%= link_to({ controller: 'debates', action: 'index', id: @editions[0].id }) do %>
			<%= image_tag("2012bookcover-low.png") %>
			<span>2012 Edition</span>
		<% end %>
	</div>
</nav>