<nav class="nav-start">
	<div class="column-half">
		<%= link_to({ controller: 'debates', action: 'index', edition_id: @editions[1].id }) do %>
			<div class="cover-wrapper">
				<div class="cover-overlay"></div>
				<%= image_tag("2016bookcover-low.png") %>
			</div>
			<div class="cover-label">2016 Edition</div>
		<% end %>
	</div>
	<div class="column-half">
		<%= link_to({ controller: 'debates', action: 'index', edition_id: @editions[0].id }) do %>
			<div class="cover-wrapper">
				<div class="cover-overlay"></div>
				<%= image_tag("2012bookcover-low.png") %>
			</div>
			<div class="cover-label">2012 Edition</div>
		<% end %>
	</div>
</nav>
