<!-- left column -->
<div class="columns-wrapper">
	<section class="column-fifth padded white callout-wrapper invisible-mobile">
		<div class="callout">
			<%= image_tag("2016book3d-low.png") %>
			<ul class="details-list">
				<li class="highlighted"><%= link_to 'Read Now', :controller => '/debates', :id => @edition.id %></li>
				<li class="outlined"><a href="http://www.upress.umn.edu/book-division/books/debates-in-the-digital-humanities-2016">Buy from UMINN Press</a></li>
				<li><a href="http://www.powells.com/book/debates-in-the-digital-humanities-2016-9780816699544">Buy from Powell's</a></li>
				<li><a href="http://amzn.com/0816699542">Buy from Amazon</a></li>
			</ul>
		</div>
	</section>
	<!-- middle column -->
	<section class="column-half padded white mobile-full-width">
		<h1 class="page-heading">2016 Edition</h1>
		<p>Pairing full-length scholarly essays with shorter pieces drawn from scholarly blogs and conference presentations, as well as commissioned interviews and position statements, Debates in the Digital Humanities 2016 reveals a dynamic view of a field in negotiation with its identity, methods, and reach. Pieces in the book explore how DH can and must change in response to social justice movements and events like #Ferguson; how DH alters and is altered by community college classrooms; and how scholars applying DH approaches to feminist studies, queer studies, and black studies might reframe the commitments of DH analysts. Numerous contributors examine the movement of interdisciplinary DH work into areas such as history, art history, and archaeology, and a special forum on large-scale text mining brings together position statements on a fast-growing area of DH research. In the multivalent aspects of its arguments, progressing across a range of platforms and environments, Debates in the Digital Humanities 2016 offers a vision of DH as an expanded field—new possibilities, differently structured. Published simultaneously in print, e-book, and interactive webtext formats, each DH annual will be a book-length publication highlighting the particular debates that have shaped the discipline in a given year. By identifying key issues as they unfold, and by providing a hybrid model of open-access publication, these volumes and the Debates in the Digital Humanities series will articulate the present contours of the field and help forge its future.</p>
		<h2 class="section-subheading">Reviews of the print edition:</h2>
		<blockquote class="blockquote">
			<p>“Debates in the Digital Humanities 2016 is a great collection of current thinking by practitioners, theorists, enthusiasts, and skeptics, bringing DH into dialogue with critical race studies, queer theory, institutional politics, and disciplinary concerns in every area of the humanities.”</p>
			<cite class="attribution">Johanna Drucker, <em>University of California</em></cite>
		</blockquote>
	</section>
	<section class="column-fifth padded white callout-wrapper invisible-desktop">
		<div class="callout">
			<ul class="details-list">
				<li class="highlighted"><%= link_to 'Read Now', :controller => '/debates', :id => @edition.id %></li>
				<li class="outlined"><a href="http://www.upress.umn.edu/book-division/books/debates-in-the-digital-humanities-2016">Buy from UMINN Press</a></li>
				<li><a href="http://www.powells.com/book/debates-in-the-digital-humanities-2016-9780816699544">Buy from Powell's</a></li>
				<li><a href="http://amzn.com/0816699542">Buy from Amazon</a></li>
			</ul>
		</div>
	</section>
</div>
<!-- right column-->
<section class="column-six-fifths gray-lighter mobile-full-width padded-top">
	<h2 class="section-subheading">Details</h2>
	<ul class="details-list">
		<li>632 Pages</li>
		<li>Published by the University of Minnesota Press</li>
		<li>2016</li>
		<li>ISBN: 978-0816699544</li>
	</ul>
	<h2 class="section-subheading">Contributors</h2>
	
	<ul class="name-list">
		<li>Moya Bailey <small>Northeatern University</small></li> 
		<li>Fiona Barnett <small>Duke University</small></li> 
		<li>Matthew Battles <small>Harvard University</small></li> 
		<li>Jeffrey M. Binder <small>CUNY Graduate Center</small></li> 
		<li>Zach Blas <small>University of London</small></li> 
		<li>Cameron Blevins <small>Rutgers University</small></li> 
		<li>Sheila A. Brennan <small>George Mason University</small></li> 
		<li>Timothy Burke <small>Swarthmore College</small></li> 
		<li>Rachel Sagner Buurma <small>Swarthmore College</small></li> 
		<li>Micha Cárdenas <small>University of Washington–Bothell</small></li> 
		<li>Wendy Hui Kyong Chun <small>Brown University</small></li> 
		<li>Tanya E. Clement <small>University of Texas–Austin</small></li> 
		<li>Anne Cong-Huyen <small>Whittier College</small></li> 
		<li>Ryan Cordell <small>Northeastern University</small></li> 
		<li>Tressie McMillan Cottom <small>Virginia Commonwealth University</small></li> 
		<li>Amy E. Earhart <small>Texas A&M University</small></li> 
		<li>Domenico Fiormonte <small>University of Roma Tre</small></li> 
		<li>Paul Fyfe <small>North Carolina State University</small></li> 
		<li>Jacob Gaboury <small>Stony Brook University</small></li> 
		<li>Kim Gallon <small>Purdue University</small></li> 
		<li>Alex Gil <small>Columbia University</small></li> 
		<li>Brian Greenspan <small>Carleton University</small></li> 
		<li>Richard Grusin <small>University of Wisconsin, Milwaukee</small></li> 
		<li>Michael Hancher <small>University of Minnesota</small></li> 
		<li>Molly O’Hagan Hardy<small>American Antiquarian Society</small></li> 
		<li>David L. Hoover <small>New York University</small></li> 
		<li>Wendy F. Hsu <small>City of Los Angeles</small></li> 
		<li>Patrick Jagoda <small>University of Chicago</small></li> 
		<li>Jessica Marie Johnson <small>Michigan State University</small></li> 
		<li>Steven E. Jones <small>Loyola University</small></li> 
		<li>Margaret Linley <small>Simon Fraser University</small></li> 
		<li>Alan Liu <small>University of California, Santa Barbara</small></li> 
		<li>Elizabeth Losh <small>University of California, San Diego</small></li> 
		<li>Alexis Lothian <small>University of Maryland</small></li> 
		<li>Michael Maizels <small>Wellesley College</small></li> 
		<li>Mark C. Marino <small>University of Southern California</small></li> 
		<li>Anne B. McGrail <small>Lane Community College</small></li> 
		<li>Bethany Nowviskie <small>University of Virginia</small></li> 
		<li>Julianne Nyhan <small>University College London</small></li> 
		<li>Amanda Phillips <small>University of California, Davis</small></li> 
		<li>Miriam Posner <small>University of California, Los Angeles</small></li> 
		<li>Rita Raley <small>University of California, Santa Barbara</small></li> 
		<li>Stephen Ramsay <small>University of Nebraska–Lincoln</small></li> 
		<li>Margaret Rhee <small>University of Oregon</small></li> 
		<li>Lisa Marie Rhody <small>Graduate Center, CUNY</small></li> 
		<li>Roopika Risam <small>Salem State University</small></li> 
		<li>Stephen Robertson <small>George Mason University</small></li> 
		<li>Mark Sample <small>Davidson College</small></li> 
		<li>Jentery Sayers <small>University of Victoria</small></li> 
		<li>Benjamin M. Schmidt <small>Northeastern University</small></li> 
		<li>Scott Selisker <small>University of Arizona</small></li> 
		<li>Jonathan Senchyne <small>University of Wisconsin, Madison</small></li> 
		<li>Andrew Stauffer <small>University of Virginia</small></li> 
		<li>Joanna Swafford <small>SUNY New Paltz</small></li> 
		<li>Toniesha L. Taylor <small>Prairie View A&M University</small></li> 
		<li>Dennis Tenen <small>Columbia University</small></li> 
		<li>Melissa Terras <small>University College London</small></li> 
		<li>Anna Tione Levine<small>Swarthmore College</small></li> 
		<li>Ted Underwood <small>University of Illinois, Urbana–Champaign</small></li> 
		<li>Ethan Watrall <small>Michigan State University</small></li> 
		<li>Jacqueline Wernimont <small>Arizona State University</small></li> 
		<li>Laura Wexler <small>Yale University</small></li> 
		<li>Hong-An Wu <small>University of Illinois, Urbana–Champaign</small></li>	
	</ul>
</section>