<div class="columns">
	<section class="column-narrow">
		<h1 class="column--heading">Contributors</h1>
		<ul class="name-list">
			<li>Matthew Kirschenbaum</li>
			<li>Kathleen Fitzpatrick</li>
			<li>Lisa Spiro</li>
			<li>Patrik Svensson</li>
			<li>Rafael Alvarado</li>
			<li>Tom Scheinfeldt</li>
			<li>Michael Gavin</li>
			<li>Kathleen Marie Smith</li>
			<li>Stephen Ramsay</li>
			<li>Geoffrey Rockwell</li>
			<li>Matthew Kirschenbaum</li>
			<li>Kathleen Fitzpatrick</li>
			<li>Lisa Spiro</li>
			<li>Patrik Svensson</li>
			<li>Rafael Alvarado</li>
			<li>Tom Scheinfeldt</li>
			<li>Michael Gavin</li>
			<li>Kathleen Marie Smith</li>
			<li>Stephen Ramsay</li>
			<li>Geoffrey Rockwell</li>
		</ul>
	</section>
	<section class="column-wide">
		<blockquote class="blockquote">
			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Doloremque neque labore quae at rem odit libero ab asperiores cum nam ipsa distinctio maxime dolorum ducimus adipisci error ullam recusandae repudiandae.</p>
			<cite class="attribution">Clive Thompson, columnist for Wired and contributing writer for the New York Times Magazine</cite>
		</blockquote>
		<blockquote class="blockquote">
			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reprehenderit ut ex earum doloribus facere ipsa deleniti laudantium iusto quam illo.</p>
			<cite class="attribution">Inside Higher Ed</cite>
		</blockquote>
	</section>
	<section class="column-single">
		<h1 class="column--heading">Site Version History</h1>
		<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Distinctio quos quaerat rerum corporis porro ducimus consequatur nam quas architecto consequuntur. In temporibus consectetur minima!</p>
		<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Id eum enim exercitationem recusandae laboriosam voluptas ducimus molestiae dolorum explicabo atque? Accusamus illo dolores dolore totam quam vel hic eaque impedit iusto pariatur laudantium atque modi quia sapiente nostrum. Veritatis maiores quis ullam cupiditate harum eius voluptatum inventore aliquid officia vero accusantium possimus itaque dolorem dolores assumenda nostrum nesciunt? Aperiam dolore voluptates ipsam commodi recusandae labore neque natus quod et facilis? Quis voluptates qui numquam iste quia magnam maiores ex mollitia animi fugiat non minima iusto. Alias reprehenderit suscipit nihil dicta facere nobis est hic praesentium quisquam nesciunt tempore odio ullam.</p>
		<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Veniam ab dolor explicabo id eveniet eos reprehenderit error vitae eligendi itaque excepturi corporis. Culpa tempore quae placeat! Eum iure omnis exercitationem blanditiis maiores laborum pariatur ipsa repellat dolorum doloremque ratione qui. Enim officiis dolorum veritatis ipsam omnis numquam quo exercitationem maiores reiciendis laudantium totam commodi architecto.</p>
		<!-- <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsam officia tempora dolor quaerat impedit laudantium blanditiis nostrum aperiam unde earum quos nesciunt perferendis asperiores animi sunt nihil libero veritatis iusto nisi quis laborum. Eum eos maxime voluptatum voluptates minima id quidem mollitia in incidunt dicta assumenda nisi explicabo obcaecati laboriosam consectetur eveniet quae inventore a tenetur perspiciatis repudiandae quasi iure quo dignissimos adipisci. Sequi quaerat cupiditate quibusdam exercitationem incidunt dolorem vitae nihil similique saepe illum nulla aliquid in officia totam quos quod magni aut ratione inventore voluptate illo deserunt</p>
		<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quod velit!</p> -->
	</section>
</div>