<div class="columns">
	<!-- left column -->
	<div class="columns-wrapper">
		<section class="column-fifth padded white">
			<%= image_tag("book3d-high.jpg") %>
			<div class="callout">
				<ul class="details-list">
					<li class="highlighted"><a href="http://www.upress.umn.edu/book-division/books/debates-in-the-digital-humanities">Buy from UMINN Press</a>
					</li>
					<li><a href="http://www.powells.com/biblio/62-9780816677955-0">Buy from Powell's</a></li>
					<li><a href="http://www.amazon.com/Debates-Digital-Humanities-Matthew-Gold/dp/0816677956/">Buy from Amazon</a></li>
					<li><a href="http://www.barnesandnoble.com/w/debates-in-the-digital-humanities-matthew-k-gold/1107076678">Buy from Barnes &amp; Noble</a></li>
					<li><a href="http://www.betterworldbooks.com/9780816677955-id-9780816677955.aspx">Buy from Better World Books</a></li>
				</ul>
			</div>
		</section>
		<!-- middle column -->
		<section class="column-half padded white">
			<h1 class="page-heading">2013 Edition</h1>
			<p>Encompassing new technologies, research methods, and opportunities for collaborative scholarship and open-source peer review, as well as innovative ways of sharing knowledge and teaching, the digital humanities promises to transform the liberal arts—and perhaps the university itself. Indeed, at a time when many academic institutions are facing austerity budgets, digital humanities programs have been able to hire new faculty, establish new centers and initiatives, and attract multimillion-dollar grants. Clearly the digital humanities has reached a significant moment in its brief history. But what sort of moment is it? Debates in the Digital Humanities brings together leading figures in the field to explore its theories, methods, and practices and to clarify its multiple possibilities and tensions. From defining what a digital humanist is and determining whether the field has (or needs) theoretical grounding, to discussions of coding as scholarship and trends in data-driven research, this cutting-edge volume delineates the current state of the digital humanities and envisions potential futures and challenges. At the same time, several essays aim pointed critiques at the field for its lack of attention to race, gender, class, and sexuality; the inadequate level of diversity among its practitioners; its absence of political commitment; and its preference for research over teaching. Together, the essays in Debates in the Digital Humanities suggest that the digital humanities is well-positioned to contribute to the revival of the humanities and academic life.</p>
			<h2 class="column--subheading">Reviews of the print edition:</h2>
			<blockquote class="blockquote">
				<p>“Is there such a thing as ‘digital’ humanities? From statistical crunches of texts to new forms of online collaboration and peer review, it’s clear something is happening. This book is an excellent primer on the arguments over just how much is changing—and how much more ought to—in the way scholars study the humanities.”</p>
				<cite class="attribution">Clive Thompson, columnist for <em>Wired</em> and contributing writer for the <em>New York Times Magazine</em></cite>
			</blockquote>
			<blockquote class="blockquote">
				<p>“I look forward to the day when anxieties about the disruptive nature of ‘digital humanities’ fade into memory and the innovative methods, theories, and approaches championed by those who have contributed to this valuable volume are respected across academia for their rigor and utility. This book will go a long way toward clarifying the debates within and about digital humanities.”</p>
				<cite class="attribution">Siva Vaidhyanathan, author of <em>The Googlization of Everything—and Why We Should Worry</em></cite>
			</blockquote>
			<blockquote class="blockquote">
				<p>"[The book] reflects . . . the diversity, openness, and community spirit of the digital humanities."</p>
				<cite class="attribution">Inside Higher Ed</cite>
			</blockquote>
			<blockquote class="blockquote">
				<p>“Though Debates in the Digital Humanities is well over 500 pages in length, there is no fat in it; all essays contain important information and concepts relating to DH. Taken together, the book as a whole and every essay in it is a must-read for anyone who claims to be a digital humanist whether she or he works in theory, pedagogy, and/or practice.”</p>
				<cite class="attribution">Dene Grigar, <a href="http://www.leonardo.info/reviews/aug2012/gold-grigar.php">Leonardo Reviews</a>, 8/2/12</cite>
			</blockquote>
			<blockquote class="blockquote">
				<p>“That spirit of open, collaborative experimentation inspires much of what digital humanists do, and it is one of their chief contributions to the humanities at large. This has the makings of a playful revolution. Digital humanists’ drive to experiment with literary, historical, philological and other kinds of data goes hand in hand with a desire to “hack the academy”– to expand or overturn the traditional machinery of the university. Scientists have long been used to the rapid exchange of ideas and findings. With a very few disciplinary exceptions, the publication-and-dissemination mechanisms of the humanities grind slowly.”</p>
				<cite class="attribution">Jennifer Howard, “<a href="http://www.the-tls.co.uk/tls/public/article1099163.ece">Dilemmas of the digital humanists</a>,” <em>Times Literary Supplement</em>, 8/12/12</cite>
			</blockquote>
			<blockquote class="blockquote">
				<p>“The essays in Gold’s collection demonstrate the positive effects of a cross-fertilization of ideas, as the authors often refer to one another in their work. The result is an anthology that reads like a conversation—dynamic, capacious, and at times diffuse, but one that always returns to core concerns about the meaning, function, and future of this emerging field. . . . Taken together, these authors attest to the rich scholarly practices that constitute the present field of digital humanities and point to a range of future applications in the academy and in public life.”</p>
				<cite class="attribution">Lauren Frederica Klein, “<a href="http://muse.jhu.edu/login?auth=0&type=summary&url=/journals/american_quarterly/v064/64.4.klein.html">American Studies after the Internet</a>,” American Quarterly, Volume 64, Number 4 (December 2012): 861-872.</cite>
			</blockquote>
		</section>
	</div>
	<!-- right column-->
	<section class="column-six-fifths gray-lighter mobile-full-width padded-top">
		<h2 class="column--subheading">Details</h2>
		<ul class="details-list">
			<li>504 Pages</li>
			<li>Published by the University of Minnesota Press</li>
			<li>2012</li>
			<li>ISBN: 978-0816677955</li>
		</ul>
		<h2 class="column--subheading">Contributors</h2>
		<ul class="name-list">
			<li>Bryan Alexander <small>National Institute for Technology in Liberal Education</small></li>
			<li>Rafael Alvarado <small>University of Virginia</small></li>
			<li>Jamie “Skye” Bianco <small>University of Pittsburgh</small></li>
			<li>Ian Bogost <small>Georgia Institute of Technology</small></li>
			<li>Stephen Brier <small>Graduate Center, CUNY</small></li>
			<li>Daniel J. Cohen <small>George Mason University</small></li>
			<li>Cathy N. Davidson <small>Duke University</small></li>
			<li>Rebecca Frost Davis <small>National Institute for Technology in Liberal Education</small></li>
			<li>Johanna Drucker <small>University of California, Los Angeles</small></li>
			<li>Amy E. Earhart <small>Texas A&amp;M University</small></li>
			<li>Charlie Edwards <small>Graduate Center, CUNY</small></li>
			<li>Kathleen Fitzpatrick <small>Pomona College</small></li>
			<li>Julia Flanders <small>Brown University</small></li>
			<li>Neil Fraistat <small>University of Maryland</small></li>
			<li>Paul Fyfe <small>Florida State University</small></li>
			<li>Michael Gavin <small>University of South Carolina</small></li>
			<li>Matthew K. Gold <small>NYC College of Technology &amp; Graduate Center, CUNY</small></li>
			<li>David Greetham <small>Graduate Center, CUNY</small></li>
			<li>Jim Groom <small>University of Mary Washington</small></li>
			<li>Gary Hall <small>Coventry University, UK</small></li>
			<li>Mills Kelly <small>George Mason University</small></li>
			<li>Matthew Kirschenbaum <small>University of Maryland</small></li>
			<li>Alan Liu <small>University of California, Santa Barbara</small></li>
			<li>Elizabeth Losh <small>University of California, San Diego</small></li>
			<li>Lev Manovich <small>Graduate Center, CUNY</small></li>
			<li>Willard McCarty <small>King’s College London</small></li>
			<li>Tara McPherson <small>University of Southern California</small></li>
			<li>Bethany Nowviskie <small>University of Virginia</small></li>
			<li>Trevor Owens <small>Library of Congress</small></li>
			<li>William Pannapacker <small>Hope College</small></li>
			<li>Dave Parry <small>University of Texas at Dallas</small></li>
			<li>Stephen Ramsay <small>University of Nebraska, Lincoln</small></li>
			<li>Alexander Reid <small>SUNY at Buffalo</small></li>
			<li>Geoffrey Rockwell <small>Canadian Institute for Research Computing in the Arts</small></li>
			<li>Mark L. Sample <small>George Mason University</small></li>
			<li>Tom Scheinfeldt <small>George Mason University</small></li>
			<li>Kathleen Marie Smith <small>University of Illinois</small></li>
			<li>Lisa Spiro <small>National Institute for Technology in Liberal Education</small></li>
			<li>Patrik Svensson <small>Umeå University</small></li>
			<li>Luke Waltzer <small>Baruch College</small></li>
			<li>Matthew Wilkens <small>University of Notre Dame</small></li>
			<li>George H. Williams <small>University of South Carolina Upstate</small></li>
			<li>Michael Witmore <small>Folger Shakespeare Library</small></li>
		</ul>
	</section>
</div>