<section class="two-col-equal">

	<section class="left">
		<%= image_tag("book3d-high.jpg", :width => 350) %> 
		<div class="link-box">
			Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec pellentesque aliquet est. Donec interdum rhoncus ullamcorper. In consectetur, purus consequat bibendum faucibus, ligula ligula ullamcorper erat, eu vestibulum nunc elit in diam. Phasellus malesuada pharetra lectus et facilisis. Sed
		</div>
	</section>

	<section class="right">
		<p>
			Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec pellentesque aliquet est. Donec interdum rhoncus ullamcorper. In consectetur, purus consequat bibendum faucibus, ligula ligula ullamcorper erat, eu vestibulum nunc elit in diam. Phasellus malesuada pharetra lectus et facilisis. Sed nisl enim, vulputate quis condimentum sit amet, tempor nec diam. Nullam eu convallis metus. Sed eget dolor suscipit diam hendrerit blandit eu eu nulla. Fusce lacinia nibh at risus molestie ac ornare augue dignissim. Nullam enim dui, vestibulum id tincidunt nec, sodales vel quam. Donec justo urna, mollis at facilisis eu, cursus sed diam. Donec facilisis mi ac arcu viverra id sodales mi volutpat.
		</p>
		<p>
			Suspendisse vestibulum, turpis vitae faucibus facilisis, metus nibh rhoncus nulla, eget condimentum nisl metus ac metus. Aenean non nunc ac libero gravida facilisis. Praesent nec augue orci, nec suscipit nibh. Pellentesque diam mi, dapibus in consectetur eget, iaculis at metus. Cras pellentesque, nulla vel venenatis euismod, ipsum orci pretium mi, ut varius dolor dui id purus. Nulla facilisi. In dui nunc, sollicitudin non venenatis vitae, adipiscing a felis. Vivamus commodo molestie eros id elementum. Nam eleifend ultricies lacus ut varius. Fusce ut sapien sed arcu sagittis porttitor. Nullam non sapien elit. Nunc eu urna quis felis gravida condimentum eu at turpis. Duis feugiat dictum mi, vel condimentum sem mattis a. Suspendisse potenti.
		</p>
		<p>
			Mauris eu turpis leo. Proin porta magna nec ligula rutrum sit amet dictum eros pharetra. Morbi nec quam massa. Vestibulum ut nisi eu tortor vehicula fermentum id sit amet augue. Integer augue libero, interdum at consequat eget, iaculis in lectus. Proin dictum lacus ac enim rhoncus hendrerit. Pellentesque nec risus nec velit suscipit facilisis. Nam dui elit, convallis non commodo in, pharetra non neque.
		</p>
		<p>
			Sed quis arcu id felis elementum tempor et quis massa. Donec elit velit, iaculis vel consectetur et, auctor ac nisi. Morbi sit amet tellus et turpis molestie rutrum. Morbi a quam vitae sem mollis adipiscing non id lectus. Nam tempor volutpat purus at porta. Vestibulum congue turpis sed nisi feugiat sit amet malesuada dui tristique. Proin consectetur, ante eget semper rhoncus, justo eros vulputate velit, nec elementum ante nulla at tortor. Nunc laoreet, ipsum nec pulvinar luctus, nisi diam sagittis dolor, at dignissim mi massa sed augue. Nullam fringilla nulla vitae nisi suscipit porttitor. Nam et facilisis orci. Morbi dolor nisi, sagittis mattis congue vitae, volutpat eu purus.
		</p>
	</section>

</section>