<h1 class="page-title">CFP: Debates in the Digital Humanities 2015 (Abstract Deadline: February 2, 2015)</h1>
<div class="columns">
	<section class="column-single">
		<p>
			<strong><em>Debates in the Digital Humanities</em><br />
			A book series from the University of Minnesota Press<br />
			Matthew K. Gold, Series Editor<br />
			Lauren Klein, Associate Editor</strong>
		</p>

		<p>
			<em>Debates in the Digital Humanities</em> seeks to anthologize the best new work in the digital humanities (DH) each year. For <em>Debates in the Digital Humanities 2015</em>, we invite chapter-length contributions and extended blog posts to complement several confirmed essays, including writing by Steven E. Jones on the emergence of DH; Mark Marino on critical code studies; Domenico Fiormonte on DH in a global context; Jentery Sayers on remixing <em>Debates in the Digital Humanities</em>; Michael Hancher on DH and google books; Claire Warwick on social media identities; Dennis Tenen on DH tools; and Ethan Watrall on DH and archaeology. 
		</p>
		
		<p>
			Possible topics include, but are not limited to:

			<ul>
				<li> DH and the disciplines. What does DH look like as it expands--in terms of method and/or impact--in the context of allied fields? How should DH be framed in relation to academic departments and disciplines?</li>
				<li> Assessing the impact of DH tools and methodologies. What research results have various DH tools produced? What kinds of inquiries have they helped make possible, and what kinds of difficulties, complications, or complexities are involved in using them?</li>
				<li> DH Pedagogy. How should the digital humanities be taught? When should or shouldn’t they be taught? What role does DH have to play in various curricula and disciplines?</li>
				<li> Genealogies of the digital. How do recent recovery projects, such as those focusing on early female programmers or queer histories of computing, contribute new genealogies to the field and challenge existing formations of DH?</li>
				<li> Reframing DH. What are the underlying assumptions of current DH work, and how can they be productively challenged and re-examined?</li>
				<li> Privacy, surveillance, and leaks. How might DH contribute to the analysis of current events that have placed these concepts and issues on the national and international stage?</li>
				<li> DH and activism. What is the role of DH in a world that must grapple with Ferguson, campus rape, and other events of systemic violence?</li>
				<li> DH and its critics. What is the relationship of the field to its critics, either intellectual or institutional? Which issues have been remedied, and which ones remain unaddressed?</li>
				<li> The maturation of DH. A full decade after the field’s (re)naming, is it possible to articulate the impact of the field?</li> 
			</ul>

		<p>
			Scholars and practitioners from across the disciplines (regardless of rank, position, or institutional affiliation) are invited to submit 300-word abstracts on these or other topics by <strong>February 2nd, 2015</strong> to the series editor, Matthew K. Gold (<a href="mailto:mgold@gc.cuny.edu">mgold@gc.cuny.edu</a>) and associate editor, Lauren Klein (<a href="mailto:lauren.klein@lmc.gatech.edu">lauren.klein@lmc.gatech.edu</a>). Collaboratively authored submissions are welcome. The <em>Debates in the Digital Humanities</em> editorial team will review all abstracts, and authors of selected abstracts will be invited to submit full manuscripts by April 1st, 2015. The volume will be published online in Fall 2015, and in print thereafter.  
		</p>

		<p>
			For the volume, contributions may ultimately assume the form of critical essays, case studies, or project assessments, among other options. The word count of the submissions may vary from 2000 to 8000 words, depending on the submission. The editorial team will consult with authors of selected abstracts about the word count of their contributions.  
		</p>

		<p>
			We also welcome nominations of important blog posts or other short-form pieces that address the above and related issues.
		</p>

		<p>
			<em>Debates in the Digital Humanities</em> is a hybrid print/digital publication stream that explores new debates as they emerge. The call for contributions for the 2016 volume will be announced in November 2015. 
		</p>

		<p>
			For future announcements and news about the series, see <a href="http://dhdebates.gc.cuny.edu/news">http://dhdebates.gc.cuny.edu/news</a> and the twitter hashtag <a href="https://twitter.com/search?q=%23dhdebates">#dhdebates</a>.
		</p>
	</section>
</div>