<h1 class="page-title">CFP: Global Debates in the Digital Humanities<br />
Domenico Fiormonte, Sukanta Chaudhuri, and Paola Ricaurte, Editors
</h1>
<div class="columns">
	<section class="column-single">
	  <p>Крайний срок подачи тезисов (500 слов): 21 ноября 2017 г.</p>
	 	<p><strong>Часть серии «Дискуссии в цифровых гуманитарных науках» (Debates in the Digital Humanities Series)<br />
			<small style="font-size: .9em;">
				Книжная серия University of Minnesota Press <br />
				Редакторы серии Matthew K. Gold и Lauren F. Klein<br />
			</small>
		</p> 

<p><a href="cfp_2017_global_digital_humanities.html">English</a> | <a href="cfp_2017_global_digital_humanities_es.html">Español</a> | <a href="cfp_2017_global_digital_humanities_port.html">Português</a> | <a href="cfp_2017_global_digital_humanities_fr.html">Français</a>| <strong>Русский язык</strong>

<p>Откуда берут начало цифровые гуманитарные науки (Digital Humanities) ? DH описывают различными метафорами – «большая коалиция (big tent)», «зона обмена (trading zone)», «расширеное поле (expanded field)» и т. д. – не делая следующий шаг к идее цифрового плюрализма, связанной с новыми географическими и геополитическими измерениями. Наша цель в этом проекте состоит в том, чтобы выстроить другое представление о DH, основанное на культурном, политическом и, в конце концов, эпистемологическом разнообразии. Мы убеждены, что широкая дискуссия об использовании цифровых технологий для изучения культурных артефактов происходит в контекстах, странах, культурах и языках за пределами доминирующих центров DH на Западе.</p>

<p>Мы также считаем, что эта дискуссия отображает различные версии DH, включая обсуждения, в которых цифровые гуманитарные науки не являются доминирующим концептом в развитии технологических подходов к гуманитарным наукам. Цитата из работы Клода Альвареса «Деколонизируя историю»: «Идея о том, что могут быть альтернативние технологии, сама по себе предусматривает идею технологического плюрализма вместо до сих пор почти универсально признанного технологического монизма. В этом случае каждая социальная система и кажная политическая идеология, на самом деле, каждая культура будет свободно развивать свою собственную линию».</p>

<p>Следуя этой линии, мы приглашаем принять участие в подготовке сборника эссе под названием «Глобальные дискуссии в цифровых гуманитарных науках»; это сборник о проблемах и вызовах практики цифровых гуманитарных наук (DH) в различных географических контекстах, странах и культурах, особенно Глобального Юга  (но не ограничиваясь лишь им). Сборник должен подчеркнуть критическую работу исследователей не из «англосферы», которые внесли свой вклад в продвижение DH, но чьи работы не получили должного внимания ввиду лингвистических, культурных или политических причин.</p>

<p>Хотя основной акцент уделяется ранее не печатавшимся работам, сборник может включать ограниченое количество материалов, которые ранее появлялись не на английском языке, включая блоги, онлайн-эссе и т. д. Електронная работа может быть предложена автором либо кем-то другим. Автор несет ответственность за решение вопросов авторских прав (где это потребуется).</p>

<p><strong>Главные принципы:</strong> статьи могут касатся любого аспекта глобальных цифровых наук, с учетом основных принципов:</p>
<ul>
<li> статьи должны касаться вопросов и проблем, нетипичных для практики DH в культурно доминирующих или основных контекстах. Мы особенно заинтересованы в неанглоязычных и/или незападных контекстах;</li> 
<li> ожидается, что в большинстве эссе будет рассмотрен материал не на английском языке, а с акцентом на незападных языках. Мы особенно приветствуем эссе о ситуациях, когда не только данные, но и пользовательский интерфейс использует не английский язык, особенно незападный.</li> 
<li> несмотря на то, что многие статьи, без сомнения, будут основаны на конкретных проектах, основное внимание должно уделяться не отчетам или описанию проекта, а определенному более широкому актуальному вопросу, проблеме или принципу, а также ответу на вопрос или представлению аргумента по этому поводу. Например, касался ли материал какой-то особой технической проблемы – работе например, с нелатинскими шрифтами, раскладкой, OCR (разпознанием текста), протоколами кодирования или созданием метаданных? Были ли специфические проблемы в доступе к материалу, либо социальные вызовы или преграды? Как были решены эти проблемы (если были) и какие уроки или выгоды были получены для будущих исследований? Подобные технические и академические вопросы могут привести к более широким проблемам культурной политики. Но эти более обширные вопросы должны возникать в процессе обсуждения проектов или проблем DH. Проблемы культурной политики будут уместными для всех материалов в этом сборнике. Но такие проблемы должны возникать из обсуждаемых проектов или проблем DH. </li> 
</ul>

<strong>Перечень тем может включать, но не ограничивается, следующим:</strong>
<ul>
<li> DH и эпистемология Юга</li> 
<li> DH и теория с Юга</li> 
<li> DH и Южные критические перспективы</li> 
<li> DH и культурная критика</li> 
<li> Критика DH</li> 
<li> Постколониальные DH</li> 
<li> Деколониальная компьютеризация</li> 
<li> Альтернативные истории DH</li> 
<li> Геополитика DH</li> 
<li> Цифровые гегемонии</li> 
<li> DH и альтернативные методологии</li> 
<li> Геополитика кода</li> 
<li> Технические проблемы DH с материалами не на английском и не с латинским алфавитом</li> 
<li> DH и альтернативные технологии</li> 
<li> Открытые гуманитарные науки</li> 
<li> DH и государственная политика</li> 
<li> DH и местные сообщества</li> 
<li> DH и межкультурные проблемы</li> 
<li> DH и многоязычие</li> 
<li> DH и упорядоченность знания коренных народов</li> 
<li> DH и цифровые разделы</li> 
<li> DH и политические дебаты</li> 
<li> DH и социальные изменения на Глобальном Юге</li> 
<li> DH и инновации с участием граждан с юга</li> 
<li> DH и социальные проблемы</li> 
<li> DH а также исследования слежения </li> 
<li> DH и большие данные с Юга</li> 
</ul>

<p><strong>Объем:</strong>статьи не должны превышать 5.000 слов. Диаграммы или иллюстрации могут занимать 3-4 дополнительные страницы. Дополнительные диаграммы допустимы при условии более короткого текста. Возможность бо́льших материлов будет рассматриватся лишь в исключительных случаях.</p>

<p><strong>Язык:</strong> книга издается на английском языке. Будет также цифровая версия, размещенная по адресу http://dhdebates.gc.cuny.edu, в которой могут быть опубликованы оригинальные версии на других языках вместе с переводом на английский. Ответсвенностью автора будет предоставить перевод на английский язык и подтвердить его точность. Редакторы могут просматривать оригинальные версии на испанском, итальянском или французском языках; они могут попытаться найти рецензентов для других языков, но не обязуются это делать. Статьи на всех языках, кроме английского, должны быть предоставлены с переводом на английский язык.</p>

<p><strong>Тезисы:</strong> Тезисы не более 500 слов могут быть предоставлены на английском, испанском, итальянском, португальском или французском языках с переводом на английский. Они должны быть отправлены по электронной почте всем трем редакторам до 7 ноября 2017 г. О решении мы сообщим до 15 января 2018 г. Авторам предложат предоставить готовые статьи со всеми визуальными и другими материалами, а также переводы (если необходимо), в течение шести месяцев после подтверждения.</p>

<p><strong>Обзор и экспертная оценка:</strong> все статьи будут рассмотрены редакторами и рецензентом издателя. Кроме того, в соответствии с практикой серии «Дискуссии в цифровых гуманитарных науках», будет осуществлятся процесс экспертной оценки, в ходе которого каждому участнику предложат прокомментировать как минимум две статьи.</p>

<p><strong>Временные лимиты:</strong></p>
<ul>
<li> Тезисы докладов до: 7 ноября 2017 г.</li> 
<li> Решения о подтверждении заявки: 15 января 2018 г.</li> 
<li> Предложение к печати: 15 февраля 2018 года</li> 
<li> Крайний срок подачи эссе: 15 июня 2018 г.</li> 
<li> Взаимная оценка: июль 2018 года</li> 
<li> Доработка и исправления до: 1 сентября 2018 года</li> 
</ul>

<p><strong>Просьба обращаться к редакторам с любыми вопросами:</strong></p>

<p>Domenico Fiormonte, Università Roma Tre, Rome, Italy (<a href="mailto:domenico.fiormonte@uniroma3.it">domenico.fiormonte@uniroma3.it</a>)</p>

<p>Paola Ricaurte, Tecnológico de Monterrey, Mexico City, Mexico (<a href="mailto:ricaurte.paola@gmail.com">ricaurte.paola@gmail.com</a>)</p>

<p>Sukanta Chaudhuri, Jadavpur University, Kolkata, India (<a href="mailto:sukantac@gmail.com">sukantac@gmail.com</a>)</p>


<p>Translated by Dmytro Yesypenko and Vladimir Nikiforov</p>

	</section>
</div>
