<h1 class="page-title">CFP: Debates in Digital Humanities Pedagogy<br />
Brian Croxall and Diane Jakacki, Editors</h1>
<div class="columns">
	<section class="column-single">
	  <p>Deadline for 500-Word Abstracts: April 1, 2019</p>
	 	<p><strong>Part of the <em>Debates in the Digital Humanities</em> Series</strong><br />
			<small style="font-size: .9em;">
				A book series from the University of Minnesota Press <br />
				Matthew K. Gold and Lauren F. Klein, Series Editors<br />
			</small>
		</p>

<p>Over the last decade, Digital Humanities (DH) has reinvigorated discussions of pedagogy in the academy. Unconferences on DH pedagogy and blogs about teaching with digital methods in the humanities classroom have led to extensive discussions about approaches to teaching at annual disciplinary conferences. At the same time, conversations and debates about teaching digital humanities—whether to undergraduates, graduate students, or to the faculty themselves—have led to more and more people becoming involved in the field, each of them coming from different subjects bringing their own perspectives and praxes with them to the teaching of DH. We have arrived at a moment when institutions are formally integrating DH into the curriculum and granting degrees; we are creating minors, majors, and even graduate certificates in DH; all of this while many of us are still new to the experience of (teaching) DH. This calls for another round of discussion of DH pedagogy or a discussion of pedagogy in a new key.</p>

<p>These students—and the ways in which we teach them—are a very real expression of what each of us as instructors believes digital humanities to be. As our students and our colleagues continue to ask us “What is digital humanities?” we have the opportunity to answer their questions in terms of how we teach digital humanities.</p>

<p>We seek authors who can develop critical arguments around such topics and questions as the following: </p>

<ul>
	<li>What should a DH curriculum look like? Where should those courses have their departmental homes? And how do those home departments affect both the praxis of the instructor and the course outcomes? How much DH does a course need in order for it to “count” as DH? </li>
	<li>What is the impetus for the recent growth and interest in creating DH majors, minors, and graduate certificates? How does the evolution of a formalized curriculum mirror or compare to the creation of programs like Women’s, Gender, or Media Studies?</li>
	<li>How has DH pedagogy changed in the last 10 years? How has it ossified over that same decade? In what ways does the specter of the literature classroom continue to “haunt” or “possess” DH pedagogy?  </li>
	<li>To what degree has the “lab” model of DH pedagogy drawn from traditions of STEM pedagogy? To what degree is it a descendant (in the Darwinian sense) from the Humanities seminar with its tradition of Socratic dialogue? </li>
	<li>Who teaches—or gets to teach—DH? To what degree do universities continue to depend on post-docs, alt-acs, or other people in precarious labor positions to do the work of DH instruction, including designing that curriculum?</li>
	<li>How does the frequent alignment of DH with the library on university campuses affect those who are learning DH and those who are doing the teaching?</li>
	<li>What forms of invisible labor exist in the DH pedagogy, including the ubiquitous guest speaker via Skype, the sharing of syllabi and assignments, or the asking of help from those who have built tools? To what degree should/must pedagogies be similarly open? What would a “proprietary” DH pedagogy look like and could it truly be “DH”?</li>
	<li>How does the ongoing investment of external grant-funding agencies impact the ways in which DH pedagogy evolves at an institution? Who on campus is being supported to ‘learn’ DH in order to teach it?</li>
	<li>What should we make of the trend in DH training towards informal learning experiences—workshops, training institutes, THATCamps—over more formalized coursework, especially at the graduate level? To what degree are these informal training opportunities deployed by various institutions as opportunities for income generation from a population of students who may feel compelled to learn about a growth area within the academy?</li>
	<li>How do questions of access and accessibility affect the student (and instructor) experience? Does DH pedagogy require kinds of digital privilege? </li>
	<li>What are the ethics of asking students to do project work—digitization, OCR correction, etc.—within the bounds of a classroom? What labor can be considered educational and what labor should be compensated?</li>
	<li>What are the outcomes of DH education? Do we have longitudinal data of the students who have gone through formal curricular programs? Are we teaching our humanities students new ways to close-read and critique, or are we providing them with marketable skills? </li>
	<li>What do students think about their DH training? What perspectives do they have to share with those who are doing the teaching and/or making the broader curricular decisions?</li>
</ul>

<p>While we expect that the essays in this volume will draw on the practical experiences of its contributors, it is decidedly not a series of assignment or course case studies. Looking to the title of the series, we place an emphasis on the “Debates” and look forward to abstracts that make arguments about the pedagogies of DH.</p>

<p>Tentative Deadlines</p>
<ul>
	<li>Abstracts due: April 1, 2019		</li>
	<li>Decisions on accepted proposals: May 1, 2019	</li>
	<li>Proposal to press: June 1, 2019	</li>
	<li>Essay Submission Deadline: October 1, 2019</li>
	<li>Peer-to-Peer Review: October 2019	 	</li>
	<li>Revisions Due: January 1, 2020</li>
</ul>

<p>Please contact the editors with any questions:<br>
Brian Croxall, Brigham Young University (<a href="mailto:brian.croxall@byu.edu">brian.croxall@byu.edu</a>)<br>
Diane Jakacki, Bucknell University (<a href="mailto:dkj004@bucknell.edu">dkj004@bucknell.edu</a>) </p>
	</section>
</div>
