<h1 class="page-title">CFP: Global Debates in the Digital Humanities<br />
Domenico Fiormonte, Sukanta Chaudhuri, and Paola Ricaurte, Editors</h1>
<div class="columns">
	<section class="column-single">
	  <p>Deadline for 500-Word Abstracts: November 21, 2017</p>
	 	<p><strong>Part of the <em>Debates in the Digital Humanities</em> Series</strong><br />
			<small style="font-size: .9em;">
				A book series from the University of Minnesota Press <br />
				Matthew K. Gold and Lauren F. Klein, Series Editors<br />
			</small>
		</p>

<p><strong>English</strong> | <a href="cfp_2017_global_digital_humanities_es.html">Español</a> | <a href="cfp_2017_global_digital_humanities_port.html">Português</a> | <a href="cfp_2017_global_digital_humanities_fr.html">Français</a> | <a href="cfp_2017_global_digital_humanities_ar.html"> العربية</a> | <a href="cfp_2017_global_digital_humanities_zh.html"> 中文 </a> | <a href="cfp_2017_global_digital_humanities_ru.html">Русский язык</a></p>

<p>Where does Digital Humanities take place? DH has been described through various metaphors – “big tent”, “trading zone”, “expanded field”, etc. – lacking perhaps one further step: the idea of digital pluralism linked to new geographical and geopolitical dimension. Our aim in this project is therefore to build a different representation of DH based on cultural, political and ultimately epistemological diversity. We are convinced that an extended debate on the application of digital technology to the study of cultural artifacts is taking place in contexts, countries, cultures and languages beyond the dominant centers of DH in the West. We also believe that these debates reflect different visions of DH, including conversations in which the digital humanities are not a dominant concept in the development of technological approaches to the humanities. Quoting Claude Alvares’ Decolonizing History, “The idea that there may be alternative technologies in itself implies the idea of technological pluralism in place of the until now almost universally accepted technological monism. In this case each social system and each political ideology, indeed each culture would be free to develop its own particular line.”</p>

<p>Following this line, we invite proposals for contributions to a collection of essays entitled Global Debates in the Digital Humanities: a collection on the issues and challenges of practicing Digital Humanities (DH) in diverse geographical contexts, countries, and cultures – especially from, but not limited to, the Global South. The aim of the collection is to highlight the critically engaged work of scholars outside the Anglosphere who have contributed to the advancement of DH but whose work has not received due attention for linguistic, cultural, or political reasons.</p>

<p>Although the emphasis will be on unpublished work, the collection may include a limited number of works that previously appeared in languages other than English, including blog posts, online essays, etc. Electronic work can be proposed by its author or by another person. It will be the author’s responsibility to clear copyright where required.</p>

<p><strong>Guiding principles:</strong> Articles may address any aspect of global digital humanities, with these guiding principles in mind:
 <ul>
  <li>Articles should address issues and problems not commonly faced by practitioners of DH in culturally dominant or mainstream contexts. We are particularly interested in non-Anglophone and/or non-Western contexts.</li>
  <li>It is expected that most essays will deal with material in languages other than English, with a stress on non-Western languages. We would especially welcome essays on situations where not only the data but also the user interface employs a non-English language, especially a non-Western language.</li>
  <li>While many papers will no doubt foreground specific projects, <strong>the focus should not be on reporting or describing a project but on some wider issue, problem or principle involved, and should answer a question or present an argument about that subject</strong>. For instance, did the material involve some special technical challenge – e.g. with non-Latin fonts, keyboards, OCR, coding protocols, or the creation of metadata? Were there special problems of access to the material, or social challenges or resistance? How were these problems resolved (or not), and what lessons or benefits to future ventures were learned? Such technical and academic issues might lead to broader issues of cultural politics. But these broader questions should emerge from the discussion of DH projects or problems. Issues of cultural politics will be organic to all material in the volume. <strong>But such issues should emerge from DH projects or problems discussed</strong>.</li>
 </ul>
</p>

<p><strong>Topics may include, but are not limited to, the following:</strong>
 <ul>
  <li>DH and the epistemologies of the South</li>
  <li>DH and theory from the South</li>
  <li>DH and Southern critical perspectives</li>
  <li>DH and cultural criticism</li>
  <li>Critique of DH</li>
  <li>Postcolonial DH</li>
  <li>Decolonial computing</li>
  <li>Alternative histories of DH</li>
  <li>Geopolitics of DH</li>
  <li>Digital hegemonies</li>
  <li>DH and alternative methodologies</li>
  <li>Geopolitics of code</li>
  <li>Technical challenges of DH with non-anglophone and non-Latin material</li>
  <li>DH and alternative technologies</li>
  <li>Open Humanities</li>
  <li>DH and public policy</li>
  <li>DH and local communities</li>
  <li>DH and intercultural problems</li>
  <li>DH and multilingualism</li>
  <li>DH and indigenous knowledge orders</li>
  <li>DH and digital divides</li>
  <li>DH and political debates</li>
  <li>DH and social change in the Global South</li>
  <li>DH and citizen-driven innovation from the South</li>
  <li>DH and social complexity</li>
  <li>DH and surveillance studies</li>
  <li>DH and big data from the South</li>
 </ul>
 <p>

<p><strong>Length:</strong> Articles should not exceed 5,000 words. Diagrams or illustrations may occupy 3-4 additional pages of average print size. Extra diagrams may be adjusted against a shorter text. More space will be considered only in exceptional cases.</p>

<p><strong>Language:</strong> The printed book will be in English. There will also be a digital version, located at <a href="http://dhdebates.gc.cuny.edu">http://dhdebates.gc.cuny.edu</a>, in which original versions in other languages may be published alongside the English translation. It will be the author’s responsibility to provide the English translation and certify its accuracy. The editors can review original versions in Spanish, Italian or French; they may attempt to find reviewers in other languages, but cannot undertake to do so. Articles in all languages other than English should be submitted with an English translation.</p>

<p><strong>Abstracts:</strong> Abstracts of no more than 500 words may be submitted in English, Spanish, Italian, Portuguese or French with an English translation. They should be emailed to all three editors by November 7, 2017. Decisions will be conveyed by January 15, 2018. Authors will be requested to submit the finished articles, with all visuals and other material, plus translations if needed, within six months of acceptance.</p>

<p><strong>Review and peer review:</strong> All articles will be reviewed by the editors and the publisher’s peer reviewer. In addition, in accord with the practice of the Debates in the Digital Humanities series, there will be a process of peer review in which each contributor will be requested to comment on at least two articles.</p>

<p><strong>Tentatives Deadlines:</strong></p>

<ul>
  <li>Abstracts due: November 7, 2017</li>
  <li>Decisions on accepted proposals: January 15, 2018</li>
  <li>Proposal to Press: February 15, 2018</li>
  <li>Essay Submission Deadline: June 15, 2018</li>
  <li>Peer-to-Peer Review: July 2018</li>
  <li>Revisions Due: September 1, 2018</li>
</ul>

<p>Please contact the Editors with any questions:</p>

<p>Domenico Fiormonte, Università Roma Tre, Rome, Italy (<a href="mailto:domenico.fiormonte@uniroma3.it">domenico.fiormonte@uniroma3.it</a>)</p>

<p>Paola Ricaurte, Tecnológico de Monterrey, Mexico City, Mexico (<a href="mailto:ricaurte.paola@gmail.com">ricaurte.paola@gmail.com</a>)</p>

<p>Sukanta Chaudhuri, Jadavpur University, Kolkata, India (<a href="mailto:sukantac@gmail.com">sukantac@gmail.com</a>)</p>


	</section>
</div>
