<h1 class="page-title">CFP: Institutions, Infrastructures at the Interstices<br />
Angel David Nieves and Siobhan Senier, Editors</h1>
<div class="columns">
	<section class="column-single">
	  <p>Deadline for Abstracts: January 1, 2017</p>
	 	<strong>Part of the <em>Debates in the Digital Humanities</em> Series</strong><br />
			<small style="font-size: .9em;">
				A book series from the University of Minnesota Press <br />
				Matthew K. Gold and Lauren F. Klein, Series Editors<br />
			</small>
		</p> 

<p>Digital Humanities has long been seen as the province of large institutions with considerable resources; the Digital Humanities Center (DHC) was once the sine qua non for DH research and graduate-student mentoring. But this is not the way that the vast majority of DH work is really done, if we are willing to acknowledge that digital scholarship, pedagogy and team building are happening in a wider variety of spaces. DH has now spread to a variety of institutions that might never before have imagined conducting digital research and teaching. These include small liberal arts colleges, community colleges, teaching-intensive institutions, Historically Black Colleges and Universities (HBCUs) and Hispanic Serving Institutions (HSIs).</p> 	
 
<p>This volume accepts this diffusion as a welcome development, and seeks to fill a gap in the literature available to practitioners, from DHCs and under-resourced institutions alike, who might be dealing with unexpected infrastructural challenges including those relating to contingent labor, soft money funding, academic hierarchies, state politics, and similar issues. We define “infrastructure” as more than simply the technical, hardware and financial needs of given institutions, programs and centers. We also consider infrastructure to encompass such political, social and economic factors as promotion and tenure processes, student research support, pedagogical development, extra-institutional instruments like project charters and memoranda of understanding--in short, the wide array of ways that the political, social and economic factors inherent in any academic enterprise shape digital work. In these days of increased pressure from university administrators who see DH as either “cash cow” or “the next big thing,” scholars and teachers at a variety of institutions (from the well-endowed to the under-resourced) need practical advice and theoretical guidance on how--and whether--to proceed with their digital initiatives.</p> 
 
<p>Following the model set by the first DH Debates book, the proposed edited volume will feature critical essays and/or other short-form pieces by scholars and DH practitioners representing a diversity of institutions and institutional arrangements. We seek authors who can develop critical arguments around such topics and questions as the following:</p>

<ul> 
<li>How, specifically, are the material conditions of given institutional locations shaping particular DH research and teaching projects?</li>
<li>What have been some of the limitations and challenges of apparently robust institution-wide infrastructure?  Of Digital Humanities Centers and labs?</li>
<li>What kinds of institutional pressures are faced by teachers, scholars and practitioners? In turn, how can scholars exert pressure on higher education administrations to support DH work?</li>
<li>How and where are the less infrastructure-heavy approaches to DH (e.g., “minimal computing,” as described by Alex Gil) being practiced?  To what ends?</li>
<li>What are some of the structural obstacles facing under-resourced schools and groups?</li>
<li>How do we continue to document some of the “alternative” or “hidden” histories of DH and DH infrastructure?</li>
<li>How are undergraduates engaging with DH?  What kinds of support do they need?</li>
</ul>

<p>Deadlines</p>
<ul>
<li>Deadline for Abstracts: January 1, 2017</li>
<li>Deadline for First Drafts: May 1, 2017</li>
<li>Deadline for Final Drafts: January 1, 2018</li>
</ul>

<p>Send proposals, queries and other materials to <a href="mailto:anieves@hamilton.edu">anieves@hamilton.edu</a> and <a href="mailto:Siobhan.Senier@unh.edu">Siobhan.Senier@unh.edu</a>.</p>


	
	</section>
</div>
