<h1 class="page-title">Appel à contribution : Global Debates in the Digital Humanities (Débats sur les humanités numériques à l’échelle mondiale)<br />
Domenico Fiormonte, Sukanta Chaudhuri et Paola Ricaurte, Coordinateurs</h1>
<div class="columns">
	<section class="column-single">
	  <p>Date limite pour les résumés de 500 mots : 28 novembre 2017</p>
	 	<p><strong>Nouveau volume de la collection <em>Debates in the Digital Humanities</em></strong><br />
			<small style="font-size: .9em;">
				Collection publiée par University of Minnesota Press <br />
				et dirigée par Matthew K. Gold et Lauren F. Klein<br />
			</small>
		</p>

<p><a href="cfp_2017_global_digital_humanities.html">English</a> | <a href="cfp_2017_global_digital_humanities_es.html">Español</a> | <a href="cfp_2017_global_digital_humanities_port.html">Português</a> | <strong>Français</strong> | <a href="cfp_2017_global_digital_humanities_ar.html">العربية</a> | <a href="cfp_2017_global_digital_humanities_zh.html"> 中文 </a> | <a href="cfp_2017_global_digital_humanities_ru.html">Русский язык</a></p>


<p>Où se font les Humanités Numériques? Pour parler des Digital Humanities (ci-après DH), on a employé diverses métaphores – « grand chapiteau (big tent) », « zone d'échange (trading zone) », « champ élargi (expanded field) », etc. – mais il manque peut-être à ces descriptions une dimension : l'idée d'un pluralisme numérique lié à de nouveaux cadres géographiques et géopolitiques. L'objectif de ce projet est donc de construire une représentation différente des DH, fondée sur la diversité culturelle, politique et, en fin de compte, épistémologique. Nous sommes convaincus qu'un débat approfondi sur l'application des technologies numériques à l'étude des objets culturels est en cours dans toutes sortes de contextes, de pays, de cultures et de langues, bien au delà de l'Occident et de ses centres DH dominants. Nous croyons également que ces débats reflètent différentes visions des DH, notamment des échanges dans lesquels les Digital Humanities ne sont pas un concept dominant dans le développement d'approches technologiques en sciences humaines. Pour Claude Alvares (Decolonizing History) : « L'idée qu'il existe peut-être des technologies alternatives implique de remplacer par l'idée de pluralisme technologique le monisme technologique qui est jusqu'à maintenant presque universellement accepté. Dans ce cas, chaque système social et chaque idéologie politique, et en réalité chaque culture, serait libre de développer sa voie propre ».</p>

<p>En lien avec cette perspective, nous vous invitons à soumettre des propositions de contributions à un recueil d'essais intitulé Global Debates in the Digital Humanities, qui portera sur les enjeux et les défis de la pratique des Digital Humanities (DH) dans un ensemble varié de contextes géographiques, de pays et de cultures – notamment, mais pas uniquement, dans le Sud global. L'objectif du recueil est de mettre en évidence le travail critique mené par des chercheurs actifs hors de la sphère anglophone et qui ont contribué au progrès des DH, mais dont le travail n'a pas reçu l'attention qu'il mérite, pour des raisons linguistiques, culturelles ou politiques.</p>

<p>Les textes inédits seront privilégiés, mais le recueil pourra inclure certains travaux déjà parus dans d'autres langues que l'anglais, y compris des billets de blog, des essais en ligne, etc. Ces publications numériques peuvent être proposés par l'auteur ou par une autre personne. Il incombera à l'auteur de s'assurer que les droits d'auteur sont disponibles, le cas échéant.</p>


<p><strong>Principes directeurs.</strong></p>
<p>Les articles peuvent aborder tous les aspects des Digital Humanities à l'échelle mondiale, en tenant compte des principes suivants:</p>
<ul>
<li> Les articles doivent aborder des questions et des problèmes que ne rencontrent habituellement pas ceux qui pratiquent les DH dans les contextes culturels dominants. Nous sommes particulièrement intéressés par les milieux non anglophones et non occidentaux.</li>
<li> Il est attendu que les textes traitent pour la plupart de matériaux liés à d'autres langues que l'anglais, spécialement à des langues non occidentales. Nous recevrons avec un vif intérêt des textes portant sur des situations où non seulement les données mais aussi l'interface utilisateur recourent à une langue autre que l'anglais, en particulier une langue non occidentale.</li>
<li> Même si les articles mettent en avant des projets spécifiques, comme ce sera sans doute souvent le cas, <strong>il ne devra pas tant s'agir de faire le point sur un projet, ou de le décrire, mais d'insister sur un enjeu, un problème ou un principe sous-jacent, plus général, pour répondre à une question ou développer une argumentation à son propos</strong>. Par exemple, le matériau suscite-t-il un défi technique particulier (polices dans un alphabet non latin, claviers, reconnaissance de caractères, élaboration de métadonnées…) ? Y a-t-il eu des problèmes spéciaux d'accès au matériau, des défis ou des obstacles de nature sociale ? Comment ces problèmes ont-ils été résolus (ou non), et quelles leçons ou quels bénéfices en tirer pour de futurs projets ? Ces problèmes techniques ou scientifiques sont-ils susceptibles de déboucher sur des questions d'ordre plus général, de politique culturelle? Ces questions, plus larges, doivent résulter de la discussion de projets ou de problèmes appartenant aux DH, ainsi, des questions de politique culturelle pourront être inhérentes à toutes les contributions du volume mais <strong>elles devront émaner des projets ou des problèmes discutés</strong>.</li>
</ul>

<p><strong>Les articles peuvent, notamment, se rattacher aux thèmes suivants:</strong></p>
<ul>
<li> Les DH et les épistémologies du Sud</li>
<li> Les DH et les théories produites dans le Sud</li>
<li> Les DH et les perspectives critiques du Sud</li>
<li> Les DH et la critique culturelle (cultural criticism)</li>
<li> La critique des DH</li>
<li> Les DH post-coloniales</li>
<li> L'informatique décolonisée (decolonial computing)</li>
<li> Les histoires alternatives des DH</li>
<li> La géopolitique des DH</li>
<li> Les hégémonies numériques</li>
<li> Les DH et les méthodologies alternatives</li>
<li> La géopolitique du code</li>
<li> Les défis techniques des DH face aux matériaux non anglophones et non latins</li>
<li> Les DH et les technologies alternatives</li>
<li> Les humanités ouvertes (Open Humanities)</li>
<li> Les DH et les politiques publiques</li>
<li> Les DH et les communautés locales</li>
<li> Les DH et les problèmes interculturels</li>
<li> Les DH et le multilinguisme</li>
<li> Les DH et les ordres du savoir autochtones</li>
<li> Les DH et les fractures numériques</li>
<li> Les DH et les débats politiques</li>
<li> Les DH et le progrès social dans le Sud global (Global South)</li>
<li> Les DH et l'innovation citoyenne dans le Sud</li>
<li> Les DH et la complexité sociale</li>
<li> Les DH et la société de surveillance (surveillance studies)</li>
<li> Les DH et les données massives (big data) dans le Sud</li>
</ul>

<p><strong>Longueur:</strong></p>
<p>les articles ne devront pas dépasser 5 000 mots. Les figures et les illustrations pourront occuper 3 ou 4 pages supplémentaires d'un format imprimé courant. Des figures supplémentaires pourront être envisageables en accompagnement d'un texte plus court. On n'autorisera une longueur supérieure à 5 000 mots qu'à titre exceptionnel.</p>

<p><strong>Langue:</strong></p>
<p>le livre imprimé sera en anglais. Il y aura également une version numérique de l'ouvrage, sur le site http://dhdebates.gc.cuny.edu, dans laquelle les versions originales rédigées dans d'autres langues pourront être publiées avec leur traduction anglaise. Il incombera à l'auteur de fournir la traduction anglaise et de certifier son exactitude. Les coordinateurs sont en mesure d'évaluer les versions originales rédigées en espagnol, en italien ou en français ; ils pourront essayer de trouver des évaluateurs pour d'autres langues, mais ne peuvent s'engager à le faire. Les articles écrits dans toutes les langues autres que l'anglais doivent être soumis avec une traduction anglaise.</p>

<p><strong>Résumés:</strong></p>
<p>des résumés de 500 mots au plus peuvent être soumis, soit en anglais, soit en espagnol, en italien, en portugais ou en français avec une traduction anglaise. Les propositions doivent être envoyés par courrier électronique aux trois coordinateurs au plus tard le 7 novembre 2017. Les décisions seront annoncées au plus tard le 15 janvier 2018. Les auteurs seront priés de soumettre les articles achevés, avec toutes les images et documents annexes, plus leurs traductions si nécessaire, dans les six mois suivant l'acceptation.</p>

<p><strong>Examen et évaluation par les pairs:</strong></p>
<p>tous les articles seront examinés par les coordinateurs et par un évaluateur universitaire désigné par la maison d'édition. De plus, conformément aux habitudes de la collection, une évaluation par les pairs sera organisée dans laquelle chaque contributeur sera invité à commenter au moins deux articles.</p>

<p><strong>Délais prévus:</strong></p>
<ul>
<li>  Envoi des résumés : 7 novembre 2017</li>
<li>  Sélection des propositions : 15 janvier 2018</li>
<li>  Proposition à la maison d'édition : 15 février 2018</li>
<li>  Date limite de remise des textes : 15 juin 2018</li>
<li>  Évaluation par les pairs : juillet 2018</li>
<li>  Envoi des textes révisés : 1er septembre 2018</li>
</ul>

<p>Veuillez contacter les coordinateurs pour toute question :</p>
<ul>
<p>Domenico Fiormonte, Université Roma Tre, Rome, Italie (<a href="mailto:domenico.fiormonte@uniroma3.it">domenico.fiormonte@uniroma3.it</a>)</p>
<p>Paola Ricaurte, Tecnológico de Monterrey, Mexico, Mexique (<a href="mailto:ricaurte.paola@gmail.com">ricaurte.paola@gmail.com</a>)</p>
<p>Sukanta Chaudhuri, Université de Jadavpur, Kolkata, Inde (<a href="mailto:sukantac@gmail.com">sukantac@gmail.com</a>)</p>
</ul>

<p>Cette traduction par Aurélien Berra et Frédéric Clavert est une contribution d'<a href="http://www.humanisti.ca/">Humanistica</a>, l'association francophone des humanités numériques.</p>

	</section>
</div>
