<h1 class="page-title">CFP: Making Humanities Matter<br />
Jentery Sayers, Editor</h1>
<div class="columns">
	<section class="column-single">
	  <p>Deadline for Abstracts: April 3, 2015</p>
	  <p class="red"><strong>This deadline has passed and abstracts are no longer being accepted</strong></p> 
		<p>
			<strong>Part of the <em>Debates in the Digital Humanities</em> Series</strong><br />
			<small style="font-size: .9em;">
				A book series from the University of Minnesota Press <br />
				Matthew K. Gold, Series Editor <br />
				Lauren Klein, Associate Editor
			</small>
		</p>

		<p>
			What does it mean to describe humanities scholarship as built, assembled, or constructed? To call a humanities argument a persuasive or provocative object? To understand humanities disciplines as creative disciplines? To, in short, make things in the humanities? 
		</p>
		
		<p>
			Engaging these questions and more, this volume in the Debates in the Digital Humanities Series examines the arts and humanities in an age of programmable worlds and digital/analog convergence. As both a working title and a framework, we understand "making humanities matter" to invite submissions that, through an attention to both theory and practice: 
			<ul>
				<li>Articulate what exactly it means to make things in the humanities;</li> 
				<li>Describe how humanities research in computing is aligned with the arts and creative practice (e.g., sculpture, performance, visual arts, experimental media, and interaction design), and to what effects on the humanities;</li> 
				<li>Argue for what "humanities matter" should be or do, and why;</li> 
				<li>Attend to how humanities scholarship and its materiality are changing alongside or through the Internet of Things, wearables, bots, physical computing, desktop fabrication, rapid prototyping, and speculative design;</li> 
				<li>Unpack how humanities research is expressed through materials off the page or screen, in the form of tangible objects, tactile media, or human-computer relations; or</li> 
				<li>Attest to the intersections between making things and the perceived relevance of humanities scholarship, including the role of making in public scholarship, community-based research, activism, and memory institutions.</li>    
			</ul>
		</p>

		<p>
			Related questions include but are not limited to:
			<ul>
				<li>How is making a form of experimental research or applied media theory? </li>			
				<li>How can tactile media be scholarship? How can argumentation be expressed through built forms?</li>				
				<li>How is history being made through the (re)construction of artifacts, exhibits, experiments, and interactives?</li>
				<li>How is making associated with reuse, repurposing, old media, and critiques of obsolescence or waste in the humanities?</li>
				<li>How are laboratories, studios, and makerspaces playing a role in humanities research? In these spaces, how are people translating technologies and technical practices into humanities research?</li>
				<li>What does making mean for writing, rhetoric, public communication, peer review, publishing, and the trajectories of (scholarly) argumentation?</li>
				<li>How are teachers integrating making into humanities pedagogy, and how is "making" understood in the scholarship of teaching and learning?</li>
				<li>How is making functioning as a brand or fad, and to what effects on practice and practitioners? More generally, what are some critiques of making as a practice, movement, or concept in and beyond the academy?</li>				
				<li>How are maker, do-it-yourself, or do-it-ourselves movements organized, by whom, for whom, in what relation to industry, and under what assumptions? What are the politics of making?</li>				
			</ul>
		</p>

		<p>
			Practitioners from across the disciplines (regardless of rank, position, or whether they are affiliated with an academic institution) are invited to submit 300-word abstracts by <strong>3 April 2015</strong> to Jentery Sayers at <a href="mailto:jentery@uvic.ca"> jentery@uvic.ca</a>.
		</p>

		<p>
			Collaboratively authored submissions are especially welcome. The <em>Debates in the Digital Humanities</em> editorial team will review all abstracts, and authors of selected abstracts will be invited to submit full manuscripts by 15 June 2015, with peer-to-peer review occurring during July 2015. The volume will be published, in print and online, in 2016.
		</p>

		<p>
			For the volume, contributions may ultimately assume the form of critical essays, case studies, or project assessments (among other options). The word count of the submissions may vary from 2000 to 8000 words, depending on the submission. The editorial team will consult with authors of selected abstracts about the word count of their contributions.	
		</p>

	<p>
			If you have any questions about <em>Making Humanities Matter</em> or this CFP, then please email Jentery Sayers at <a href="mailto:jentery@uvic.ca">jentery@uvic.ca</a>. Sayers is Assistant Professor of English and Cultural, Social, and Political Thought, as well as Director of the <a href="http://maker.uvic.ca/">Maker Lab in the Humanities</a>, at the University of Victoria.
		</p>

		<p>
			<em>Debates in the Digital Humanities</em> is a hybrid print/digital publication stream that explores new debates as they emerge. The first volume was published in 2012 and edited by Matthew K. Gold. For future announcements and news about the series, see <a href="http://dhdebates.gc.cuny.edu/news">http://dhdebates.gc.cuny.edu/news</a> and the twitter hashtag <a href="https://twitter.com/search?q=%23dhdebates">#dhdebates</a>.
		</p>

	
	</section>
</div>
