<h1 class="page-title">CFP: The Digital Black Atlantic<br />
Roopika Risam and Kelly Baker Josephs, Editors</h1>
<div class="columns">
	<section class="column-single">
	  <p>Deadline for 500-Word Abstracts: April 1, 2017</p>
	 	<p><strong>Part of the <em>Debates in the Digital Humanities</em> Series</strong><br />
			<small style="font-size: .9em;">
				A book series from the University of Minnesota Press <br />
				Matthew K. Gold and Lauren F. Klein, Series Editors<br />
			</small>
		</p> 

<p>As digital humanities has expanded in size and scope, a growing number of scholars have explored the affordances of digital humanities for preserving cultural memory; connecting communities; and analyzing the literary, historical, and cultural production of the African diaspora. Since the Digital Diasporas conference held at Maryland Institute for Technology in the Humanities in 2008, digital humanities projects related to African diasporic writers, histories, artists, and communities have gained momentum. We have further seen an increasing number of conference panels at MLA, AHA, HASTAC, CSDH/SCHN, and DH, as well as entire conferences themselves exploring African diasporic digital humanities. Yet, there is currently a significant gap in scholarship that theorizes and analyzes the intellectual scope and foundations of this work and there is a dire need to examine key debates and tensions that emerge as more scholars of the African diaspora engage with and challenge digital humanities methods and praxis.</p>

<p>We position this volume on the “Digital Black Atlantic” as a transnational one that centers both digital humanities approaches to the African diaspora and African diasporic approaches to digital humanities. The geographic sweep of the volume is wide, including scholarship on African American, Afro-Canadian, Afro-Latinx, Caribbean, and Black British culture; scholarship examining digital humanities from countries in Africa and the Caribbean; and transnational approaches that embrace the affordances of digital humanities to negotiate the challenges of understanding race, migration, mobility, blackness, and more in transnational contexts. We are seeking scholarship that blends theory and method while shedding light on the current debates driving this scholarship, including: </p>

<ul>
<li> As competing terms like Black digital humanities, Black Atlantic digital humanities, and postcolonial digital humanities are invoked to describe this body of work, which frameworks are most fitting for capturing the specificities of digital humanities and the African diaspora while negotiating between the multilayered terminology describing African-descended peoples (e.g. black vs. diaspora vs. African American) in the context of digital humanities?</li> 
<li> How are scholars and projects navigating the material politics of digital humanities in the context of the African diaspora? For example, how are questions of transnational collaboration, access, and infrastructure, and funding negotiated to resist the reinscription of (neo)colonial politics in this scholarship?</li>
<li> What kinds of models for scholarly ethics should be developed for digital humanities work on the African diaspora, taking into account the complicated histories of labor, slavery, and colonial appropriation of resources that have historically structured relations between Europe, the United States, and African-descended peoples?</li>
<li> Where and how is digital humanities scholarship on the African diaspora changing the stakes, practices, and questions we ask of digital humanities? Do the particularities of the African diaspora (economic, political, social, linguistic, cross-cultural) require a different modality of digital humanities work and/or mark a radical break from the scholarly tradition that emerges from the United States, Canada, and Europe?</li>
<li> How are digital humanities methods changing the questions that scholars are asking about the African diaspora?</li>
<li> In what ways is digital humanities scholarship beneficial for African-descended cultures and how might it be dangerous? For example, are resources that might be used to preserve print culture being diverted to digital initiatives? How can we ensure that what Angel “Monxo” Lopez calls the “crumbling archives” are not left to ruins as digital ones are created? And how might reliance on existing platforms and technology risk eliding the specificities of African diaspora cultures.</li> 
<li> What kinds of workflows have practitioners found most useful for digital humanities projects located in the histories and cultures of, and/or undertaken in collaboration with, African descended peoples?</li>
</ul>

<p>We are open to various forms of writing and hope to have a mix of genres, including longer form articles, blog length pieces, and white papers.</p> 


<p>Tentative Deadlines</p>
<ul>
<li> Abstracts due: April 1, 2017</li>
<li> Decisions on accepted proposals: May 1, 2017</li>
<li> Proposal to press: June 1, 2017</li>
<li> Essay Submission Deadline: October 1, 2017</li>
<li> Peer-to-Peer Review: October 2017</li>
<li> Revisions Due: December 1, 2017</li>
</ul>

<p>Please contact Roopika Risam (<a href="mailto:rrisam@salemstate.edu">rrisam@salemstate.edu</a>) and/or Kelly Baker Josephs (<a href="mailto:kjosephs@york.cuny.edu">kjosephs@york.cuny.edu</a>) with any questions.</p>


	
	</section>
</div>
