<h1 class="page-title">CFP: Feminist Debates in DH<br />
Jacque Wernimont and Elizabeth Losh, Editor</h1>
<div class="columns">
	<section class="column-single">
	  <p>Deadline for Abstracts: July 15, 2015</p>
	  <p class="red"><strong>This deadline has passed and abstracts are no longer being accepted</strong></p> 
		<p>
			<strong>Part of the <em>Debates in the Digital Humanities</em> Series</strong><br />
			<small style="font-size: .9em;">
				A book series from the University of Minnesota Press <br />
				Matthew K. Gold, Series Editor <br />
				Lauren Klein, Associate Editor
			</small>
		</p>

<p>We invite abstracts that engage with the ideas/themes articulated in our proposal (below); we are open to collaborative and non-traditional authorship models and are committed to a feminist frame that is decolonial, anti-racist, and queer and trans inclusive. As with the initial Debates in DH volume, we welcome pieces in traditional and new media scholarly formats.</p>

<p>From our proposal</p>
<blockquote>"A number of theoretical turns in media and technology studies in recent years have produced a fundamentally different model of computational media that draws the attention of critics to its material, embodied, affective, labor-intensive, and situated character. Rather than present digital culture as the realm of virtual, disembodied, and highly rational interactions predicated on labor-saving technologies and universal design, these critics emphasize how the slick interface of the two-dimensional screen may ultimately mask messy infrastructures and invisible labor.</blockquote>

<p>As Lev Manovich has famously pointed out, the screen both displays and screens out. By following the conventions established by humanities computing in the seventies and emphasizing what could be called "the digitized humanities" rather than a broader and more inclusive "digital humanities" that encompasses every day born digital genres and interrogates the politics in which they are produced, it is possible to reify oppressive cultural norms. In other words, maintaining a focus on remediation of the page could also preserve the filtering mechanisms--the screens--of print culture."</p>

<p>We are interested in grouping sections that might look like: "Code," "Program," "Access/Discipline," "Archive," and "Play" in order to provide an arena to facilitate dialogue and promote intersectional inquiry, but we are not limited by those topics.Topics could also include mobile computing, tracking/wearable devices, circuit bending, and other digital interventions that incorporate insights from human-computer interaction, critical making, and values-centered design.</p>

<p>Please keep in mind that following in the tradition of the first Debates in DH, the production time is relatively rapid. Our schedule is as follows and is subject to press schedules:</p>

<ul>
<li>Accepted Abstracts due: August 15, 2015</li>
<li>Essay Submission Deadline: December 15, 2015</li>
<li>Peer-to-Peer Review: December 2015 and January 2016</li>
<li>Editor's Review of Peer Review/Summary Letter: End of January</li>
<li>Revisions Due: March 1, 2016</li>
<li>Production-ready Manuscript to Minnesota: April 1, 2016.</li>
</ul>

<p>Press review and production process</p>
<p>Book and open access publication April 1, 2017</p>

<p>Please remember that at this stage we are soliciting proposals for a volume that will undergo review through both the University of Minnesota Press (including outside peer review) and the peer-to-peer review process. Acceptance of a proposal is not a guarantee of publication--that said, we do have the enthusiastic support of the series editors and are confident in our collective ability to create a volume that is compelling. We look forward to hearing from you!</p>

<p>In order to propose a piece, please send an abstract and a short (2 page) vita to Jacque Wernimont and Elizabeth Losh at jwernimo (at) asu (dot) edu no later than July 15th 2015. We know this is a fast turn around and we will accept revisions to accepted proposals until 8/15. Please write "Feminist Debates in DH" in the subject.</p>


	
	</section>
</div>
