<h1 class="page-title" align="right">CFP: نقاشات عامة حول الانسانيات الرقمية<br />
المؤلفون:  دومينيكو فيورمونتي، سوكانتا شودوري، و باولا ريكوارتي</h1>
<div class="columns" align="right">
	<section class="column-single">
<p>آخر أجل لاستقبال الملخصات في (500 كلمة): 28 نوفمبر 2017</p>
	 	<p><strong>Part of the <em>Debates in the Digital Humanities</em> Series</strong><br />
			<small style="font-size: .9em;">
				A book series from the University of Minnesota Press <br />
				Matthew K. Gold and Lauren F. Klein, Series Editors<br />
			</small>
		</p>

<p><a href="cfp_2017_global_digital_humanities.html">English</a> | <a href="cfp_2017_global_digital_humanities_es.html">Español</a> | <a href="cfp_2017_global_digital_humanities_port.html">Português</a> | <a href="cfp_2017_global_digital_humanities_fr.html">Français</a> | <strong>العربية</strong> | <a href="cfp_2017_global_digital_humanities_zh.html"> 中文 </a> | <a href="cfp_2017_global_digital_humanities_ru.html">Русский язык</a></p>

<p>&nbsp;</p>

<div align="right">

<p>دعوة للمشاركة:</p>

<p>ما هو الحيز الذي تحتله الإنسانيات الرقمية (Digital Humanities) ؟ يمكننا وصف الإنسانيات الرقمية من خلال العديد من المجازات - "خيمة كبيرة" ، "مجال للتداول"، " فضاء متمدد"......الخ، ينقصنا ربما بعد آخر يتم تضمينه في أي محاولة لتوصيف شامل للإنسانيات الرقمية : فكرة التعددية الرقمية التي ترتبط بأبعاد جغرافية وجيوسياسية جديدة. هدفنا من هذا المشروع إذا هو بناء تمثلات مختلفة عن الإنسانيات الرقمية، ترتكز بشكل جوهري على الإخلاف والتنوع الثقافي والسياسي وأخيرا الابستمولوجي. نحن متأكدون بأنه هناك زخم كبير من النقاشات النظرية حول تطبيق التكنولوجيات الرقمية لدراسة النتاج الثقافي بدأت تأخذ مكانها في سياقات، دول، ثقافات ولغات متنوعة  إلى جانب المراكز المهيمنة على الإنسانيات الرقمية في الغرب.</p>

<p>نحن نؤمن أيضا  أن هذه النقاشات تعكس رؤى متباينة و متنوعة حول الإنسانيات الرقمية، بالإضافة إلى الحوارات التي لا تكون فيها الإنسانيات الرقمية مفهوماً مسيطراً  لتطوير المقاربات التكنولوجية في حقل الإنسانيات. في هذا السياق يقول Claude Alvares في تاريخ إنهاء الاستعمار:"أن فكرة وجود تكنولوجيات موازية في حد ذاتها تعبر عن مبدأ التعددية التكنولوجية كبديل عن مبدأ الأحادية التكنولوجية الذي كان سائدا على نطاق واسع. ففي هذه الحالة كل نظام اجتماعي وكل إيديولوجية سياسية، بل كل ثقافة ستكون حرة في تطوير منطقها التكنولوجي الخاص بها".</p>

<p>تبعا لهذا التوجه، ندعوكم للمشاركة بمقترحات  لإعداد مجموعة من المقالات تحت عنوان: "نقاشات عامة حول الإنسانيات الرقمية" ، في شكل مجموعة مقالات وتحديات متنوعة للتمرس على  الإنسانيات الرقمية (DH) في سياقات جغرافية متنوعة، "دول أو ثقافات خاصة من الجنوب"، الهدف من هذه المقالات هو تسليط الضوء على الأعمال  النقدية للباحثين خارج الفضاء الأنجلوسكسوني والذي ساهم في تقدم الإنسانيات الرقمية ولكن عمله لم يحظى بالاهتمام البالغ لأسباب لغوية، ثقافية أو سياسية. </p>

<p>على الرغم من أن التركيز سيكون على الأعمال غير المنشورة، قد تتضمن المجموعة عددا محدودا من الأعمال التي ظهرت سابقا بلغات أخرى غير اللّغة الإنجليزية، بما في ذلك مشاركات المدونات والمقالات الالكترونية وما إلى ذلك. يمكن اقتراح العمل الإلكتروني من قبل مؤلفه أو من قبل شخص آخر. وستكون من مسؤولية الباحث توضيح حقوق المؤلف عند الحاجة.</p>

<p><strong>_المبادئ التوجيهية:</strong></p>
<p>* قد تتناول المقالات أي بعد من أبعاد الإنسانيات الرقمية العالمية، مع مراعاة المبادئ التوجيهية التالية:</p>
<ul>
<li> يجب أن تعالج المقالات القضايا والمشاكل ليس بالضرورة تلك التي واجهها ممارسو الإنسانيات الرقمية في السياقات المهيمنة ثقافيا أو السياقات السائدة. نحن مهتمون بشكل خاص بالسياقات غير الناطقة بالإنجليزية و / أو غير الغربية.
<li> من المتوقع أن تتعامل معظم المقالات مع مواد بلغات أخرى غير اللّغة الانجليزية، مع التركيز على اللّغات غير الغربية. نود أن نرحب بشكل خاص في بعض الحالات التي لا تكون فيها فقط البيانات بلغة غير انجليزية/غير غربية وإنما أن توظف واجهة المستخدم ذلك أيضا.
<li> بما أن العدید من الأوراق ستطرح دون شك مشاریع بحثية محددة و إسهامات نظرية متعددة، لا ینبغي الترکیز علی إعداد التقاریر أو وصف المشروع  في صيغة بحتة ولکن علی بعض المسائل النظرية الأوسع نطاقا والتي تتجاوز الإشكاليات المطروحة، ویجب أن یجیب علی تساؤلات جديدة أو یقدم حججا ومسا طير إجرائية حول ھذا الموضوع الذي يتم مقاربته . على سبيل المثال: هل تنطوي المادة على بعض التحديات التقنية الخاصة - مثل مع نظم الكتابة غير اللاّتينية، لوحات المفاتيح، OCR، بروتوكولات الترميز، أو إنشاء البيانات الوصفية؟ هل كانت هناك مشاكل خاصة في الوصول إلى المواد أو هناك أي تحديات اجتماعية أو مقاومة؟ و كيف تم حل هذه المشاكل (أم لم يتم حلها)؟، وما هي الدروس أو الفوائد التي تم تعلمها للمشاريع المستقبلية؟ وقد تؤدي هذه القضايا التقنية والأكاديمية إلى قضايا أوسع نطاقا تتعلق بالسياسات الثقافية. ولكن هذه الأسئلة الأوسع ينبغي أن تنبثق من مناقشة مشاريع أو مشاكل الإدارة. قضايا السياسات الثقافية. و يجب أن تظهر من خلال مناقشة مشاريع ومشاكل الإنسانيات الرقمية. مقالات السياسة الثقافية ستكون أساسية لكل المواد في المجلد. لكن بعض المقالات يجب أن تظهر من خلال مشاريع ومشاكل الإنسانيات الرقمية التي تم مناقشتها.
</ul>

<p><strong>المواضيع التي يمكن أن تحتويها المشاركات كالتالي: </strong></p>
<ul>
<li> _الإنسانيات الرقمية وابستومولوجيا الجنوب
<li> _الإنسانيات الرقمية والنظرية في الجنوب
<li> _ الإنسانيات الرقمية والرؤى النقدية الجنوبية
<li> _الإنسانيات الرقمية والنقد الثقافي
<li> _نقد الإنسانيات الرقمية
<li> _الإنسانيات الرقمية ما بعد الاستعمارية
<li> _الحوسبة ما بعد الاستعمارية
<li> _التاريخ البديل للإنسانيات الرقمية
<li> _ جيوسياسية الإنسانيات الرقمية
<li> _الهيمنة الرقمية
<li> _الإنسانيات الرقمية والمناهج البديلة
<li> _جيوسياسة الشفرة
<li> _التحديات التكنولوجية للإنسانيات الرقمية مع المصادر غير الإنجليزية وغير اللاتينية
<li> _الإنسانيات الرقمية والتكنولوجيات البديلة
<li> _الإنسانيات المفتوحة
<li> _الإنسانيات الرقمية والسياسة العامة
<li> _الإنسانيات الرقمية والاتصال المحلي
<li> _الإنسانيات الرقمية ومشاكل ما بين الثقافات
<li> _الإنسانيات الرقمية والتعددية اللّغوية
<li> _ الإنسانيات الرقمية و بناء المعرفة المحلي
<li> _الإنسانيات الرقمية والفجوة الرقمية
<li> _الإنسانيات الرقمية والنقاشات السياسية
<li> _الإنسانيات الرقمية و التغير الإجتماعي في الجنوب
<li> _الإنسانيات الرقمية والإبتكار الذي يحركه المواطنون من الجنوب
<li> _الإنسانيات الرقمية والتعقيد االإجتماعي
<li> _الإنسانيات الرقمية ودراسات الرقابة
<li> _الإنسانيات الرقمية والبيانات الكبيرة (BIG DATA) في الجنوب
</ul>

<p><strong>الحجم:   </strong></p>
<p>يجب ألا تتجاوز المقالات 5000 كلمة. المخططات أو الرسوم التوضيحية قد تشغل 3-4 صفحات إضافية من متوسط حجم الطباعة. قد يتم تعديل المخططات الإضافية مقابل النصوص القصيرة. لن يتم اعتماد الأحجام الكبيرة إلا في الحالات الاستثنائية.</p>

<p><strong>اللّغة:</strong></p>
<p>الكتاب المطبوع سيكون باللّغة الانجليزية . وسيكون هناك نسخة إلكترونية متوفرة على الموقع التالي: http://dhdebates.gc.cuny.edu، أين ستكون النسخة الأصلية بلغات أخرى ربما ستكون متوفرة لاحقا الترجمة الإنجليزية. وستكون من مسؤولية المؤلف توفير الترجمة الإنجليزية والمصادقة على دقتها. يمكن للمحررين مراجعة النسخ الأصلية باللّغة الإسبانية أو الإيطالية أو الفرنسية. محاولين العثور على مراجعين بلغات أخرى، ولكن ليس ضروريا أن يقوموا بذلك. يجب تقديم جميع المقالات المكتوبة بلغات غير الإنجليزية مع ترجمة باللّغة الإنجليزية.</p>

<p><strong>الملخصات:</strong></p>
<p>لا يجب أن تزيد الملخصات عن 500 كلمة و يمكن تقديمها باللّغة الإنجليزية والإسبانية والإيطالية والبرتغالية أو الفرنسية مع الترجمة الإنجليزية. وينبغي إرسالها بالبريد الإلكتروني إلى جميع المحررين الثلاث بحلول 7 نوفمبر 2017. وسيتم إرسال القرار بحلول 15 يناير 2018. وسوف يطلب من المؤلفين تقديم المواد النهائية، مع جميع الصور والمواد الأخرى، بالإضافة إلى الترجمة إذا لزم الأمر، في غضون ستة أشهر من القبول.</p>

<p><strong>المراجعة والتحكيم:</strong></p>
<p>سيتم استعراض جميع المقالات من قبل المحررين والمحكمين. وبالإضافة إلى ذلك، ووفقا للتمرس على المناقشات في سلسلة الإنسانيات الرقمية، ستكون هناك عملية لإستعراض المحكمين يطلب فيها من كل مساهم التعليق على مقالين على الأقل.</p>

<p><strong>المواعيد النهائية:</strong></p>
<ul>
<li> الملخصات المستحقة: 7 نوفمبر 2017
<li> الرد على المقترحات المقبولة: 15 يناير 2018
<li> مقترح الصحافة: 15 فبراير 2018
<li> الموعد النهائي لتقديم الإسهامات: 15 حزيران (يونيو) 2018
<li> استعراض التحكيم العلمي: يوليو 2018
<li> التقيحات الضرورية: 1 سبتمبر 2018
</ul>

<p>_يرجى الإاتصال بالمحررين إذا كانت هناك أي أسئلة:

<ul>
<p>Domenico Fiormente/دومينيكو فيورمونتي، جامعة روما 3، إيطاليا، (<a href="mailto:domenico.fiormonte@uniroma3.it">domenico.fiormonte@uniroma3.it</a>)</p>

<p>Paula Ricuarteباولا ريكورت،Tecnológico de Monterrey ، ميكسيكو (<a href="mailto:ricaurte.paola@gmail.com">ricaurte.paola@gmail.com</a>)</p>

<p>Sukanta Chaudhuri/سوكانتا شودوري، جامعة جادافور، كولكاتا، الهند  (<a href="mailto:sukantac@gmail.com">sukantac@gmail.com</a>)</p>
</ul>

<p>(ترجمة صيدا بنمار)</p>

</div>
	</section>
</div>
