<h1 class="page-title">CFP：数字人文学科的全球辩论<br />
编者：Domenico Fiormonte，Sukanta Chaudhuri和Paola Ricaurte</h1>
<div class="columns">
	<section class="column-single">
	  <p>摘要截止日期（500字）：2017年11月7日</p>
	 	<p><strong>数字人文辩论丛书系列</strong><br />
			<small style="font-size: .9em;">
				明尼苏达大学出版社出版 <br />
				丛书编辑：Matthew K.Gold和Lauren F.Klein<br />
			</small>
		</p>

<p><a href="cfp_2017_global_digital_humanities.html">English</a> | <a href="cfp_2017_global_digital_humanities_es.html">Español</a> | <a href="cfp_2017_global_digital_humanities_port.html">Português</a> | <a href="cfp_2017_global_digital_humanities_fr.html">Français</a> | <a href="cfp_2017_global_digital_humanities_ar.html"> العربية</a> | <strong> 中文 </strong> | <a href="cfp_2017_global_digital_humanities_ru.html">Русский язык</a></p>


<p>哪里是数字人文学科的容身之地？我们已经开始通过各种隐喻（“大帐篷政策”、“贸易区”、“扩大领域”等）对DH进行描述。这些描述也许缺乏了再进一步的深入：即数字多元主义的理念与新的地理和地缘政治层面的关联。因此，这个项目的目标是：通过文化、政治和最终认识论的多样性来建立对DH的不同表述。我们相信，尽管一直以来西方是DH讨论的中心，但在此以外的语境、国家、文化和语言背景下，将数字技术应用在对文化产品（cultural artifacts）的研究方面的辩论正在广泛进行。我们还认为，这些辩论反映了对DH的不同观点，其中就包括关于DH不是通过技术来研究人文的发展路径上的唯一权威概念的对话。 “可能存在替代技术的想法本身，就意味着技术多元化的概念取代了迄今为止几乎被普遍接受的技术一元论。在这种情况下，每一种社会制度和每一种政治意识形态，实际上每种文化，都可以自由地发展自己的特定路线。”——克罗德·阿尔瓦雷斯(Claude. Alvares)《历史的去殖民化》。</p>

<p>遵循这个宗旨，我们邀请大家加入题为《数字人文全球辩论》的论文集：关于在不同的地理环境、国家和文化中实践数字人文（DH）的问题与挑战的合集。特别是但不仅限于“全球南方”（“The Global South”）。此次成集的目的在于，突出英语文化圈之外学者的重要性。他们为发展DH做出了贡献，但是由于语言、文化或政治原因，其工作尚未得到应有的重视。</p>

<p>虽然未发表过的作品是此次收集的重点，但文集也可能会包含数量有限的曾以英语以外的语言发表过的作品，包括博文、网络论文等。电子作品可以由作者本人或其他人提交。作者需要明确版权并对文章的版权相关问题负责。</p>

<p><strong>指导原则：</strong></p>
<p> 文章可以涉及全球数字人文的任何方面，可参考以下指导原则：</p>
<ul>
<li> 文章应解决在占文化主导地位及主流语境中的DH从业者常遇见的问题和困难以外的问题。我们对非英语和/或非西方语境的内容非常感兴趣。
<li> 我们希望大部分论文将处理非英语语言的材料，并强调非西方语言。我们特别欢迎对于采用非英语语言、特别是非西方语言内容的数据及用户界面的分析的论文。
<li> 许多论文无疑会以特定的项目为背景，但重点不应是报告或描述项目，而应涉及更广泛的课题，问题或原则，并应回答一个问题或提出有关这一主题的论点。例如，材料（如非拉丁字体，键盘，OCR，编码协议，或者元数据的创建）是否涉及一些特殊的技术挑战？在资源访问的问题上，是否有特殊的困难，或者社会的挑战或阻力？这些问题是如何被解决的（或没有被解决的）？这些问题对于未来的发展提供了哪些经验教训或益处？这样的技术和学术问题可能会引发对于更广泛的文化政治问题的讨论，但这些问题应该呈现在对DH项目或问题的讨论中。文化政治问题将是文集中所有材料的有机组成部分，但这些问题应该来自或呈现在对DH项目或问题的讨论中。
</ul>

<p><strong>主题可以包括但不限于以下内容：</strong></p>
<ul>
<li> DH与对于全球南方的认识论
<li> DH与来自全球南方的理论
<li> DH和来自全球南方的批判视角
<li> DH与文化批评
<li> DH批判
<li> 后殖民时代的DH
<li> 去殖民化的电脑运算
<li> DH的另类历史
<li> DH的地缘政治
<li> 数字霸权
<li> DH与另类方法论
<li> 代码的地缘政治
<li> 非英语和非拉丁语材料给DH带来的技术挑战
<li> DH与替代技术
<li> 开放人文
<li> DH与公共政策
<li> DH与社区
<li> DH与跨文化问题
<li> DH与多语种
<li> DH与本土知识秩序
<li> DH与数字鸿沟
<li> DH与政治辩论
<li> 全球南方的DH与社会变革
<li> 来自全球南方的DH与公民创新
<li> DH与社会复杂性
<li> DH与监管研究
<li> 来自全球南方的DH与大数据
</ul>

<p><strong>长度：</strong></p>
<p>文章不得超过5000字。图表或插图可以占用3～4页的正常打印篇幅。如果需要添加附加图表，请适当减短文本长度。无特殊情况不接受过长篇幅。</p>

<p><strong>语言：</strong></p>
<p>印刷版本为英文。还将有一个数字版本讲发布在 http://dhdebates.gc.cuny.edu，数字版本可以在英文翻译之外发布其他语言的原始版本，作者需要提供英文翻译并保证其准确性。 编辑人员可以使用西班牙语，意大利语和法语进行审稿，他们会尝试但不保证寻找到其他语言的审稿人。英文以外的所有语言都需要提交英文译文。</p>

<p><strong>摘要：</strong></p>
<p>摘要不得超过500字，可用英文、西班牙文、意大利文、葡萄牙文或法文提交，并配有英文译本。请在2017年11月7日之前通过电子邮件分别发送给三位编辑。采用决定将于2018年1月15日前做出。作者需要在六个月内提交终稿，终稿包括所有视觉材料和其他材料，及所需的英文译文。</p>

<p><strong>审查和业内互审：</strong></p>
<p>所有文章都将由编辑和出版商的审稿人审阅。此外，根据数字人文系列辩论的做法，将会有一个业内互审程序，每位投稿人将被要求对至少两篇文章发表评论。</p>

<p><strong>暂定截止日期：</strong></p>
<ul>
<li> 摘要提交：2017年11月7日；
<li> 收录决定：2018年1月15日；
<li> 提交出版社立项：2018年2月15日；
<li> 终稿提交：2018年6月15日；
<li> 业内互审：2018年7月；
<li> 终稿修订：2018年9月1日。
</ul>

<p>如有任何问题请联系编辑：

<ul>
<p>意大利罗马 / Domenico Fiormonte, Università Roma Tre, Rome, Italy (<a href="mailto:domenico.fiormonte@uniroma3.it">domenico.fiormonte@uniroma3.it</a>)</p>

<p>墨西哥墨西哥城 / Paola Ricaurte, Tecnológico de Monterrey, Mexico City, Mexico (<a href="mailto:ricaurte.paola@gmail.com">ricaurte.paola@gmail.com</a>)</p>

<p>印度加尔各答 / Sukanta Chaudhuri, Jadavpur University, Kolkata, India (<a href="mailto:sukantac@gmail.com">sukantac@gmail.com</a>)</p>
</ul>

<p>(翻譯於玉奎，范曉木)</p>


	</section>
</div>
