<h1 class="page-title">CFP: Global Debates in the Digital Humanities<br />
Domenico Fiormonte, Sukanta Chaudhuri, and Paola Ricaurte, Editors</h1>
<div class="columns">
	<section class="column-single">
	  <p>Fecha límite para envío de resúmenes (500 palabras): 28 de noviembre de 2017</p>
	 	<p><strong>Part of the <em>Debates in the Digital Humanities</em> Series</strong><br />
			<small style="font-size: .9em;">
				A book series from the University of Minnesota Press <br />
				Matthew K. Gold and Lauren F. Klein, Series Editors<br />
			</small>
		</p>

<p><a href="cfp_2017_global_digital_humanities.html">English</a> | <strong>Español</strong> | <a href="cfp_2017_global_digital_humanities_port.html">Português</a> | <a href="cfp_2017_global_digital_humanities_fr.html">Français</a> | <a href="cfp_2017_global_digital_humanities_ar.html">العربية</a> | <a href="cfp_2017_global_digital_humanities_zh.html"> 中文 </a> | <a href="cfp_2017_global_digital_humanities_ru.html">Русский язык</a></p>

<p>¿Dónde tienen lugar las Humanidades Digitales? Las Humanidades Digitales han sido descritas a través de varias metáforas: "gran carpa", "zona de intercambio", "campo expandido", entre otras, pero ha faltado tal vez dar un paso más: trabajar la idea del pluralismo digital vinculado a una nueva dimensión geográfica y geopolítica. Nuestro objetivo en este proyecto es, por tanto, construir una representación diferente de las Humanidades Digitales basada en la diversidad cultural, política, lingüística que es, en primera instancia, epistemológica. Estamos convencidos de que se está desarrollando un amplio debate sobre la aplicación de la tecnología digital al estudio de los artefactos culturales en contextos, países, culturas e idiomas más allá de los centros dominantes de HD en Occidente. También creemos que estos debates reflejan diferentes visiones de las HD, incluyendo conversaciones en las que las humanidades digitales no son un concepto dominante en el desarrollo de enfoques tecnológicos de las humanidades. De acuerdo con Claude Alvares en su libro Decolonizing History: "La idea de que puede haber tecnologías alternativas implica en sí misma la idea del pluralismo tecnológico en lugar del monismo tecnológico casi universalmente aceptado hasta ahora. En este caso, cada sistema social y cada ideología política, de hecho, cada cultura sería libre de desarrollar su propia línea particular.”</p>

<p>Siguiendo esta línea, invitamos a realizar propuestas para contribuciones a la colección de ensayos titulada Global Debates in the Digital Humanities: una colección sobre los problemas y desafíos de la práctica de las Humanidades Digitales en contextos geográficos, países y culturas diversos, especialmente, pero no limitado, al llamado “Sur Global”. El objetivo de la recopilación es destacar la labor críticamente comprometida de humanistas digitales fuera del mundo anglófono que han contribuido al desarrollo del campo, pero cuyo trabajo no ha recibido la debida atención por razones lingüísticas, culturales o políticas.</p>

<p>Aunque el énfasis estará en el trabajo inédito, la colección puede integrar un número limitado de aportaciones que aparecieron anteriormente en idiomas distintos del inglés, incluyendo publicaciones en blogs, ensayos en línea, etc. El trabajo electrónico puede ser propuesto por su autor o por otra persona. Será responsabilidad del autor autorizar los derechos cuando sea necesario.</p>

<p><strong>Criterios:</strong> Los ensayos pueden abordar cualquier aspecto de las humanidades digitales globales, teniendo en mente estos principios:
 <ul>
  <li>Los artículos deben abordar asuntos y problemas que comúnmente no enfrentan los practicantes de HD en contextos culturalmente dominantes o convencionales. Estamos particularmente interesados ​​en contextos no anglófonos y/o no occidentales.</li>
  <li>Se espera que la mayoría de las propuestas trabaje el material en idiomas que no sean el inglés, con un énfasis en lenguas no occidentales. Nos gustaría recibir especialmente ensayos sobre situaciones en las que no solamente los datos, sino también la interfaz de usuario emplea un idioma diferente al inglés, en particular, un idioma no occidental.</li>
  <li>Si bien es cierto que muchos ensayos presentarán proyectos específicos, la atención no debe estar centrada en la descripción del proyecto, sino en algún asunto, problema o principio más amplio y responder a una pregunta o plantear un argumento al respecto. Por ejemplo: ¿el material implicaba algún reto técnico especial, como fuentes no latinas, teclados, reconocimiento óptico de caracteres (ROC), protocolos de codificación o la creación de metadatos? ¿Hubo problemas especiales de acceso al material, desafíos sociales o resistencia? ¿Cómo se resolvieron estos problemas (o no) y qué lecciones se aprendieron para el futuro a partir de estas iniciativas? Tales cuestiones técnicas y académicas podrían conducir a cuestiones más amplias de política cultural, pero estas preguntas más amplias deberán surgir de la discusión de proyectos o problemas HD. Los asuntos de la política cultural serán orgánicos a todo el material en el volumen. Sin embargo, deben surgir de los proyectos DH o los problemas discutidos.</li>
 </ul>

<p><strong>Temas</strong> <br />
<p>Los temas pueden incluir, pero no se limitan a los siguientes:</p>
  <ul>
   <li>HD y las epistemologías del Sur</li>
   <li>HD y teorías del Sur</li>
   <li>HD y perspectivas críticas del Sur</li>
   <li>HD y crítica cultural</li>
   <li>Crítica de las HD</li>
   <li>HD postcoloniales</li>
   <li>Decolonización de la Informática</li>
   <li>Historias alternativas de las HD</li>
   <li>Geopolítica de las HD</li>
   <li>Hegemonías digitales</li>
   <li>HD y metodologías alternativas</li>
   <li>Geopolítica del código</li>
   <li>Desafíos técnicos de HD con material no anglófono y no latino</li>
   <li>HD y tecnologías alternativas</li>
   <li>Humanidades abiertas</li>
   <li>HD y política pública</li>
   <li>HD y comunidades locales</li>
   <li>HD y problemas interculturales</li>
   <li>HD y multilingüismo</li>
   <li>HD y conocimiento indígena</li>
   <li>HD y divisiones digitales</li>
   <li>HD y debates políticos</li>
   <li>HD y cambio social en el Sur Global</li>
   <li>HD y la innovación impulsada por los ciudadanos del Sur</li>
   <li>HD y complejidad social</li>
   <li>HD y estudios de vigilancia</li>
   <li>HD y big data desde del Sur</li>
  </ul>

<p><strong>Extensión</strong><br />
<p>Los artículos no deben exceder las 5.000 palabras. Los diagramas o ilustraciones (300-600 dpi) pueden ocupar 3 o 4 páginas. Es posible incluir diagramas adicionales si el texto es más corto. Se considerará más espacio solamente en casos excepcionales.</p>

<p><strong>Idioma</strong><br />
<p>El libro se editará en inglés. También habrá una versión digital que se encontrará en la página http://dhdebates.gc.cuny.edu, en la que se publicarán las versiones originales en otros idiomas junto con la traducción al inglés. Será responsabilidad del autor proporcionar la traducción al inglés y certificar su exactitud. Los editores pueden revisar las versiones originales en español, italiano, portugués o francés; Pueden intentar encontrar revisores en otros idiomas, pero no pueden comprometerse a hacerlo. Los artículos en todos los idiomas distintos del inglés deben ser presentados con una traducción al inglés.</p>

<p><strong>Resúmenes</strong><br />
<p>Los resúmenes de no más de 500 palabras pueden ser presentados en inglés, español, italiano, portugués o francés con una traducción al inglés. Deberán enviarse por correo electrónico a los tres editores a más tardar el 7 de noviembre de 2017. El resultado del dictamen será notificado el 15 de enero de 2018. Se solicitará a los autores que envíen los artículos terminados, con todos los materiales visuales u otros recursos, además de la traducción al inglés, a más tardar seis meses posteriores a su aceptación, el 15 de junio de 2018.</p>

<p><strong>Revisión</strong><br />
<p>Todos los artículos serán revisados ​​por los editores y pasarán por el proceso de revisión por pares de la casa editorial. Además, de acuerdo con la práctica de la colección Debates in the Digital Humanities, habrá también un proceso de revisión por pares en el que se pedirá a cada contribuyente que comente al menos dos ensayos.</p>


<p><strong>Fechas tentativas</strong></p>
 <ul>
   <li>Resúmenes: 7 de noviembre de 2017</li>
   <li>Notificación de propuestas aceptadas: 15 de enero de 2018</li>
   <li>Envío de propuestas a la editorial: 15 de febrero de 2018</li>
   <li>Fecha límite de entrega de los artículos: 15 de junio de 2018</li>
   <li>Revisión por pares: julio de 2018</li>
   <li>Resultado de la revisión por pares: 1 de septiembre de 2018</li>
 </ul>

<p>Para cualquier duda, por favor contacte a los editores:</p>

<ul>
<p>Domenico Fiormonte, Università Roma Tre, Rome, Italy (<a href="mailto:domenico.fiormonte@uniroma3.it">domenico.fiormonte@uniroma3.it</a>)</p>

<p>Paola Ricaurte, Tecnológico de Monterrey, Mexico City, Mexico (<a href="mailto:ricaurte.paola@gmail.com">ricaurte.paola@gmail.com</a>)</p>

<p>Sukanta Chaudhuri, Jadavpur University, Kolkata, India (<a href="mailto:sukantac@gmail.com">sukantac@gmail.com</a>)</p>
</ul>

<p><a href="http://dhdebates.gc.cuny.edu/cfps/cfp_2017_global_digital_humanities.html">Convocatoria en inglés</a></p>

	</section>
</div>
