<h1 class="page-title">Call for Papers</h1>
<div class="columns">
	<section class="column-single">
		<p>
			Please stay tuned for new CFPs, which will be released in early January 2015.
		</p>
	</section>
</div>