<h1 class="page-title">Calls for Papers</h1>
<div class="columns">
  <section class="column-single">
    <article class="post" id="2015-1-8-update">
      <header class="post--header">
        <strong>Current CFPs</strong>
      </header>
      <ul>
        <li>
			<p>There are currently no active CFPs. Please check back at a later date!</p>        
        </li>
      </ul>
      <header class="post--header">
        <strong>Archived CFPs</strong>
      </header>
      <ul>
        <li>
        <h3><em><a href="cfps/cfp_2017_global_digital_humanities.html">Global Debates in the Digital Humanities</a></em>, Ed. Domenico Fiormonte, Sukanta Chaudhuri, and Paola Ricaurte</h3>
          <h3><em><a href="cfps/cfp_2017_digital_black_atlantic.html">The Digital Black Atlantic</a></em>, Ed. Roopika Risam and Kelly Baker Josephs</h3>
        <li>
          <h3><em><a href="cfps/cfp_2016_infrastructures">Institutions, Infrastructures at the Interstices</a></em>, Ed. Anne McGrail, Angel David Nieves, Siobhan Senier</h3>
        </li>
        <li>
          <h3><em><a href="cfps/cfp_2015_femdh">Feminist Debates in DH</a></em>, Ed. Jacque Wernimont and Elizabeth Losh
          </h3>
        </li>
        <li>
          <h3><em><a href="cfps/cfp_2017_ddh">Debates in the Digital Humanities 2017</a></em>, Ed. Matthew K. Gold and
            Lauren Klein</h3></li>
        <li>
          <h3><em><a href="cfps/cfp_2015_mhm">Making Humanities Matter</a></em>, Ed. Jentery Sayers</h3></li>
          
        <li><h3><em><a href="cfps/cfp_2015_ddh">Debates in the Digital Humanities 2015</a></em>, Ed. Matthew K. Gold and
          Lauren Klein</h3>
        </li>
      </ul>
    </article>
  </section>
</div>
