<h1 class="page-title">Calls for Papers</h1>
<div class="columns">
	<section class="column-single">
		<article class="post" id="2015-1-8-update">
			<header class="post--header">
				<strong>Calls for Papers</strong>
			</header>
				  <h2>Current CFPs</h2>
				  <p>There are no current CFPs</p>

				  <h2>Archived CFPs</h2>
				  <ul>
				    <li>
				      <h3><a href="/cfps/cfp_2015_ddh">Debates in the Digital Humanities 2015</a></h3>
				    </li>
				<li style="margin-top: 2em;">
					<h3><a href="/cfps/cfp_2015_mhm"><em>Making Humanities Matter</em></a></h3>
				</li>
				  </ul>  
		</article>
	</section>
</div>
