<h1 class="page-title">Calls for Papers</h1>
<div class="columns">
  <section class="column-single">
    <article class="post" id="2015-1-8-update">
      <header class="post--header">
        <strong>Current CFPs</strong>
      </header>
      <ul>
        <li>
          <h3><em><a href="cfps/cfp_2016_infrastructures">Institutions, Infrastructures at the Interstices</a></em>, Ed. Angel David Nieves and Siobhan Senier</h3>
        </li>
      </ul>
      <header class="post--header">
        <strong>Archived CFPs</strong>
      </header>
      <ul>
        <li>
          <h3><em><a href="cfps/cfp_2015_femdh">Feminist Debates in DH</a></em>, Ed. Jacque Wernimont and Elizabeth Losh
          </h3>
        </li>
        <li>
          <h3><em><a href="cfps/cfp_2017_ddh">Debates in the Digital Humanities 2017</a></em>, Ed. Matthew K. Gold and
            Lauren Klein</h3></li>
        <li>
          <h3><em><a href="cfps/cfp_2015_mhm">Making Humanities Matter</a></em>, Ed. Jentery Sayers</h3></li>
          
        <li><h3><em><a href="cfps/cfp_2015_ddh">Debates in the Digital Humanities 2015</a></em>, Ed. Matthew K. Gold and
          Lauren Klein</h3>
        </li>
      </ul>
    </article>
  </section>
</div>
