<h1 class="page-title">Calls for Papers</h1>
<div class="columns">
	<section class="column-single">
		<p>
			<strong>2015 Calls for Papers</strong><br />
			<ul>
			<strong><a href="/cfps/cfp_2015_ddh">Debates in the Digital Humanities 2015</a> (Abstract Deadline: February 2, 2015)</strong><br />
			<em>Debates in the Digital Humanities</em> seeks to anthologize the best new work in the digital humanities (DH) each year. For <em>Debates in the Digital Humanities 2015</em>, we invite chapter-length contributions and extended blog posts to complement several confirmed essays . . . [<a href="/cfps/cfp_2015_ddh">read the full CFP</a>]
			</ul>
			<p>&nbsp;</p>
			<ul>
			<strong><a href="/cfps/cfp_2015_mhm">Debates in the Digital Humanities 2015</a> (Abract Deadline: April 3, 2015)</strong><br />
			This volume in the <em>Debates in the Digital Humanities Series</em> examines the arts and humanities in an age of programmable worlds and digital/analog convergence . . . [<a href="/cfps/cfp_2015_mhm">read the full CFP</a>]
			</ul>
		</p>
	</section>
</div>