<p>Welcome to the open-access edition of <em>Debates in the Digital Humanities</em>, an edited collection that brings together leading figures in the digital humanities to explore its theories, methods, and practices and to clarify its multiple tensions and possibilities.</p>

<p>First published in 2012 as a <a href="">printed book</a> by the <a href="">University of Minnesota Press</a>, <em>Debates in the Digital Humanities</em> is expanding into a hybrid print/digital publication platform that will explore new debates as they emerge. The Press plans to draw on these new materials for future iterations of the collected edition and for other publications on more focused topics in the digital humanities. Collectively, these developments will transform the text from a single printed text into a variegated publication stream that explores new terrain in academic publishing, falling somewhere between a book series, a journal, and a collected edition.</p>

<nav class="nav-start">Start reading <%= link_to 'here', :controller => 'debates' %>.</nav>
