<p>Welcome to the open-access edition of <em>Debates in the Digital Humanities</em>, which brings together leading figures in the field to explore its theories, methods, and practices and to clarify its multiple possibilities and tensions.</p>

<%= render "shared/nav_start" %>
