<header class="home-header">
	<%= link_to({ controller: 'debates', action: 'index', id: @editions[-1].id }) do %>
		<%= image_tag("title-image.png") %>
		<span>begin reading now</span>
	<% end %>
</header>

<div class="home-welcome">
	<br>
	<p>Welcome to the open-access edition of <span class="italicized">Debates in the Digital Humanities</span>,<br>a hybrid print/digital publication stream that explores debates in the field as they emerge.</p>
	<p>Choose an edition below.</p>
</div>

<%= render "shared/nav_start" %>
