<p>Welcome to the open-access edition of <em>Debates in the Digital Humanities</em>, an edited collection that brings together leading figures in the digital humanities to explore DH theories, methods, and practices and to clarify its multiple tensions and possibilities.</p>

<p>First published in 2012 as a <a href="http://www.upress.umn.edu/book-division/books/debates-in-the-digital-humanities">printed book</a> by the <a href="http://www.upress.umn.edu/">University of Minnesota Press</a>, <em>Debates in the Digital Humanities</em> is expanding into a hybrid print/digital publication platform that will explore new debates as they emerge.</p>

<nav class="nav-start">Begin reading <%= link_to 'here', :controller => 'debates' %>.</nav>
