<p>Welcome to the open-access edition of <em>Debates in the Digital Humanities</em>, a hybrid print/digital publication stream that explores debates in the field as they emerge. Begin reading <%= link_to({ controller: 'debates', action: 'index', id: @editions[-1].id }) do %>
		here.
	<% end %></p>

<%= render "shared/nav_start" %>
