<p>Welcome to the open-access edition of <em>Debates in the Digital Humanities</em>, which brings together leading figures in the field to explore its theories, methods, and practices and to clarify its multiple possibilities and tensions</p>

<p>First published by the <a href="http://www.upress.umn.edu/">University of Minnesota Press</a> in 2012 as a <a href="/book">printed book</a>, <em>Debates in the Digital Humanities</em> is <a href="/about">expanding</a> into a hybrid print/digital publication stream that will explore new debates as they emerge.</p>

<nav class="nav-start">Begin reading <%= link_to 'here', :controller => 'debates' %>.</nav>
