<h1 class="page-title">News</h1>
<article class="post">
	<header class="post--header">
		<time class="post--dateline">January 3, 2013</time>
		<h1 class="post--title">Welcome to the Open-Access Edition of Debates in the Digital Humanities</h1>
		<h2 class="post--byline">By Matthew K. Gold</h2>
	</header>
	<p>In 2012, the University of Minnesota Press published <a href="http://www.upress.umn.edu/book-division/books/debates-in-the-digital-humanities"><em>Debates in the Digital Humanities</em></a>, a collected edition of essays, blog posts, and wiki entries that brought together leading figures in the digital humanities to explore the possibilities and tensions around DH at a key moment of its emergence. Written and published in a single year and produced through a semi-public, community-based peer-to-peer review process, the book has been become an important resource that provides key views of the rapidly shifting landscape around the digital humanities.</p>
	<p>Now, through a partnership with the <a href="http://www.gc.cuny.edu/Home">Graduate Center of the City University of New York</a> and its new <a href="http://gcdsl.commons.gc.cuny.edu/">GC Digital Scholarship Lab</a>, The University of Minnesota Press is happy to announce the debut of an open-access edition of the book that includes interactive social-reading features designed to take advantage of the web-based format. </p>
	<p>The platform marks a significant shift for <em>Debates in the Digital Humanities</em>, from a single printed edition of collected essays to an expanded, ongoing digital publication stream that the Press plans to draw upon to publish both future editions of collection and other publications on more focused DH topics. The platform, which falls somewhere between a book series, a journal, and a collected edition, thus represents an exciting open-access experiment by an academic publisher at a moment when the future of academic publishing is itself a matter of great debate.</p>
	<p>Key features of the open-source platform include:</p>
	<ul>
		<li>A social-reading experience that allows readers to highlight passages of interest</li>
		<li>Visualizations of reader feedback in “stacked” and “opacity” views</li>
		<li>The ability to toggle feedback visualizations on and off easily</li>
		<li>Smooth navigation that allows easy access to all sections of the book</li>
		<li>Quick loading of new pieces in the browser</li>
		<li>Ability to minimize sidebars for an immersive reading experience</li>
		<li>An attractive, mobile- and tablet-friendly responsive design</li>
		<li>An open-source platform available on Github, ready to be forked and expanded by digital humanities practitioners</li>
	</ul>
	<p>New features currently in development and expected soon include:</p>
	<ul>
		<li>A crowdsourced index constructed from reader feedback</li>
		<li>A fine-grained commenting system that will allow readers to associate comments with specific sentences within the text</li>
	</ul>
	<p>Technical development on the platform was led by <a href="http://castironcoding.com/about/meet-the-team/se/view/single/employee/zach-davis.html">Zach Davis</a> of <a href="http://castironcoding.com/">Cast Iron Coding</a>, with assistance from <a href="http://castironcoding.com/about/meet-the-team/se/view/single/employee/scott-mills.html">Scott Mills</a>, under the aegis of the <a href="http://gcdsl.commons.gc.cuny.edu/">GC Digital Scholarship Lab</a>. <a href="http://www.markabramsdesign.com/">Mark Abrams</a> designed the platform and worked with the Cast Iron Coding team on user experience. GC Digital Fellow <a href="http://digitalfellows.commons.gc.cuny.edu/about/people/">Matthew Slaats</a> assisted with project management. The project was directed by <em>Debates</em> editor <a href="http://mkgold.net/">Matthew K. Gold</a>.</p>
	<p>The feature that provides readers with a way to mark passages as “interesting” was inspired by the <a href="http://prism.scholarslab.org/">Prism tool for collective interpretation</a> that was released by the <a href="http://www.scholarslab.org/announcements/announcing-prism/">University of Virginia’s Scholar’s Lab</a> in 2012 as part of its innovative <a href="http://praxis.scholarslab.org/">Praxis Fellows Program</a>. We’re proud that the involvement of one of <a href="http://digitalfellows.commons.gc.cuny.edu/">GC's Digital Fellows</a> in the planning of the <em>Debates</em> platform marks this project as a node of connection in the emerging <a href="http://news.virginia.edu/content/mellon-grant-extension-boosts-digital-humanities-graduate-training-program">Praxis Network</a>, which is dedicated to rethinking graduate education in the digital era. </p>
	<p>As the development team moves forward from this initial launch, it will be working on the new technical features for the platform. We’d love to have members of the DH community collaborate with us, so if you have ideas for new visualizations or new features, please get in touch through the contact form on our <a href="/about">About</a> page or just check out our code on <a href="https://github.com/castiron/didh">Github</a>.</p>
	<p>Editorial work continues on a new cluster of essays that will debut in March 2013 (see <a href="">related post</a>), with a second set of new essays planned for early Winter, 2013.</p>
	<p>We hope you’ll enjoy the open-access edition of <em>Debates in the Digital Humanities</em> and we look forward to your feedback.</p>
</article>
<article class="post">
	<header class="post--header">
		<time class="post--dateline">January 3, 2013</time>
		<h1 class="post--title">Expanded Edition of Debates in the Digital Humanities Forthcoming in 2013</h1>
		<h2 class="post--byline">By Matthew K. Gold</h2>
	</header>
	<p>We’re delighted to announce that a new cluster of essays will be added to Debates in the Digital Humanities in 2013. Forthcoming pieces include:</p>
	<ul class="unstyled-list">
		<li>Jentery Sayers on “Dropping the Digital”</li>
		<li>Ethan Wattrall on  “Archaeology and the ‘Big Tent’ of Digital Humanities”</li>
		<li>A new piece by the #transformdh collective </li>
		<li>Michael Hancher on “Re: Search and Close Reading”</li>
		<li>Dennis Tenen on “Blunt Instrumentalism”</li>
		<li>Steven E. Jones on “The Emergence of the Digital Humanities”</li>
		<li>Ryan Cordell on “DH, Interdisciplinarity, and Curricular Incursion”</li>
		<li>Katherine D. Harris on “Digital Pedagogy: License to Screw Around”</li>
		<li>Mark Marino on “Why We Must Read the Code”</li>
		<li>A cluster of essays on DH in a global context</li>
		<li>Claire Warwick on “Twitter and Digital Identity”</li>
		<li>Jeff Rice on “Searching the Story of Billy the Kid”</li>
	</ul>
	<p>And others. Please stay tuned for a forthcoming CFP.</p>
</article>