<h1 class="page-title">News</h1>

<article class="post" id="2015-1-8-update">
	<header class="post--header">
		<time class="post--dateline">January 8, 2015</time>
		<h1 class="post--title">Announcing <em>Debates in the Digital Humanities</em>: a new book series from the University of Minnesota Press</h1>
		<h2 class="post--byline">By Matthew K. Gold</h2>
	</header>
	<p>
		<strong><em>Debates in the Digital Humanities</em><br />
			A book series from the University of Minnesota Press</strong><br />
		Matthew K. Gold, Series Editor<br />
		Lauren Klein, Associate Editor<br />
	</p>

	<p>In the three years since <em>Debates in the Digital Humanities</em> was first published by the University of Minnesota Press, debates in and around the digital humanities (DH) have continued to grow. Scholars now anchor major research projects in digital methods; institutions have reorganized, both structurally and financially, to make room for DH programs; and scholars and institutions alike have turned outwards, advocating for the digital humanities on a global stage. At the same time, a number of critiques have forced the field to expand its scope, accounting for more diverse practices and perspectives.</p>

	<p>In this context, we are pleased to announce the <em>Debates in the Digital Humanities Series</em>, a new book series from Minnesota. By identifying ideas and discussions as they emerge, and by providing a platform through which conversations can unfold and be preserved, the series will highlight key tensions that are shaping the field. The series will have two major components: the <em>Debates in the Digital Humanities Annual</em>, which will highlight conversations that have influenced the field during a given year, and books on special topics that warrant more focused and extended discussion.</p>

	<p>Like the original <em>Debates</em> volume, which was published both in print and online through an open-access interactive web platform, the Debates in the Digital Humanities Series will continue to experiment with hybrid forms of publishing. After undergoing multiple processes of peer review, essays will be published first on the open-access interactive book platform located at <a href="http://dhdebates.gc.cuny.edu">http://dhdebates.gc.cuny.edu</a> and subsequently anthologized in the <em>Debates in the Digital Humanities Annual</em>, which will be published in print, e-book, and serial form. Special guest-edited volumes will be published simultaneously on the OA platform with print, e-book, and serial formats. The series will continue to include the kinds of short-form pieces, such as blog posts and twitter compilations, which appeared in the first volume. Taken together, these features will address the core challenge of publishing today: attending to the increasing pace of scholarly conversation at a time when the gap between print and digital continues to grow, while also acknowledging the continuing value of print publication. In both form and process, <em>Debates in the Digital Humanities</em> will model a hybrid scholarly publishing process that takes account of networked forms of scholarly communication.</p>

	<p>The first annual anthology, <em>Debates in the Digital Humanities 2015</em>, will be released to coincide with MLA 2016 and will feature fifteen new essays by scholars and practitioners across the disciplines. Those seeking to contribute to this or to future volumes should consult <a href="http://dhdebates.gc.cuny.edu/cfps/cfp_2015_ddh">the current CFP</a>. Jentery Sayers will edit the first special volume in the series, <em>Making Humanities Matter</em>, which examines the role of the humanities in an age of programmable worlds and digital/analog convergence. A full CFP for that volume <a href="http://dhdebates.gc.cuny.edu/cfps/cfp_2015_mhm">can be found here</a>. A second planned volume, <em>Digital Humanities in a Global Context</em>, edited by Domenico Fiormonte, will examine and critique current formations of the digital humanities from a global perspective.</p>

	<p>Proposals for individual essay contributions or for future special volumes should be addressed to the series editor, Matthew K. Gold (<a href="mailto:mgold@gc.cuny.edu">mgold@gc.cuny.edu</a>) and associate editor, Lauren Klein (<a href="mailto:lauren.klein@lmc.gatech.edu">lauren.klein@lmc.gatech.edu</a>). For future announcements and news about the series, see <a href="http://dhdebates.gc.cuny.edu/news">http://dhdebates.gc.cuny.edu/news</a> and the twitter hashtag <a href="https://twitter.com/search?q=%23dhdebates">#dhdebates</a>.</p>

</article>

<article class="post" id="2013-7-16-update">
	<header class="post--header">
		<time class="post--dateline">July 17, 2013</time>
		<h1 class="post--title">New Features for the DHDebates Platform</h1>
		<h2 class="post--byline">By Matthew K. Gold</h2>
	</header>
	<p>We're delighted to announce version 1.1 of the DHDebates platform, which includes a number of new features:</p>

	<ul>
		<li>Account creation and basic profile editing</li>
		<li>Commenting on sentences for anonymous and logged in users</li>
		<li>Display of comment counts per paragraph for the text</li>
		<li><a href="/apis">JSON APIs for read-only access to the database</a></li>
	</ul>

	<p>These features provide a number of ways for readers of the text to interact with the book. We're especially excited about the comment system, which allows for wide-ranging dialogue in response to the texts included in the book, and we're very excited to debut a <a href="/apis">set of APIs</a>, which we hope DHers will use to examine reader interactions with the texts in the volume.</p>

	<p>Please stay tuned for continued development of the platform. We're also looking forward to debuting a set of new texts and a call for new new submissions, both coming in August 2013.</p>

	<p>As always, we look forward to your responses and to your feedback on these new features.</p>
</article>

<article class="post" id="2013-1-3-welcome">
	<header class="post--header">
		<time class="post--dateline">January 3, 2013</time>
		<h1 class="post--title">Welcome to the Open-Access Edition of Debates in the Digital Humanities</h1>
		<h2 class="post--byline">By Matthew K. Gold</h2>
	</header>
	<p>In 2012, the University of Minnesota Press published <a href="http://www.upress.umn.edu/book-division/books/debates-in-the-digital-humanities"><em>Debates in the Digital Humanities</em></a>, a collected edition of essays, blog posts, and wiki entries that brought together leading figures in the digital humanities to explore the possibilities and tensions around DH at a key moment of its emergence. Written and published in a single year and produced through a semi-public, community-based peer-to-peer review process, the book has been become an important resource that provides key views of the rapidly shifting landscape around the digital humanities.</p>
	<p>Now, through a partnership with the <a href="http://www.gc.cuny.edu/Home">Graduate Center of the City University of New York</a> and its new <a href="http://gcdsl.commons.gc.cuny.edu/">GC Digital Scholarship Lab</a>, The University of Minnesota Press is happy to announce the debut of an open-access edition of the book that includes interactive social-reading features designed to take advantage of the web-based format. </p>
	<p>The platform marks a significant shift for <em>Debates in the Digital Humanities</em>, from a single printed edition of collected essays to an expanded, ongoing digital publication stream that the Press plans to draw upon to publish both future editions of collection and other publications on more focused DH topics. The platform, which falls somewhere between a book series, a journal, and a collected edition, thus represents an exciting open-access experiment by an academic publisher at a moment when the future of academic publishing is itself a matter of great debate.</p>
	<p>Key features of the open-source platform include:</p>
	<ul>
		<li>A social-reading experience that allows readers to highlight passages of interest</li>
		<li>Visualizations of reader feedback in “stacked” and “opacity” views</li>
		<li>The ability to toggle feedback visualizations on and off easily</li>
		<li>Smooth navigation that allows easy access to all sections of the book</li>
		<li>Quick loading of new pieces in the browser</li>
		<li>Ability to minimize sidebars for an immersive reading experience</li>
		<li>An attractive, mobile- and tablet-friendly responsive design</li>
		<li>An open-source platform available on Github, ready to be forked and expanded by digital humanities practitioners</li>
	</ul>
	<p>New features currently in development and expected soon include:</p>
	<ul>
		<li>A crowdsourced index constructed from reader feedback</li>
		<li>A fine-grained commenting system that will allow readers to associate comments with specific sentences within the text</li>
	</ul>
	<p>Technical development on the platform was led by <a href="http://twitter.com/zdavis">Zach Davis</a> of <a href="http://castironcoding.com/about/meet-the-team/se/view/single/employee/zach-davis.html">Cast Iron Coding</a>, with assistance from <a href="http://twitter.com/cscottmills">Scott Mills</a>, under the aegis of the <a href="http://gcdsl.commons.gc.cuny.edu/">GC Digital Scholarship Lab</a>. <a href="http://www.markabramsdesign.com/">Mark Abrams</a> designed the platform and worked with the Cast Iron Coding team on user experience. GC Digital Fellow <a href="http://digitalfellows.commons.gc.cuny.edu/about/people/">Matthew Slaats</a> assisted with project management. The project was directed by <em>Debates</em> editor <a href="http://mkgold.net/">Matthew K. Gold</a>.</p>
	<p>The feature that provides readers with a way to mark passages as “interesting” was inspired by the <a href="http://prism.scholarslab.org/">Prism tool for collective interpretation</a> that was released by the <a href="http://www.scholarslab.org/announcements/announcing-prism/">University of Virginia’s Scholar’s Lab</a> in 2012 as part of its innovative <a href="http://praxis.scholarslab.org/">Praxis Fellows Program</a>. We’re proud that the involvement of one of <a href="http://digitalfellows.commons.gc.cuny.edu/">GC's Digital Fellows</a> in the planning of the <em>Debates</em> platform marks this project as a node of connection in the emerging <a href="http://news.virginia.edu/content/mellon-grant-extension-boosts-digital-humanities-graduate-training-program">Praxis Network</a>, which is dedicated to rethinking graduate education in the digital era. </p>
	<p>As the development team moves forward from this initial launch, it will be working on the new technical features for the platform. We’d love to have members of the DH community collaborate with us, so if you have ideas for new visualizations or new features, please get in touch through the contact form on our <a href="/about">About</a> page or just check out our code on <a href="https://github.com/castiron/didh">Github</a>.</p>
	<p>Editorial work continues on a new cluster of essays that will debut in March 2013 (see <a href="/news/#2013-1-3-expanded-edition">related post</a>), with a second set of new essays planned for early Winter, 2013.</p>
	<p>We hope you’ll enjoy the open-access edition of <em>Debates in the Digital Humanities</em> and we look forward to your feedback.</p>
</article>
<article class="post" id="2013-1-3-expanded-edition">
	<header class="post--header">
		<time class="post--dateline">January 3, 2013</time>
		<h1 class="post--title">Expanded Edition of Debates in the Digital Humanities Forthcoming in 2013</h1>
		<h2 class="post--byline">By Matthew K. Gold</h2>
	</header>
	<p>We’re delighted to announce that a new cluster of essays will be added to <em>Debates in the Digital Humanities</em> in 2013. Forthcoming pieces include:</p>
	<ul class="unstyled-list">
		<li>Jentery Sayers on “Dropping the Digital”</li>
		<li>Ethan Watrall on  “Archaeology and the ‘Big Tent’ of Digital Humanities”</li>
		<li>A new piece by the #transformdh collective </li>
		<li>Michael Hancher on “Re: Search and Close Reading”</li>
		<li>Dennis Tenen on “Blunt Instrumentalism”</li>
		<li>Steven E. Jones on “The Emergence of the Digital Humanities”</li>
		<li>Ryan Cordell on “DH, Interdisciplinarity, and Curricular Incursion”</li>
		<li>Katherine D. Harris on “Digital Pedagogy: License to Screw Around”</li>
		<li>Mark Marino on “Why We Must Read the Code”</li>
		<li>A cluster of essays on DH in a global context</li>
		<li>Claire Warwick on “Twitter and Digital Identity”</li>
		<li>Jeff Rice on “Searching the Story of Billy the Kid”</li>
	</ul>
	<p>And others. Please stay tuned for a forthcoming CFP.</p>
</article>
