<div class="left">
	<div class="top">
		Mark selected text as
	</div>
	<div class="bottom annotate-actions">
		<div class="annotate-interesting">
			<div class="circle circle-blue">&nbsp</div>
			Interesting
		</div>
		<div class="annotate-index">
			<div class="circle circle-orange">&nbsp</div>
			Add to index
		</div>
		<div class="annotate-close">
			<span class="annotate-close-x">X</span>
			Nevermind, don't mark text
		</div>
	</div>
</div>
<% console.log(text) %>
<% count = text.getAnnotationCountFor(sentenceId) %>
<% if (count > 0) { %>
<div class="right">
	<% if (count == 1) { %>
		This text was marked as interesting one time.
	<% } else { %>
		This text was marked as interesting <%= text.getAnnotationCountFor(sentenceId) %> times.
	<% } %>
</div>
<% } %>