<div class="top">
	Mark selected text as
</div>
<div class="bottom annotate-actions">
	<span class="annotate-interesting">
		<span class="circle circle-blue">&nbsp</span>
		Interesting
	</span>
	<span class="annotate-index">
		<span class="circle circle-orange">&nbsp</span>
		Add to index
	</span>
	<span class="annotate-close">Nevermind, don't mark text</span>
</div>