<div class="annotator--left">
	<div class="annotator-panes">
		<div class="annotator-pane annotator-interface-default">
			<header class="annotator--top">
				Mark selected text as
			</header>
			<ul class="annotator--bottom annotate-actions">
				<li class="annotate-interesting">Mark as interesting</li>
				<li class="annotate-comment">Add comment</li>
				<li class="annotate-index">Add to index</li>
				<li class="annotate-close">Nevermind, don't mark text</li>
			</ul>
		</div>
		<div class="annotator-interface-index">
			<ul class="annotator--bottom annotate-actions">
				<li class="annotate-index-input" >
					Under what term should we index this sentence?
					<form id="annotate-index-form" action="#">
						<input class="annotator--input" name="keyword" /><input class="annotator--button" type="submit" value="submit" />
					</form>
				</li>
				<li class="annotate-close">Nevermind, don't mark text</li>
			</ul>
		</div>
	</div>
</div>
<% if(typeof text !== 'undefined') { %>
	<% if (annotationCount > 0 || commentCount > 0) { %>
	<div class="annotator--right js-right">
    <% if (annotationCount > 0 && commentCount > 0) { %>
      <% if (annotationCount == 1) { %>
        This text was marked as interesting one time
      <% } else { %>
        This text was marked as interesting <%= annotationCount %> times
      <% } %>
      <% if (commentCount == 1) { %>
        and commented upon one time.
      <% } else { %>
        and commented upon <%= commentCount %> times.
      <% } %>
    <% } else { %>
      <% if (annotationCount > 0) { %>
        <% if (annotationCount == 1) { %>
          This text was marked as interesting one time.
        <% } else { %>
          This text was marked as interesting <%= annotationCount %> times.
        <% } %>
      <% } %>
      <% if (commentCount > 0) { %>
        <% if (commentCount == 1) { %>
          This text was commented upon one time.
        <% } else { %>
          This text was commented upon <%= commentCount %> times.
        <% } %>
      <% } %>
    <% } %>
	</div>
	<% } %>
<% } %>