<div class="annotator--left">
	<div class="annotator-panes">
		<div class="annotator-pane annotator-interface-default">
			<header class="annotator--top">
				Mark selected text as
			</header>
			<ul class="annotator--bottom annotate-actions">
				<li class="annotate-interesting">Interesting</li>
				<li class="annotate-index">Add to index</li>
				<li class="annotate-close">Nevermind, don't mark text</li>
			</ul>
		</div>
		<div class="annotator-interface-index">
			<ul class="annotator--bottom annotate-actions">
				<li class="annotate-index-input" >
					Under what term should we index this sentence?
					<form id="annotate-index-form" action="#">
					<input class="keyword" name="keyword" />
					<input type="submit" value="submit" />
					</form>
				</li>
				<li class="annotate-close">Nevermind, don't mark text</li>
			</ul>
		</div>
	</div>
</div>
<% if(typeof text !== 'undefined') { %>
	<% count = text.getAnnotationCountFor(sentenceId) %>
	<% if (count > 0) { %>
	<div class="annotator--right js-right">
		<% if (count == 1) { %>
			This text was marked as interesting one time.
		<% } else { %>
			This text was marked as interesting <%= text.getAnnotationCountFor(sentenceId) %> times.
		<% } %>
	</div>
	<% } %>
<% } %>