<div class="annotator--left">
	<header class="annotator--top">
		Mark selected text as
	</header>
	<ul class="annotator--bottom annotate-actions">
		<li class="annotate-interesting">Interesting</li>
		<li class="annotate-index">Add to index</li>
		<li class="annotate-close">
			<b class="annotate-close--x">X</b>
			Nevermind, don't mark text
		</li>
	</ul>
</div>
<% console.log(text) %>
<% count = text.getAnnotationCountFor(sentenceId) %>
<% if (count > 0) { %>
<div class="annotator--right js-right">
	<% if (count == 1) { %>
		This text was marked as interesting one time.
	<% } else { %>
		This text was marked as interesting <%= text.getAnnotationCountFor(sentenceId) %> times.
	<% } %>
</div>
<% } %>