<div class="legend">
	<a class="legend--toggle js-legend--toggle" href="#">Click to close</a>
	<h2 class="legend--title">A Note on Using This Site</h2>
	<p class="legend--description">You can select and mark passages to express interest to the community, or help tag sentences for our index. Passages marked as interesting will feature a blue line in the margin.</p>

</div>
<% if(showHud == true) { %>
<ul class="nav-hud">
	<li class="hud--title"><%= text.get('title') %></li>
	<li class="hud--author"><%= text.getAuthorsList() %></li>
	<li class="hud--details">DH Debates Edition</li>
</ul>
<% } %>