<div class="legend legend-no-bgimage" style="display: none;">
	<h2 class="legend--title">Thank you for submitting terms to the <em>Debates</em> index.</h2>
	<p class="legend--description">
		<em>Feature to view and sort index coming soon.</em>
	</p>
</div>