			<div class="comment-drawer--scroll">
					<h2 class="comment-drawer--heading">Selected passage:</h2>
					<blockquote class="comment-drawer--reference">
					<%= reference %>
					</blockquote>

					<ul class="js-comment-container comment-drawer--list">

						<li class="comment-drawer--comment active">
							<form class="comment-drawer--form">
								<textarea class="text-input" ></textarea>
								<input class="comment-drawer--reply" type="submit" value="Add comment">
							</form>
						</li>

					</ul>
				</div>
				<footer class="comment-drawer--footer">
					<a class="white-bordered-ex-button pull-left js-comment-close" href="#">Close</a>
          <% if (!authenticated) { %>
					<a class="white-bordered-button pull-right js-comment-close js-open-authentication" href="#">Login</a>
					<% } else { %>
          <a class="white-bordered-button pull-right js-comment-close js-open-authentication" href="#">Logged in as <%= screenName %></a>
          <% }  %>
				</footer>