<li class="level-0">
	<header class="js-content-nav--open-toggle pane--header">
		<h2 class="pane--title">Feedback</h2>
		<a class="content-nav--toggle js-content-nav--pos0-show js-content-nav--pos1-show js-content-nav--visible-toggle" href=""></a>
		<a style="display: none;" class="content-nav--toggle content-nav--toggle-pos2 js-content-nav--pos2-show js-content-nav--visible-toggle" href=""></a>
	</header>
 	<section class="pane--content">
	<% if(text != null && static != true) { %>
 		<ul class="count-box-list">
 			<li class="count-box">
 				<h6 class="count-box--title">Sentences marked as interesting</h6>
				<span class="count-box--number"><%= text.getAnnotatedSentenceCount() %></span>
 			</li>
 			<li class="count-box">
 				<h6 class="count-box--title">Sentences Indexed</h6>
				<span class="count-box--number">0</span>
 			</li>
 			<li class="count-box">
 				<h6 class="count-box--title">Total feedback count</h6>
				<span class="count-box--number"><%= text.getAnnotationCount() %></span>
 			</li>
 		</ul>
 		<a class="content--toggle js-content-nav--pos1-show js-content-nav--pos2-show js-content-nav--open-toggle" href="">
 			<b class="content--toggle--arrow"></b>Show/hide feedback
 		</a>
 		<a class="content--toggle js-content-nav--pos0-show js-content-nav--open-toggle" style="display:none;" href="">
 			<b class="content--toggle--arrow-right"></b>Hide feedback options
 		</a>
	<% } else { %>
			<span class="content--toggle">
 					This text does not support user feedback at this time.
     		</span>
	<% } %>
	</section>
</li>
<li class="level-1">
	<header class="js-content-nav--open-toggle pane--header">
		<h2 class="pane--title">Options</h2>
	</header>
	<section class="pane--content pane--vertical-stage">
		<div class="feedback-options">
			<h2 class="feedback-options--title">Feedback Options</h2>
			<ul class="feedback-options--list">
				<li>
					<label class="feedback-options--label">
						<input class="feedback-options--checkbox" type="checkbox" <% if(visualization != 'none') { %> checked="checked" <% } %> id="feedback-view-interesting" />
						<b></b>
						View text marked as interesting
					</label>
					<ul class="feedback-options--sublist">
						<li>
							<label class="feedback-options--label">
								<input class="feedback-options--radio" type="radio" <% if(visualization == 'stacked') { %> checked="checked" <% } %> name="feedback-type" id="feedback-view-interesting-stacked" />
								<b></b>
								<span class="stacked-label">Stacked</span>
							</label>
						</li>
						<li>
							<label class="feedback-options--label">
								<input class="feedback-options--radio" type="radio" <% if(visualization == 'opacity') { %> checked="checked" <% } %> name="feedback-type" id="feedback-view-interesting-opacity" />
								<b></b>
								<span class="opacity-label">Opacity</span>
							</label>
						</li>
					</ul>
				</li>
			</ul>
			<!-- <a href="#" class="js-content-nav--open-toggle">click to minimize feedback options</a> -->
		</div>
	</section>
</li>

