<li class="level-0">
	<header class="pane-toggle pane--header">
		<h2 class="pane--title">Feedback</h2>
		<a class="content-nav--toggle js-content-nav--toggle" href=""></a>
	</header>
	<% if(text != null) { %>
 	<section class="pane--content">
 		<ul class="count-box-list">
 			<li class="count-box">
 				<h6 class="count-box--title">Sentences marked as interesting</h6>
				<span class="count-box--number"><%= text.getAnnotatedSentenceCount() %></span>
 			</li>
 			<li class="count-box">
 				<h6 class="count-box--title">Sentences Indexed</h6>
				<span class="count-box--number">0</span>
 			</li>
 			<li class="count-box">
 				<h6 class="count-box--title">Readers who have offered feedback</h6>
				<span class="count-box--number"><%= text.getAnnotationCount() %></span>
 			</li>
 		</ul>
 		<a class="content--toggle pane-open show-if-pane-closed" href="">
 			<b class="content--toggle--arrow"></b>Show/hide feedback
 		</a>
 		<a class="content--toggle pane-close show-if-pane-open" style="display:none;" href="">
 			<b class="content--toggle--arrow-right"></b>Show/hide feedback
 		</a>

	</section>
	<% } %>
</li>
<li class="level-1">
	<header class="pane--header">
		<h2 class="pane--title">Options</h2>
	</header>
	<section class="pane--content pane--vertical-stage">
		<div class="feedback-options">
			<h2 class="feedback-options--title">Feedback Options</h2>
			<ul class="feedback-options--list">
				<li>
					<label class="feedback-options--label">
						<input class="feedback-options--checkbox" type="checkbox" <% if(visualization != 'none') { %> checked="checked" <% } %> id="feedback-view-interesting" />
						<b></b>
						View text marked as interesting
					</label>
					<ul class="feedback-options--sublist">
						<li>
							<label class="feedback-options--label">
								<input class="feedback-options--radio" type="radio" <% if(visualization == 'stacked') { %> checked="checked" <% } %> name="feedback-type" id="feedback-view-interesting-stacked" />
								<b></b>
								<span class="stacked-label">Stacked</span>
							</label>
						</li>
						<li>
							<label class="feedback-options--label">
								<input class="feedback-options--radio" type="radio" <% if(visualization == 'opacity') { %> checked="checked" <% } %> name="feedback-type" id="feedback-view-interesting-opacity" />
								<b></b>
								<span class="opacity-label">Opacity</span>
							</label>
						</li>
					</ul>
				</li>
			</ul>
			<!-- <a href="#" class="pane-close">click to minimize feedback options</a> -->
		</div>
	</section>
</li>

