<li class="level-0">
	<header class="js-content-feedback--visible-toggle pane--header">
		<a class="icon-chevron-right content-nav--toggle js-content-nav--pos0-show js-content-nav--pos1-show js-content-feedback--visible-toggle" href=""></a>
		<a style="display: none;" class="icon-chevron-left content-nav--toggle content-nav--toggle-pos2 js-content-nav--pos2-show js-content-feedback--visible-toggle" href=""></a>
	</header>
 	<section class="pane--content">
	<% if(text != null && isStatic != true) { %>
 		<ul class="count-box-list">
 			<li class="count-box">
				<span class="count-box--number"><%= text.getAnnotatedSentenceCount() %></span>
 				<h6 class="count-box--title">sentences marked<br>as interesting</h6>
 			</li>
 			<li class="count-box">
				<span class="count-box--number"><%= text.getIndexedSentencesCount() %></span>
 				<h6 class="count-box--title">sentences<br>indexed</h6>
 			</li>
 			<li class="count-box">
				<span class="count-box--number"><%= text.getTotalMarkedAndIndexed() %></span>
 				<h6 class="count-box--title">total times<br>marked or indexed</h6>
 			</li>
 		</ul>
		<div class="feedback-options">
			<ul class="feedback-options--list">
				<li>
					<div class="feedback-options--wrapper">
						<span>View social annotations</span>
						<div class="feedback-options--checkbox">
						    <input type="checkbox" <% if(visualization != 'none') { %> checked="checked" <% } %> name="onoffswitch" class="onoffswitch-checkbox" id="feedback-view-interesting">
						    <label class="onoffswitch-label" for="feedback-view-interesting"></label>
						</div>
					</div>
					<ul class="feedback-options--sublist">
						<li>
							<label class="feedback-options--label">
								<input class="feedback-options--radio  opacity-input" type="radio" <% if(visualization == 'opacity') { %> checked="checked" <% } %> name="feedback-type" id="feedback-view-interesting-opacity" />
								<b></b>
								<span class="opacity-label">Opacity</span>
							</label>
						</li>
						<li>
							<label class="feedback-options--label">
								<input class="feedback-options--radio stacked-input" type="radio" <% if(visualization == 'stacked') { %> checked="checked" <% } %> name="feedback-type" id="feedback-view-interesting-stacked" />
								<b></b>
								<span class="stacked-label">Stacks</span>
							</label>
						</li>
					</ul>
				</li>
			</ul>
		</div>
	<% } else { %>
			<span class="content--toggle">
 					This text does not support user feedback at this time.
     		</span>
	<% } %>
	</section>
</li>

