
<li class="level-0">
	<header class="pane-toggle pane--header">
		<h2 class="pane--title">Feedback</h2>
		<a class="content-nav--toggle js-content-nav--toggle" href="#"></a>
	</header>
	<% if(text != null) { %>
 	<section class="pane--content">
 		<ul class="count-box-list">
 			<li class="count-box">
 				<h6 class="count-box--title">Sentences marked as interesting</h6>
				<span class="count-box--number"><%= text.getAnnotatedSentenceCount() %></span>
 			</li>
 			<li class="count-box">
 				<h6 class="count-box--title">Sentences Indexed</h6>
				<span class="count-box--number">0</span>
 			</li>
 			<li class="count-box">
 				<h6 class="count-box--title">Readers who have offered feedback</h6>
				<span class="count-box--number"><%= text.getAnnotationCount() %></span>
 			</li>
 		</ul>
 		<a class="content--toggle" href="#"><b class="content--toggle--arrow"></b>Click to expand for options to hide or show feedback</a>
	</section>
	<% } %>
</li>
<li class="level-1">
	<header class="pane--header">
		<h2 class="pane--title">Options</h2>
	</header>
	<section class="pane--content pane--vertical-stage">
		Feeback Options
		<ul class="unstyled">
			<li>
				<input type="checkbox" checked="checked" id="feedback-view-interesting" /> View text marked as interesting
			</li>
			<li>
				<input type="radio" name="feedback-type" id="feedback-view-interesting-stacked" />Stacked<br />
			</li>
			<li>
				<input type="radio" name="feedback-type" id="feedback-view-interesting-opacity" />Opacity
			</li>
			<a href="#" class="pane-close">click to minimize feedback options</a>
	</section>
</li>

