<ul class="hud--list">
	<li class="hud--title"><%= text.get('title') %></li>
	<li><span class="hud--author"><%= text.getAuthorsList() %></span></li>
	<li><span class="hud--details"><%= text.get('edition') %></span></li>
</ul>