// Base
// ----

// Applies a natural box layout model to all the things
* {
	@include box-sizing(border-box);
}

// Sets text selection background color
// @include selection(lighten($blue, 40%));

// Global
// --------------------------------------------------------
html {
	font-size: 100%;
	-webkit-text-size-adjust: 100%;
	-moz-text-size-adjust: 100%;
	-ms-text-size-adjust: 100%;
	-webkit-font-smoothing: antialiased;
}

body {
	@include font-museo;
	font-size: 1.125em;
	font-weight: $thin;
	line-height: $baseLineHeight;
	color: $black;
}

// Body classes
// --------------------------
.home {
	font-size: 1em;
	line-height: $looseLineHeight;
	color: $white;
	background-color: $black;
}

.page {
	background-color: $grayLight;
}

// Typography
// --------------------------------------------------------
// Block-level elements
// --------------------------
h1 {
	@extend %heading;
	@extend %alpha;
}

h2 {
	@extend %heading;
	@extend %beta;
  .api-docs & {
    margin-bottom: .5em;
  }
}

h3 {
	@extend %heading;
	@extend %gamma;
}

h4 {
	@extend %heading;
	@extend %delta;
}

h5 {
	@extend %heading;
	@extend %epsilon;
}

.interior-content-page {
  header + p {
    margin-top: .65em;
  }
  p + header {
    margin-top: 1.35em;
  }
}

p {
	margin: 0;
	.interior-content & {
		& + p {
			text-indent: 1.35em;
		}
	}
	.interior-content-page & {
		& + p {
			margin-top: 1.35em;
		}
	}
	.home & {
		@extend %beta;
		& + p {
			text-indent: 0;
			margin-top: 1.35em;
		}
	}
}

ul, ol {
	margin: 0;
	.interior-content-page & {
		margin: .65em 0;
	}
	.interior-content-bare &  {
		margin: 0 0 .65em 0;
	}
}

// Inline elements
// --------------------------
a {
	color: inherit;
	@include transition(0.05s color ease-out);
	text-decoration: none;
	.interior-content p & {
		@extend %body-link;
	}
	.interior-content-page & {
		@extend %body-link;
	}
	.home p & {
		@extend %home-link;
	}
	.callout & {
		@extend %body-link;
	}
}

// Special Classes
// --------------------------
.red {
	color: #FF0000;
	}
