// Components
// ----------

// General purpose classes
// --------------------------------------------------------
.aside {
	@extend %delta;
	@extend %with-gray-dark;
}

// Homepage components
// --------------------------------------------------------
.home-wrapper {
	padding-left: 50%;
	position: relative;
	@include respond-max(1400px) {
		// padding-left: 25%;
	}
}

.home-header {
	@extend %vertical-bar-fixed;
	width: 487px;
	left: 0;
	@include respond-max(1400px) {
		width: 35%;
		// right: 61%;
		// left: auto;
	}
}

.home-masthead {
	$w: 974px;
	$h: 1510px;
	width: $w / 2;
	height: $h / 2;
	display: block;
	background: transparent url('bg-home.jpg') no-repeat left bottom;
	@include background-size(contain);
	position: absolute;
	top: 16%;
	@include respond-max(1400px) {
		width: 100%;
	}
	@include respond-max(1100px) {
		width: 385px;
		position: absolute;
		right: 0;
	}
	@include respond-max-height(900px) {
		top: auto;
		bottom: 0;
	}	
}

.home-title,
.home-byline {
	display: none;
}

.home-content {
	width: 480px;
	padding-bottom: 197px;
	position: relative;
}

.nav-start {
	@extend %beta;
	@extend %loose-top-space;
	a {
		@extend %home-link;
	}
}

// Homepage navigation
// --------------------------
// <ul>
.nav-primary {
	@extend %nav;
	position: absolute;
	bottom: 0;
	left: 0;
}

// <ul>
.nav-footer {
	@extend %floated-list;
	margin-bottom: 10px;
	position: absolute;
	bottom: 0;
	right: 0;
	a {
		@extend %hidden-text;
	}
	.logo-cuny {
		@include background-2x(logo-cuny, 101px, 181px);
	}
	.logo-umn {
		@include background-2x(logo-umn, 69px, 183px);
	}
	.logo-gcdi {
		@include background-2x(logo-gcdi, 123px, 185px);
	}

}

// Interior page components
// --------------------------------------------------------
.page-header {
	@extend %vertical-bar-fixed;
	width: 160px;
	background-color: $black;
	padding: ($space * 2) $shim 0;
	left: 0;
	z-index: 30;
	// .nav-open & {
	// 	@include respond-max(1092px) {
	// 		width: 14.9%;
	// 	}
	// }
}

.interior-title {
	position: absolute;
	bottom: $shim * 2;
	right: 0;
	left: 0;
	a {
		@extend %hidden-text;
		display: block;
		@include background-2x(logo-ddh, 186px, 870px);
		margin: 0 auto;
	}
}

// Interior content wrapper
// TODO adjust margin-left on small screens
.interior-content {
	@extend %content-wrapper;
	padding: ($space * 3) 0;
	position: relative;
	z-index: 10;
	.banner-open & {
		padding-top: $space * 7;
	}
}

// Content wrapper for frontend_page layout
.interior-content-page {
	@extend %smooth-resize;
	width: 1070px;
	background-color: $white;
	padding: ($space * 2) 50px 0 240px;
	padding-right: 80px;
}

// Page banner
// --------------------------
.page-banner {
	background-color: $black;
	margin-left: 160px;
	position: fixed;
	left: 0;
	right: 0;
	z-index: 20;
}

// Lives inside .page--banner
.legend {
	display: none;
	width: 690px;
	height: 160px;
	color: $white;
	background: $black url('bg-banner.jpg') no-repeat left top;
	background-size: 90px 160px;
	padding: 20px 120px 0 90px;
	border-bottom: 2px solid $black;
	position: relative;
	.banner-open & {
		display: block;
	}
}

.legend--title {
	@extend %gamma;
	margin-bottom: 0.5em;
}

.legend--description {
	@extend %eta;
	margin-bottom: 1em;
}

.legend--note {
	@extend %theta;
	img {
		vertical-align: middle;
	}
}

.legend--toggle {
	@extend %theta;
	@extend %with-gray;
	display: block;
	font-weight: 500;
	font-style: italic;
	padding: 1px 20px 1px 0;
	background: transparent url('icon-x-white.png') no-repeat right top;
	background-size: 16px;
	position: absolute;
	top: 13px;
	right: 0;
}

// Lives inside .page-banner
.nav-hud {
	@extend %delta;
	@extend %floated-list;
	// height: 42px;
	background-color: $white;
	padding-left: 18px;
	border-bottom: 1px solid $black;
	li {
		line-height: 40px;
	}
}

.hud--title {

}

.hud--author {
	@extend %delta;	
	text-transform: uppercase;
}

.hud--details {
	@extend %delta;
}

// Content components
// --------------------------
.callout {
	@extend %callout;	
}

// Block quotes
// --------------------------
.blockquote {
	margin-bottom: $shim;
}

// Lives inside .blockquote
.attribution {
	display: block;
	font-weight: 700;
	font-style: normal;
	text-align: right;
	&:before {
		content: "\2014";
	}
}

// Chapter
// --------------------------
.chapter {
	position: relative;
}

.chapter-heading {
	@extend %beta;
	margin-bottom: 1em;
}

.chapter-byline {
	@extend %gamma;
	text-transform: uppercase;
	margin-bottom: 1em;
}

.chapter-section {
	margin-bottom: 25px;
	.figure {
		margin-top: 1em;
		margin-bottom: 1em;
	}
	img {
		margin-top: 1em;
		margin-bottom: 1em;
		max-width: 508px;
	}
	p.rf, p.en {
		margin-bottom: 1em;
		text-indent: 0;
		/* Force linebreaks on long URLs */
		a {
			white-space: pre;           /* CSS 2.0 */
			white-space: pre-wrap;      /* CSS 2.1 */
			white-space: pre-line;      /* CSS 3.0 */
			white-space: -pre-wrap;     /* Opera 4-6 */
			white-space: -o-pre-wrap;   /* Opera 7 */
			white-space: -moz-pre-wrap; /* Mozilla */
			white-space: -hp-pre-wrap;  /* HP Printers */
			word-wrap: break-word;      /* IE 5+ */
		}
	}
	p.ah {
		font-style: italic;
		font-weight: bold;
		margin-top: 1em;
		margin-bottom: 1em;
		text-indent: 0;
	}
	p.bh {
		font-weight: bold;
		margin-top: 1em;
		margin-bottom: 1em;
		text-indent: 0;
	}
	p.ch {
		font-style: italic;
		margin-top: 1em;
		margin-bottom: 1em;
		text-indent: 0;
	}
	.epigraph {
		margin-top: 1em;
		margin-bottom: 1em;
		font-style: italic;
		.ept, .quotail {
			margin-bottom: 1em;
			margin-top: .5em;
			text-indent: 0;
		}
	}
	p.bqs, div.list {
		margin: 2em;
		p {
			text-indent: 0;
		}
	}
}

.chapter-body {
	@extend %justified;
}

.chapter-notes {
	p {
		@extend %delta;
	}
	.enp {
		margin-bottom: 25px;
	}
}

.chapter-bibliography {
	p {
		@extend %delta;
	}
}

span.hover {
	background-color: #FBF330;
}
span.sentence {
	cursor: pointer;
	&:hover {
		background-color: #FBF330;
	}
}


// Interior navigation
// --------------------------
// <ul>
.nav-interior {
	@extend %nav;
}

.nav-content {
	@extend %vertical-bar-fixed;
	@extend %smooth-resize;
	width: $navOpenWidth;
	background-color: $white;
	right: 0px;
	z-index: 30;
//	overflow: hidden;
//	.nav-open & {
//		width: $navOpenWidth;
//		@include respond-max(1092px) {
//			width: 31%;
//		}
//	}
//	.nav-panes--toggle {
//		position: relative;
//		height: 100%;
//		width: 34px;
//		z-index: 10;
//	}
//
}

.nav-content--control {
//	color: inherit;
//	position: absolute;
//	bottom: 20px;
//	right: 20px;
//	z-index: 10;
//	&:focus {
//		outline: 0;
//	}
}

.nav-panes {
	height: 100%;
	position: relative;
}
// <ul>
// Lives inside nav-content
.nav-pane {
	@extend %delta;
	position: relative;
	@extend %unstyled-list;
	li.level-0, li.level-1 {
		@extend %vertical-bar;
		width: $navOpenWidth;
		background-color: $grayLight;
		margin-bottom: 4px;
		@include box-shadow(
			inset $navClosedWidth 0 0 0 $grayLight,
			inset ($navClosedWidth + 4) 0 0 0 $white
		);
	}
	li.level-1 {
		position: relative;
		height: 100%;
		border-left: 4px solid $white;
		width: $navOpenWidth * 2;
		border-bottom: 4px solid $white;
		left: $navOpenWidth + 0px;
	}
}

// <li>
// Lives inside nav-panes
.pane--content {
	width: 100%;
	// @extend %delta;
	line-height: $tightLineHeight;
	padding: 40px 20px 30px 50px;
	position: relative;	
	.pane-top & {
		padding-top: 160px;
	}
	height: 100%;
	& .part {
		margin-bottom: 50px;
		@extend %clearfix;

	}
	& .parts {
		position: relative;
	}
}

.pane--vertical-stage {
	overflow: hidden;
}

.pane-top {
	height: 40%;
	right: 0;
}

.pane-bottom {
	&.reveal-level-0 {
		right: 0;
	}
	&.reveal-level-1 {
		right: ($navOpenWidth * 2) + 4px;
	}
	&.reveal-level-2 {
		right: ($navOpenWidth * 2) + 4px;
	}

	height: 60%;
	top: 0;
}

.pane--header {
	.pane-top & {
		padding-top: 180px;
	}
	cursor: pointer;
	@extend %vertical-bar;
	width: $navClosedWidth;
	left: 0;
	white-space: nowrap;
	z-index: 10;
}

// Width set to height of parent (pane--header)
// with javascript
// Bottom positioning = line-height + padding,
// which makes up for offset due to rotation axis
.pane--title {
	@extend %with-gray-dark;
	@extend %epsilon;
	@include rotate(-90deg, top left);
	line-height: 1;
	text-align: center;
	padding-top: 13px;
	position: absolute;
	bottom: 12.5%;
	left: 0;
	overflow: hidden;
}

.pane-bottom--title {
	top: 50%;
	bottom: auto;
}

// <a>
.content-nav--toggle {
	@extend %circle-arrow;
	position: absolute;
	top: 25%;
	left: 6px;
}

.content-nav--toggle-pos2 {
	@extend %circle-arrow-left;
}


// Pane content toggle
// Lives inside .pane--content
// --------------------------
// <a>
.content--toggle {
	@extend %eta;
	@extend %with-gray-dark;
	font-style: italic;
	position: absolute;
	bottom: $space;
}

.content--toggle--arrow {
	@extend %circle-arrow-small-left;
	float: left;
	margin-right: 5px;
}

.content--toggle--arrow-right {
	@extend %circle-arrow-small;
	float: left;
	margin-right: 5px;
}

// Count boxes
// --------------------------
// <ul>
.count-box-list {
	@extend %tight-floated-list;
	position: absolute;
	bottom: 4em;
}

// <li>
.count-box {
	height: 100px;
	width: 84px;
	background-color: $gray;
	padding: 0 10px;
	position: relative;
}

.count-box--title {
	@extend %eta;
	@extend %with-gray-dark;
	width: 64px;
	text-transform: uppercase;
	margin: 0;
	position: absolute;
	bottom: 40px;
}

.count-box--number {
	@extend %deca;
	@extend %with-gray-darker;
	position: absolute;
	bottom: 2px;
}

// Feedback options
// --------------------------
.feedback-options {
	position: absolute;
	bottom: 4em;
}

.feedback-options--title {
	@extend %beta;
	@extend %with-gray-dark;
	font-style: italic;
	margin-bottom: 1em;
}

.feedback-options--list {
	@extend %unstyled-list;
	& > li + li {
		margin-top: $shim; 
	}
}

.feedback-options--sublist {
	@extend %floated-list;
	padding-left: $space;
	margin-top: 8px;
	li + li {
		margin-left: 15px;
	}
}

.feedback-options--label {
	@extend %input-label;
	@extend %zeta;
	text-transform: uppercase;
	position: relative;
	.stacked-label {
		background: transparent url('icon-stacked.png') no-repeat left top;
		padding-left: 13px;
		margin-left: 4px;
	}
	.opacity-label {
		background: transparent url('icon-opacity.png') no-repeat left top;
		padding-left: 11px;
		margin-left: 4px;
	}
}

.feedback-options--checkbox {
	@extend %checkbox;
}

.feedback-options--radio {
	@extend %radio;
}

// Highlight navigation
// --------------------------
// <ul>
.nav-highlight {
	@extend %unstyled-list;
	@include spaced-items(li, 12px);
	margin-top: 16px;
	a {
		display: inline-block;
	}
}

// <a>
.highlight-emphasis {
	@extend %circle-item-blue;
}

// <a>
.highlight-mark {
	@extend %circle-item;
}

// Table of contents
// --------------------------
// <ul>
.nav-index {
	@extend %unstyled-list;
	@extend %delta;
	@include spaced-items(li, 17px);	
	li:first-child {
		margin-top: 0;
	}
	a {
		line-height: $tightLineHeight;
		color: $grayDark;
		&:hover, 
		&.active {
			color: $black;
		}
		span {
			display: block
		}
	}
	span.author {
		font-weight: 600;
	}
	ul {
		&.closed {
			display: none;
		}
		margin-top: 15px;
		padding-left: 15px;
	}
}
.nav-index-col {
	&:last-child {
		margin-left: 50px;		
	}
	width: $navOpenWidth - 62;
	float: left;
}

// The floating annotator
// --------------------------------------------------------
// <div>
.annotator {
	@extend %delta;
	width: 320px;
	background-color: $gray;
	border: 2px solid white;
	position: absolute;
	top: 0;
	left: 0;
	z-index: 20;
	&:before {
		content: "";
		border: 15px solid transparent;
		border-top: 28px solid $gray;
		position: absolute;
		bottom: -43px;
		left: 26px;
		z-index: 14;
	}
	&:after {
		content: "";
		border: 17px solid transparent;
		border-top: 32px solid $white;
		position: absolute;
		bottom: -49px;
		left: 24px;
		z-index: 12;
	}
}

// Annotator sections
// --------------------------
.annotator--top {
	font-style: italic;
	color: $grayDark;
	background-color: $gray;
	padding: 0.5em 1em;
	border-bottom: 2px solid $white;
}

// Expands to 316px wide
.annotator--right {
	color: $white;
	width: 125px;
	background-color: darken($gray, 30%);
	padding: 0.5em;
	border: 2px solid $white;
	position: absolute;
	left: 191px; 
	top: -2px;
	bottom: -2px;
	z-index: 10;
}

.annotator--left {
	background-color: $gray;
	position: relative;
	z-index: 20;
}

// Bottom
// --------------------------
// <ul>
.annotator--bottom {
	@extend %clearfix;
	@extend %unstyled-list;
	padding: 1em;
	li {
		@extend %pull-left;
		cursor: pointer;
	}
}

// <li>
.annotate-interesting {
	@extend %circle-item-small-blue;
}

// <li>
.annotate-index {
	@extend %circle-item-small-orange;
	margin-left: 1em;
}

.annotate-index-input {
	padding-left: 15px;
	padding-right: 15px;
}


// <li>
.annotate-close {
	padding-left: 30px;
	margin-top: 10px;
	position: relative;
}

.annotate-close--x {
	font-weight: 300;
	position: absolute;
	top: 0;
	left: 5px;
}

// Annotation flag
// Seen to the left of text
// --------------------------
.annotation {
	display: block;
	width: 5px;
	height: 10px;
	background: $blueDark;
	position: absolute;
	left: -100px;
	overflow: visible;
}


// Annotation Counter [SM TO REVIEW] -- this is not being used yet, so you can ignore it for now.
// --------------------------
// <div>
.annotation-counter {
	position: absolute;
	z-index: 8000;
	left: 20px;
	width: 300px;
	background: $grayDark;
	height: 150px;
}

// Lists
// --------------------------------------------------------
// Link-list
// --------------------------
.link-list {
	@extend %unstyled-list;
	li {
		position: relative;
	}
	li + li {
		margin-top: $shim;
	}
}

.link-list--title {
	@extend %delta;
	width: 5.5em;
	text-transform: uppercase;
	position: absolute;
	top: 0;
	left: 0;
}

.link-list--link {
	@extend %delta;
	display: block;
	color: $black;
	word-wrap: break-word;
	margin-left: 6em;
}

// Name list
// --------------------------
.name-list {
	@extend %delta;
	@extend %unstyled-list;
}

// Two column layouts
// Best suited to frontend_page layout
// -------------------------------------------------------- 
.columns {
	@extend %clearfix;
}

// Two equal-width columns
// To be used only alongside another column-equal
.column-equal {
	@extend %column;
	width: 350px;
	// @include respond-max(1092px) {
	// 	width: 100%;
	// 	float: none;
	// 	& + & {
	// 		margin-left: 0;
	// 	}
	// }
}

// To be used alongside column-narrow
.column-wide {
	@extend %column;
	width: 500px;
}

// To be used alongside column-wide
.column-narrow {
	@extend %column;
	width: 200px;
}

// full-width column
// Allows mixing of partial-width & full-width content
// within .columns
.column-single {
	width: 100%;
	margin-bottom: $shim * 2;
	clear: both;
}

// Column typographic components
// --------------------------
.column--heading {
	@extend %subsection-heading;
}
