// Components
// ----------

// General purpose classes
// --------------------------------------------------------
.aside {
	@extend %delta;
	@extend %with-gray-dark;
}

// Homepage components
// --------------------------------------------------------
.home-wrapper {
	margin-left: 35%;
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	@include respond-max(1120px) {
		margin-left: 30%;
	}
}

.home-title,
.home-byline {
	display: none;
}

.home-header {
	$w: 974px;
	$h: 1510px;
	@extend %vertical-bar-fixed;
	width: 35%;
	background: transparent url('bg-home.jpg') no-repeat left bottom;
	background-size: 100% auto;
	left: 0;
	@include respond-max(1391px) {
		background-position: right bottom;
		background-size: ($w / 2) ($h / 2);
	}
	@include respond-max(1120px) {
		width: 30%;
	}
	.no-backgroundsize & {
		background-image: url('bg-home-half.jpg');
	}
}

.home-content {
	width: 40em;
	padding-bottom: 11em;
	margin: 0 0 $space 10%;
	position: absolute;
	bottom: 0;
	left: 0;

	@include respond-max(1040px) {
		width: 90%;
		font-size: 0.9em;
		padding-right: 10px;
	}
	@include respond-max(740px) {
		font-size: 0.88em;
		padding-bottom: 0;
	}
	@include respond-max(500px) {
		padding-top: $space;
		position: relative;
	}
	@include respond-max-height(650px) {
		padding-top: $space;
		position: relative;
	}
}

.nav-start {
	@extend %alpha;
	@extend %loose-top-space;
	a {
		@extend %home-link;
	}
}

// Homepage navigation
// --------------------------
// <ul>
.nav-primary {
	@extend %alpha;
	@extend %nav;
	position: absolute;
	bottom: 0;
	left: 0;
}

// <ul>
.nav-footer {
	@extend %loose-floated-list;
	margin-bottom: 10px;
	position: absolute;
	bottom: 0;
	right: 0;
	@include respond-max(1040px) {
		right: 10px;
	}
	a {
		height: 5em;
		@include respond-max(860px) {
			height: 4em;
		}
	}
	img {
		height: 100%;
	}
}

.nav-primary,
.nav-footer {
	@include respond-max(740px) {
		padding-top: $space;
		position: static;
	}
}

// Interior page components
// --------------------------------------------------------
.page-header {
	@extend %smooth-resize;
	@extend %vertical-bar-fixed;
	width: 160px;
	background-color: $black;
	padding: ($space * 2) $shim 0;
	left: 0;
	z-index: 30;
	@include respond-max(810px) {
		width: 128px;
		font-size: 0.8em;
		padding-top: $space;
	}
	@include respond-max-height(800px) {
		padding-top: $shim / 2;
	}
	@include respond-max-height(700px) {
		width: 128px;
		font-size: 0.8em;
		padding-top: $space;
	}
}

.interior-title {
	position: absolute;
	bottom: $shim * 2;
	right: 0;
	left: 0;
	@include respond-max-height(800px) {
		bottom: $shim / 2;
	}
	a {
		@extend %hidden-text;
		display: block;
		width: 58%;
		height: 435px;
		background: transparent url('logo-ddh.png') no-repeat left bottom;
		background-size: 100% auto;
		margin: 0 auto;
		.no-backgroundsize & {
			background-image: url('logo-ddh-half.png');
		}

	}
}

// Interior content wrapper
// TODO adjust margin-left on small screens
.interior-content {
	@extend %content-wrapper;
	padding-top: ($space * 4);
	padding-bottom	: ($space * 4);
	position: relative;
	z-index: 10;
}

// Content wrapper for frontend_page layout
.interior-content-page {
	@extend %smooth-resize;
	width: 1070px;
	background-color: $white;
	padding: ($space * 2) 80px ($space * 2) 240px;
	@include respond-max(1070px) {
		width: 100%;
	}
	@include respond-max(776px) {
		padding-right: 40px;
		padding-left: 200px;
	}
}

// Page banner
// --------------------------
.page-banner {
	@extend %smooth-resize;
	@extend %horizontal-bar-fixed;
	background-color: $grayAlt;
	border-top: 1px solid darken($grayAlt, 10%);
	margin-left: 160px;
	bottom: 0;
	z-index: 20;
	@include respond-max(810px) {
		margin-left: 128px;
	}
	@include respond-max-height(700px) {
		margin-left: 128px;
	}
}

// Lives inside .page-banner
.legend {
	display: none;
	width: 690px;
	background: $grayAlt url('bg-banner.jpg') no-repeat left top;
	background-size: auto 260px;
	padding: 20px 120px 20px 145px;
	position: relative;
	.banner-open & {
		display: block;
	}
	.no-backgroundsize & {
		background-image: url('bg-banner-half.jpg');
	}
}

.legend-no-bgimage {
  background:  none;
}

.legend--title {
	@extend %beta;
	margin-bottom: 0.5em;
}

.legend--description {
	@extend %delta;
	margin-bottom: 1em;
}

.legend--note {
	@extend %theta;
	img {
		vertical-align: middle;
	}
}

.legend--toggle {
	@extend %theta;
	display: inline-block;
	font-weight: 500;
	font-style: italic;
	line-height: 18px;
	padding-left: 24px;
	background: transparent url('icon-x.png') no-repeat left center;
	background-size: 18px;
	.no-backgroundsize & {
		background-image: url('icon-x-half.png');
	}
}

// Head-up display
// --------------------------
.nav-hud {
	@extend %smooth-resize;
	@extend %horizontal-bar-fixed;
	background-color: $white;
	margin-left: 160px;
	top: 0;
	z-index: 20;
	@include respond-max(810px) {
		margin-left: 128px;
	}
	@include respond-max-height(700px) {
		margin-left: 128px;
	}
}

.hud--list {
	@extend %delta;
	@extend %floated-list;
	@extend %smooth-resize;
	color: lighten($black, 40%);
	background-color: $white;
	padding: 0.69em 1.25em;
	border-bottom: 1px solid lighten($black, 70%);
	margin-right: $navClosedWidth;
	cursor: pointer;
	&:hover {
		color: $black;
		border-bottom-color: $black;
	}
	.nav-open & {
		margin-right: $navOpenWidth;
	}
	li {
		width: 22%;
		max-width: 20em;
		line-height: 22px;
		padding-left: $space;
		white-space: nowrap;
		overflow: hidden;
		text-overflow: ellipsis;
		&.hud--title {
			width: 34%;
			max-width: 20em;
		}
		&:first-child {
			padding-left: 0;
		}
		&:last-child {
			padding-left: 0;
		}
	}
	@include respond-max(1100px) {
		padding: 0.69em 0.625em;
		li {
			padding-left: $space / 2;
			&:first-child {
				padding-left: 0;
			}
			&:last-child {
				padding-left: 0;
			}
		}
	}
	@include respond-max(810px) {
		.nav-open & {
			li {
				display: none;
				width: 25%;
				&.hud--title,
				&.hud--user {
					display: block;
				}
				&.hud--title {
					width: 75%;
				}
			}
		}
	}
}

// <li>
// .hud--title {
// 	max-width: 25.25em;
// 	@include respond-max(1024px) {
// 		max-width: 50% !important;
// 	}
// }

// <span>
.hud--author {
	@extend %delta;
	text-transform: uppercase;
}

// <span>
.hud--details {
	@extend %delta;
}

// <li>
.hud--user {
	// width: 160px;
	color: lighten($black, 40%);
	text-align: right;
	// This !important overrides the default %floated list styles
	float: right !important;
	position: relative;
	strong {
		font-weight: 300;
		color: $black;
	}
	@include respond-max(810px) {
		em {
			display: none;
		}
	}
}

// Authentication dropdown
// --------------------------
// Lives inside .nav-hud
.authentication {
	background-color: $grayDarker;
	padding: 20px;
	position: absolute;
	bottom: 0;
	right: $navClosedWidth;
	z-index: -1;
	.nav-open & {
		right: $navOpenWidth;
	}
	ul {
		@extend %unstyled-list;
		text-align: right;
		li + li {
			margin-top: 14px;
		}
	}
	form {
		@extend %clearfix;
		.right,
		.left {
			margin-top: 14px;
		}
		.right {
			float: right;
		}
		.left {
			float: left;
		}
	}
}

.authentication--label {
	@extend %eta;
	display: block;
	font-style: italic;
	color: $white;
	margin-bottom: 6px;
	&.right {
		text-align: right;
	}
}

// Content components
// --------------------------
.callout {
	@extend %callout;
}

// Block quotes
// --------------------------
.blockquote {
	margin-bottom: $shim;
}

// Lives inside .blockquote
.attribution {
	display: block;
	font-weight: 700;
	font-style: normal;
	text-align: right;
	&:before {
		content: "\2014";
	}
}

// Chapter
// --------------------------
.chapter {
	position: relative;
}

.chapter-heading {
	@extend %beta;
	margin-bottom: 1em;
}

.chapter-byline {
	@extend %gamma;
	text-transform: uppercase;
	margin-bottom: 1em;
}

.chapter-section {
	margin-bottom: 25px;
	.figure {
		margin-top: 1em;
		margin-bottom: 1em;
	}
	img {
		margin-top: 1em;
		margin-bottom: 1em;
		max-width: 508px;
	}
	p.rf, p.en {
		margin-bottom: 1em;
		text-indent: 0;
		/* Force linebreaks on long URLs */
		a {
			white-space: pre;           /* CSS 2.0 */
			white-space: pre-wrap;      /* CSS 2.1 */
			white-space: pre-line;      /* CSS 3.0 */
			white-space: -pre-wrap;     /* Opera 4-6 */
			white-space: -o-pre-wrap;   /* Opera 7 */
			white-space: -moz-pre-wrap; /* Mozilla */
			white-space: -hp-pre-wrap;  /* HP Printers */
			word-wrap: break-word;      /* IE 5+ */
		}
	}
	p.ah {
		font-style: italic;
		font-weight: bold;
		margin-top: 1em;
		margin-bottom: 1em;
		text-indent: 0;
	}
	p.bh {
		font-weight: bold;
		margin-top: 1em;
		margin-bottom: 1em;
		text-indent: 0;
	}
	p.ch {
		font-style: italic;
		margin-top: 1em;
		margin-bottom: 1em;
		text-indent: 0;
	}
	.epigraph {
		margin-top: 1em;
		margin-bottom: 1em;
		font-style: italic;
		.ept, .quotail {
			margin-bottom: 1em;
			margin-top: .5em;
			text-indent: 0;
		}
	}
	p.bqs, div.list {
		margin: 2em;
		p {
			text-indent: 0;
		}
	}
}

.chapter-body {
	@extend %justified;
}

.chapter-notes {
	p {
		@extend %delta;
	}
	.enp {
		margin-bottom: 25px;
	}
}

.chapter-bibliography {
	p {
		@extend %delta;
	}
}

// Sentences
// --------------------------
// span.hover {
// 	background-color: lighten($yellow, 10%);
// }

span.indexed {
  text-decoration:  underline;
}

span.sentence {
	cursor: pointer;
	&.hover,
	&:hover {
		@extend %active-sentence;
		background-color: lighten($yellow, 15%);
		border-bottom: 1px solid lighten($yellow, 15%);
	}
}

body.static-true span.sentence:hover {
  background-color: #fff;
  cursor: auto;
}

// Comment indicator
// --------------------------
// <p>
// Paragraphs that contain sentences with comments get this class
.contains-comment {
	position: relative;
	&:after {
		@extend %smooth-resize;
		content: "";
		display: block;
		width: 21px;
		height: 22px;
		background: transparent url('speech-bubble-gray.png') no-repeat right top;
		background-size: 21px 22px;
		padding: 0 0 20px 34px;
		position: absolute;
		top: 0.2em;
		right: -3em;
		.no-backgroundsize {
			background-image: url('speech-bubble-gray-half.png')
		}
		@include respond-max(860px) {
			right: -1.8em;
			padding-left: 12px;
		}
	}
	&:hover {
		.comment-count {
			display: block;
		}
	}
	.comment-count {
		@extend %smooth-resize;
		@extend %eta;
		display: none;
		width: 92px;
		font-weight: 300;
		color: $grayDark;
		text-indent: 0;
		position: absolute;
		top: 0.3em;
		right: -153px;
		@include respond-max(960px) {
			span {
				display: none;
			}
		}
		@include respond-max(880px) {
			top: 28px;
			right: -125px;
		}
		@include respond-max(860px) {
			right: -103px;
		}
	}
}

// Sentences with comments get this class
.has-comment {
	p:hover & {
		@extend %active-sentence;
		border-bottom: 1px dotted $blueDark;
	}
}

// Interior navigation
// --------------------------
// <ul>
.nav-interior {
	@extend %beta;
	@extend %nav;
}

.nav-content {
	@extend %vertical-bar-fixed;
	width: $navClosedWidth;
	right: 0;
	z-index: 30;
}

.nav-panes {
	height: 100%;
	position: relative;
}

// <ul>
// Lives inside nav-content
.nav-pane {
	@extend %delta;
	@extend %unstyled-list;
	background-color: $white;
	position: relative;
	.level-0,
	.level-1 {
		@extend %vertical-bar;
        left:  -$navOpenWidth + $navClosedWidth;
		width: $navOpenWidth;
		background-color: $grayLight;
		@include box-shadow(
			inset $navClosedWidth 0 0 0 $grayLight,
			inset ($navClosedWidth + 4) 0 0 0 $white
		);
	}
	.level-1 {
		position: relative;
		height: 100%;
		border-left: 4px solid $white;
		width: ($navOpenWidth * 2) + 50;
		border-bottom: 4px solid $white;
		left: $navClosedWidth;
	}
}

.pane-top {
	.level-0,
	.level-1 {
		border-bottom: 4px solid $white;
	}
}

// <li>
// Lives inside nav-panes
.pane--content {
	width: 100%;
	height: 100%;
	line-height: $tightLineHeight;
	padding: 40px 20px 30px 50px;
	position: relative;
	.pane-top & {
		padding-top: 160px;
	}
	.part {
		@extend %clearfix;
		margin-bottom: 50px;
	}
	.parts {
		position: relative;
	}
}

.pane--vertical-stage {
	overflow: hidden;
}

.pane-top {
	height: 40%;
	right: 0;
}

.pane-bottom {
	height: 60%;
	top: 0;
	&.reveal-level-0 {
		right: 0;
	}
	&.reveal-level-1 {
		right: ($navOpenWidth * 2) + 4px;
	}
	&.reveal-level-2 {
		right: ($navOpenWidth * 2) + 4px;
	}
	.level-0 {
		margin-bottom: 0;
	}
}

.pane--header {
	.pane-top & {
		padding-top: 180px;
	}
	cursor: pointer;
	@extend %vertical-bar;
	width: $navClosedWidth;
	left: 0;
	white-space: nowrap;
	z-index: 10;
}

// Width set to height of parent (pane--header)
// with javascript
// Bottom positioning = line-height + padding,
// which makes up for offset due to rotation axis
.pane--title {
	@extend %with-gray-dark;
	@extend %epsilon;
	@include rotate(-90deg, top left);
	line-height: 1;
	text-align: center;
	padding-top: 13px;
	position: absolute;
	bottom: 12.5%;
	left: 0;
	overflow: hidden;
	.lt-ie9 & {
		filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);
		bottom: 150px;
	}
}

.pane-bottom--title {
	top: 50%;
	bottom: auto;
	.lt-ie9 & {
		top: 150px;
	}
}

// <a>
.content-nav--toggle {
	@extend %circle-arrow;
	position: absolute;
	top: 25%;
	left: 6px;
}

.content-nav--toggle-pos2 {
	@extend %circle-arrow-left;
}


// Pane content toggle
// Lives inside .pane--content
// --------------------------
// <a>
.content--toggle {
	@extend %eta;
	@extend %with-gray-dark;
	font-style: italic;
	position: absolute;
	bottom: $space;
}

.content--toggle--arrow {
	@extend %circle-arrow-small-left;
	float: left;
	margin-right: 5px;
}

.content--toggle--arrow-right {
	@extend %circle-arrow-small;
	float: left;
	margin-right: 5px;
}

// Count boxes
// --------------------------
// <ul>
.count-box-list {
	@extend %tight-floated-list;
	position: absolute;
	bottom: 4em;
}

// <li>
.count-box {
	height: 100px;
	width: 84px;
	background-color: $gray;
	padding: 0 10px;
	position: relative;
}

.count-box--title {
	@extend %eta;
	@extend %with-gray-dark;
	width: 64px;
	text-transform: uppercase;
	margin: 0;
	position: absolute;
	bottom: 40px;
}

.count-box--number {
	@extend %deca;
	@extend %with-gray-darker;
	position: absolute;
	bottom: 2px;
}

// Feedback options
// --------------------------
.feedback-options {
	position: absolute;
	bottom: 4em;
}

.feedback-options--title {
	@extend %beta;
	@extend %with-gray-dark;
	font-style: italic;
	margin-bottom: 1em;
}

.feedback-options--list {
	@extend %unstyled-list;
	& > li + li {
		margin-top: $shim;
	}
}

.feedback-options--sublist {
	@extend %floated-list;
	padding-left: $space;
	margin-top: 8px;
	li + li {
		margin-left: 15px;
	}
}

.feedback-options--label {
	@extend %input-label;
	@extend %zeta;
	text-transform: uppercase;
	margin-bottom: 0;
	position: relative;
	cursor: pointer;
	.stacked-label {
		background: transparent url('icon-stacked.png') no-repeat left top;
		background-size: auto 100%;
		padding: 2px 0 2px 13px;
		margin-left: 2px;
		.no-backgroundsize & {
			background-image: url('icon-stacked-half.png');
		}
	}
	.opacity-label {
		background: transparent url('icon-opacity.png') no-repeat left top;
		background-size: auto 100%;
		padding: 2px 0 2px 11px;
		margin-left: 2px;
		.no-backgroundsize & {
			background-image: url('icon-opacity-half.png');
		}
	}
}

.feedback-options--checkbox {
	@extend %checkbox;
}

.feedback-options--radio {
	@extend %radio;
}

// Table of contents
// --------------------------
// <ul>
.nav-index {
	@extend %unstyled-list;
	@extend %delta;
	@include spaced-items(li, 17px);
	li:first-child {
		margin-top: 0;
	}
	a {
		line-height: $tightLineHeight;
		color: $grayDark;
		&:hover,
		&.active {
			color: $black;
		}
		&:focus {
			outline: 0;
		}
		span {
			display: block
		}
	}
	span.author {
		font-weight: 600;
	}
	ul {
		&.closed {
			display: none;
		}
		margin-top: 15px;
		padding-left: 15px;
	}
}
.nav-index-col {
	&:last-child {
		margin-left: 50px;
	}
	width: $navOpenWidth - 62;
	float: left;
}

// Reduce TOC font size on short screens
.nav-index,
parts {
	@include respond-max-height(700px) {
		font-size: 0.8em;
	}
	@include respond-max-height(600px) {
		font-size: 0.7em;
	}
}

// Comment drawer
// --------------------------------------------------------
// Lives inside .nav-content
.comment-drawer {
	$width: 620px;
	@extend %smooth-resize;
	width: $width;
	background-color: $yellowLight;
	position: absolute;
	top: 0;
	bottom: 0;
	left: $navClosedWidth;
	z-index: 40;
	&.open {
		@include box-shadow(
			-6px 0 0 0 transparentize($black, 0.97)
		);
		left: $navClosedWidth - $width;
	}
	@include respond-max(1000px) {
		$width: 480px;
		width: $width;
		&.open {
			left: $navClosedWidth - $width;
		}
	}
}

.comment-drawer--scroll {
	padding-right: 10px;
	position: absolute;
	top: 40px;
	right: 30px;
	bottom: 80px;
	left: 40px;
	overflow-y: scroll;
	&::-webkit-scrollbar {
		width: 8px;
		height: 0;
	}
	&::-webkit-scrollbar-thumb {
		background: transparentize($grayDark, 0.4);
		border-radius: 8px;
	}
	&::-webkit-scrollbar-track:vertical {
		margin-bottom: 10px;
	}
	@include respond-max(1000px) {
		padding-right: 6px;
		right: 14px;
		left: 20px;
	}
}

.comment-drawer--footer {
	padding: 26px 32px;
	border-top: 1px solid transparentize($black, 0.82);
	position: absolute;
	right: 40px;
	bottom: 0;
	left: 40px;
}

.comment-drawer--heading {
	@extend %gamma;
	background: transparent url('speech-bubble-gray.png') no-repeat left center;
	background-size: auto 21px;
	padding-left: 36px;
	margin-left: 32px;
	margin-bottom: 0.88em;
	.no-backgroundsize & {
		background-image: url('speech-bubble-gray-half.png')
	}
}

// <blockquote>
.comment-drawer--reference {
	@extend %delta;
	@extend %justified;
	background-color: $white;
	padding: 20px 32px;
	margin-bottom: 32px;
}

.comment-drawer--list {
	@extend %delta;
	@extend %unstyled-list;
	padding: 0 32px 20px;
}

.comment-drawer--comment {
	@extend %clearfix;
	padding: 20px 10px 0 42px;
	border-top: 1px solid transparentize($black, 0.92);
	margin: 0 -10px 0 -42px;
	& + & {
		margin-top: 20px;
	}
	p {
		@extend %justified;
		background-color: $yellowLighter;
		padding: 4px 10px;
		margin: 0 -10px 3px;
	}
	ul {
		@extend %unstyled-list;
		padding-left: 32px;
		margin-top: 20px;
	}
	.comment-drawer--list > & {
		padding-left: 10px;
		margin-left: -10px;
		&:first-child {
			padding-top: 0;
			border-top: none;
		}
	}
}

.comment-drawer--form {
	@extend %clearfix;
	display: none;
	margin-top: 10px;
	.text-input {
		width: 100%;
	}
	.active > & {
		display: block;
	}
}

.comment-drawer--user {
	display: inline-block;
	font-style: italic;
}

.comment-drawer--timestamp {
	@extend %delta;
	display: inline-block;
	font-style: italic;
	color: transparentize($black, 0.62);
}

.comment-drawer--reply {
	@extend %small-white-button;
	letter-spacing: 0.1em;
	margin-top: 2px;
	float: right;
	.active > & {
		display: none;
	}
}

.comment-drawer--action {
	@extend %delta;
	color: transparentize($black, 0.72);
	margin: 2px 0 0 10px;
	float: right;
	&:hover {
		color: $black;
	}

}

// The floating annotator
// --------------------------------------------------------
// <div>
.annotator {
	@extend %delta;
	width: 320px;
	background-color: $gray;
	border: 2px solid white;
	position: absolute;
	top: 0;
	left: 0;
	z-index: 20;
	&:before {
		content: "";
		border: 17px solid transparent;
		border-top: 32px solid $white;
		position: absolute;
		bottom: -49px;
		left: 24px;
		z-index: 12;
	}
	&:after {
		content: "";
		border: 15px solid transparent;
		border-top: 28px solid $gray;
		position: absolute;
		bottom: -43px;
		left: 26px;
		z-index: 14;
	}
}

// Annotator sections
// --------------------------
.annotator--top {
	font-style: italic;
	color: $grayDark;
	background-color: $gray;
	padding: 0.5em 1em;
	border-bottom: 2px solid $white;
}

// Expands to 316px wide
.annotator--right {
	color: $white;
	width: 125px;
	background-color: darken($gray, 30%);
	padding: 0.5em;
	border: 2px solid $white;
	position: absolute;
	left: 191px;
	top: -2px;
	bottom: -2px;
	z-index: 10;
}

.annotator--left {
	background-color: $gray;
	position: relative;
	z-index: 20;
    height: 180px;
    overflow:  hidden;
}

.annotator-pane {
    height: 180px;
}

.annotator-panes {
    position: relative;
}

// Bottom
// --------------------------
// <ul>
.annotator--bottom {
	@extend %clearfix;
	@extend %unstyled-list;
	padding: 1em;
	li {
    margin-bottom: .5em;
		cursor: pointer;
	}
}

// <li>
.annotate-interesting {
	@extend %circle-item-small-blue;
}

.annotate-comment {
  @extend %circle-item-small-yellow;
}

// <li>
.annotate-index {
	@extend %circle-item-small-orange;
}

// <li>
.annotate-close {
	padding-left: 30px;
	background: transparent url('icon-x-alt.png') no-repeat 4px center;
	background-size: 12px;
	.no-backgroundsize & {
		background-image: url('icon-x-alt-half.png');
	}
}

// Index annotation form
// --------------------------
.annotator--input {
	@extend %text-input;
	width:  200px;
	margin: 10px 10px 0 0;
}

.annotator--button {
	@extend %button-input;
}

// Annotation flag
// Seen to the left of text
// --------------------------
.annotation {
	@extend %smooth-resize;
	display: block;
	width: 5px;
	height: 10px;
	background: $blueDark;
	position: absolute;
	left: -100px;
	overflow: visible;
	@include respond-max(1360px) {
		left: -80px;
	}
	@include respond-max(810px) {
		left: -45px;
	}
}

// Annotation Counter [SM TO REVIEW] -- this is not being used yet, so you can ignore it for now.
// --------------------------
// <div>
.annotation-counter {
	position: absolute;
	z-index: 8000;
	left: 20px;
	width: 300px;
	background: $grayDark;
	height: 150px;
}

// Lists
// --------------------------------------------------------
.unstyled-list {
	@extend %unstyled-list;
}

// Name list
// --------------------------
.name-list {
	@extend %delta;
	@extend %unstyled-list;
	margin: 0 !important;
	li + li {
		margin-top: 0.5em;
	}
	small {
		@extend %delta;
		display: block;
		color: $grayDark;
	}
}

// Details list
// --------------------------
.details-list {
	@extend %delta;
	@extend %unstyled-list;
	margin: 0 !important;
	& > li + li {
		margin-top: 1.35em;
	}
	ul {
		@extend %unstyled-list;
		margin: 0;
	}
}

// Contents list
// --------------------------
.contents-list {
	@extend %unstyled-list;
}

// Forms
// --------------------------------------------------------
body.page form, .new_message {
	display: inline-block;
	background-color: $grayLight;
	padding: 1em 1em 1em 1em;
	margin: 1.35em 0;
}

.row {
	@extend %clearfix;
	width: 30.22em;
	& + & {
		margin-top: 1em;
	}
	@include respond-max(870px) {
		width: 100%;
	}
}

.row-submit {
	&:before {
		content: "";
		display: block;
		width: 18%;
		height: 1px;
		float: left;
		@include respond-max(650px) {
			display: none;
		}
	}
}

.field-half {
	width: 50%;
	float: left;
	&:last-child {
		padding-left: 1em;
	}
	@include respond-max(700px) {
		width: 100%;
		&:last-child {
			padding-left: 0;
			margin-top: 1em;
		}
	}
}

.field--label {
	width: 18%;
	line-height: 1.25;
	padding: 0.5em 0;
	margin-bottom: 0;
	float: left;
	.field-half & {
		width: 36%;
		@include respond-max(700px) {
			width: 18%;
		}
	}
	@include respond-max(650px) {
		display: block;
		float: none;
	}
}

.field--input {
	@extend %text-input;
	width: 82%;
	float: left;
	.field-half & {
		width: 64%;
		@include respond-max(700px) {
			width: 82%;
		}
	}

}

.field--textarea {
	@extend %text-input;
	width: 82%;
	resize: none;
}

.field--button {
	@extend %button-input;
}

.flash {
	@extend %epsilon;
	display: block;
	color: $white;
	background-color: $orange;
	padding: 0.5em;
	margin-bottom: $shim;
}

label {
	display: block;
	margin-bottom: 6px;
}

.text-input {
	@extend %text-input;
	width: 100%;
}

.form-message {
	@extend %eta;
	display: block;
	line-height: 1;
	margin-bottom: 10px;
}

// Form errors
// --------------------------
#error_explanation {
	color: $white;
	background-color: $orange;
	padding: 0.69em;
	margin-bottom: 1em;
	h2 {
		@extend %epsilon;
		line-height: 1;
		margin: 0 0 0.69em;
	}
	ul {
		// @extend %unstyled-list;
		padding-left: 1.69em;
		margin: 0;
	}
	li {
		@extend %epsilon;
	}
	li + li {
		margin-top: 0.3em;
	}
}

// frontend_page components
// --------------------------------------------------------
.page-title {
	@extend %alpha;
}

// Two column layouts
// Best suited to frontend_page layout
// --------------------------------------------------------
.columns {
	@extend %clearfix;
}

// Two equal-width columns
// To be used only alongside another column-equal
.column-equal {
	@extend %column;
	width: 350px;
	img {
		width: 100%;
	}
	@include respond-max(1070px) {
		width: 50%;
	}
	@include respond-max(960px) {
		img {
			max-width: 350px;
		}
	}
}

// To be used alongside column-narrow
.column-wide {
	@extend %column;
	width: 500px;
	@include respond-max(1070px) {
		width: 70%;
	}
}

// To be used alongside column-wide
.column-narrow {
	@extend %column;
	width: 200px;
	@include respond-max(1070px) {
		width: 30%;
	}
}

// full-width column
// Allows mixing of partial-width & full-width content
// within .columns
.column-single {
	width: 100%;
	margin-bottom: $shim * 2;
	clear: both;
}

// Column typographic components
// --------------------------
.column--heading {
	@extend %beta;
}

.column--subheading {
	@extend %subsection-heading;
}

// News components
// --------------------------------------------------------
.post {
	& + & {
		padding-top: $space * 2;
		border-top: 1px solid $grayLight;
		margin-top: $space * 2;
	}
}

.post--title {
	@extend %beta;
}

.post--dateline {
	@extend %delta;
	@extend %with-gray-dark;
	display: block;
	margin-bottom: 0.25em;
}

.post--byline {
	@extend %gamma;
	@extend %with-gray-dark;
	text-transform: uppercase;
}

// Generic utilities
// --------------------------------------------------------
.pull-left {
	float: left;
}

.pull-right {
	float: right;
}

.small {
	@extend %zeta;
}

// Generic components
// --------------------------------------------------------
// Links
// --------------------------
.white-button {
	@extend %white-button;
}

.white-bordered-button {
	@extend %white-bordered-button;
}

.white-ex-button {
	@extend %white-ex-button;
}

.white-bordered-ex-button {
	@extend %white-bordered-ex-button;
}
