// Patterns
// --------

// Really basic utility patterns
// --------------------------------------------------------
%pull-left {
	float: left;
}

%pull-right {
	float: right;
}

// Effects
// --------------------------------------------------------
%smooth-resize {
	@include transition(0.4s all ease-in-out);
}

// Vertical rhythm
// --------------------------------------------------------
// Intended to work with $looseLineHeight
%loose-top-space {
	margin-top: 1.68em;
}

// Typography
// --------------------------------------------------------
%hyphenated {
	@include hyphenate;
}

%justified {
	@extend %hyphenated;
	text-align: justify;
}

// Hierarchy
// --------------------------
%alpha {
	font-size: 1.5em;
	font-weight: 300;
}

%beta {
	font-size: 1.35em;
	font-weight: 300;
}

%gamma {
	font-size: 1em;
	font-weight: 300;
}

%delta {
	font-size: 0.88em;
	font-weight: 300;
}

%epsilon {
	font-size: 0.7em;
	font-weight: 700;
	text-transform: uppercase;
	letter-spacing: 0.2em;
}

%zeta {
	@extend %epsilon;
	font-weight: 300;
	letter-spacing: 0;
}

%eta {
	@extend %zeta;
	text-transform: none;
}

%theta {
	font-size: 0.6em;
	font-weight: 300;
}

// Extra-hierarchy
// Very large & very small type,
// outside the above hierarchy
// Employs SI prefixes
// --------------------------
%deca {
	font-size: 2em;
	font-weight: 300;
}

%deci {
	font-size: 0.5em;
	font-weight: 300;
}

// Block-level
// --------------------------
%heading {
	margin: 0;
	p + & {
		@extend %loose-top-space;
	}
	.page & {
		margin-bottom: 1em;
	}
}

%subsection-heading {
	@extend %delta;
	font-weight: 700;
	text-transform: uppercase;
	letter-spacing: 0.1em;
	margin-bottom: $shim;
}

// Inline
// --------------------------

// Links
// --------------------------
%home-link {
	color: $yellow;
	&:hover {
		color: $white;
	}
}

%nav-link {
	color: $white;
	&:hover {
		color: $yellow;
	}
}

%body-link {
	color: $black;
	text-decoration: underline !important;
	&:hover {
		text-decoration: none !important;
	}
}

%light-link {
	color: $grayDark;
	&:hover {
		color: $black;
	}
}

// https://github.com/h5bp/html5-boilerplate/blob/master/css/main.css#L120
%hidden-text {
	background-color: transparent;
    border: 0;
    overflow: hidden;
    *text-indent: -9999px;
    &:before {
	    content: "";
	    display: block;
	    width: 0;
	    height: 100%;
    }
}

// Buttons
// --------------------------
%white-button {
	@extend %delta;
	@extend %standard-input;
	@include appearance(none);
	display: inline-block;
	color: $black;
	text-transform: uppercase;
	text-align: center;
	line-height: 1;
	background-color: $white;
	padding: 0.3em 1.2em;
	border: none;
	border-radius: 0.5em;
	&.truncated {
		max-width: 375px;
		text-align: left;
		padding-right: 0.6em;
		padding-left: 0.6em;
		white-space: pre;
		overflow: hidden;
		text-overflow: ellipsis;
		@include respond-max(1000px) {
			max-width: 242px;
		}
	}
	&:focus {
		outline: 0;
	}
}

%white-ex-button {
	@extend %white-button;
	padding-right: 0.6em;
	padding-left: 0.4em;
	&:before {
		content: "";
		display: inline-block;
		vertical-align: top;
		width: 16px;
		height: 16px;
		background-image: asset-url('icon-x.png');
		background-size: 16px;
		margin-right: 0.4em;
		.no-backgroundsize & {
			background-image: asset-url('icon-x-half.png');
		}
	}
}

%white-bordered-button {
	@extend %white-button;
	border: 1px solid $gray;
}

%white-bordered-ex-button {
	@extend %white-ex-button;
	border: 1px solid $gray;
}

%small-white-button {
	@extend %white-button;
	padding: 0.2em 0.8em 0.1em;
	border-radius: 0.3em;
}

// Lists
// --------------------------
%unstyled-list {
	list-style-type: none;
	padding: 0;
}

%floated-list {
	@extend %clearfix;
	@extend %unstyled-list;
	> li {
		float: left;
		> a {
			display: block;
		}
	}
}

%loose-floated-list {
	@extend %floated-list;
	li + li {
		margin-left: $space;
	}
}

%tight-floated-list {
	@extend %floated-list;
	li + li {
		margin-left: 0.4em;
	}
}

// Inputs
// --------------------------
%custom-input {
	@include opacity(0);
	.lt-ie9 & {
		filter: alpha(opacity=100);
	}
	& + b {
		display: block;
		position: absolute;
		left: 0;
		.lt-ie9 & {
			display: none;
		}

	}
	&:checked {
		& + b {
			background-position: left bottom;
		}
	}
}

// <label>
%input-label {
	position: relative;
}

// <input>
%standard-input {
	@include font-museo;
	display: inline-block;
	-webkit-font-smoothing: antialiased;
}

// <input type="text">
%text-input {
	@extend %standard-input;
	@extend %gamma;
	padding: 0.5em;
	border: none;
	resize: none;
	&:focus {
		outline: none;
	}
}

// <input type="submit">
%button-input {
	@extend %standard-input;
	@extend %zeta;
	@include appearance(none);
	@include border-radius(0.5em);
	color: lighten($black, 20%);
	letter-spacing: 0.2em;
	vertical-align: middle;
	background-color: transparent;
	padding: 0.25em 0.5em;
	border: 1px solid lighten($black, 20%);
	&:focus {
		outline: 0;
	}
}

// Checkbox
// --------------------------
// <input type="checkbox">
// Must be immediately followed by an empty <b>
%checkbox {
	@extend %custom-input;
	margin-right: 8px;
	& + b {
		width: 20px;
		height: 23px;
		background: transparent asset-url('checkbox.png') no-repeat left top;
		background-size: 100% auto;
		bottom: 0;
		.no-backgroundsize & {
			background-image: asset-url('checkbox-half.png');
		}
	}
}

// Radio
// --------------------------
// <input type="radio">
// Must be immediately followed by an empty <b>
// Stop asking questions, just do it
%radio {
	@extend %custom-input;
	margin-right: 8px;
	& + b {
		width: 18px;
		height: 18px;
		background: transparent asset-url('radio.png') no-repeat left top;
		background-size: 100% auto;
		bottom: -2px;
		.no-backgroundsize & {
			background-image: asset-url('radio-half.png');
		}
	}
}

// Text colors
// --------------------------
%with-gray {
	color: $grayMedium;
}

%with-gray-dark {
	color: $grayDark;
}

%with-gray-darker {
	color: $grayDarker;
}

// Component patterns
// --------------------------------------------------------
// <ul>
%nav {
	// @extend %beta;
	@extend %unstyled-list;
	line-height: $looseLineHeight;
	a {
		@extend %nav-link;
	}
}

// Stretches block-level element to fill container vertically
// Left or right positioning optional
%vertical-bar {
	position: absolute;
	top: 0;
	bottom: 0;
}

// Fixes block-level element to top & bottom of viewport
// Be sure to specify left or right positioning
%vertical-bar-fixed {
	position: fixed;
	top: 0;
	bottom: 0;
}

// Fixes block-level element to left & right of viewport
// Be sure to specify top or bottom positioning
%horizontal-bar-fixed {
	position: fixed;
	right: 0;
	left: 0;
}

// Interior wrapper
// --------------------------
%content-wrapper {
	@extend %smooth-resize;
	width: 30.22em;
	padding-right: 2em;
	margin-left: 29%;
	@include respond-max(1280px) {
		margin-left: 250px !important;
	}
	@include respond-max(810px) {
		margin-left: 180px !important;
	}
	.nav-open & {
		//@include respond-max(1550px) {
		//	margin-left: 20%;
		//}
	}
}

// Circles with text
// --------------------------
%circle-base {
	display: block;
	color: inherit;
	position: relative;
	&:before {
		content: "";
		background-color: $gray;
		@include border-radius(100%);
		position: absolute;
		top: 0;
		left: 0;
	}
}

%circle-item {
	$h: 28px;
	@extend %circle-base;
	line-height: $h;
	padding-left: 44px;
	&:before {
		width: $h;
		height: $h;
	}
}

%circle-item-blue {
	@extend %circle-item;
	&:before {
		background-color: $blue;
	}
}

%circle-item-small {
	$h: 20px;
	@extend %circle-base;
	line-height: $h;
	padding-left: 30px;
	&:before {
		width: $h;
		height: $h;
	}
}

%circle-item-small-yellow {
  @extend %circle-item-small;
  &:before {
    background-color: $yellow;
  }
}

%circle-item-small-blue {
	@extend %circle-item-small;
	&:before {
		background-color: $blueDark;
	}
}

%circle-item-small-orange {
	@extend %circle-item-small;
	&:before {
		background-color: $orange;
	}
}

// Circle arrows
// --------------------------
%circle-arrow {
	@include border-radius(100%);
	display: block;
	width: 22px;
	height: 22px;
	background: $white asset-url('icon-arrow-right.png') no-repeat left top;
	background-size: 22px;
	.no-backgroundsize & {
		background-image: asset-url('icon-arrow-right-half.png');
	}
}

%circle-arrow-left {
	@extend %circle-arrow;
	background-image: asset-url('icon-arrow-left.png');
	.no-backgroundsize & {
		background-image: asset-url('icon-arrow-left-half.png');
	}
}

%circle-arrow-small {
	@extend %circle-arrow;
	width: 11px;
	height: 11px;
	background-size: 11px;
	.no-backgroundsize & {
		background-image: asset-url('icon-arrow-right-quarter.png');
	}
}

%circle-arrow-small-left {
	@extend %circle-arrow-left;
	@extend %circle-arrow-small;
	.no-backgroundsize & {
		background-image: asset-url('icon-arrow-left-quarter.png');
	}
}

// Callout box
// --------------------------
%callout {
	padding: $shim;
	background: $grayLight;
	margin-bottom: $space;
}

// Columns
// --------------------------------------------------------
// NB: only extend this on unnested selectors (so the '& + &' selector works)
%column {
	@extend %hyphenated;
	margin-bottom: $shim * 2;
	float: left;
	& + & {
		padding-left: 50px;
	}
	@include respond-max(960px) {
		width: 100% !important;
		float: none;
		& + & {
			padding-left: 0;
		}
	}
}

// Sentences
// --------------------------------------------------------
%active-sentence {
	padding-top: 1px;
	margin-top: -1px;
}
