// Variables
// ---------

// Colors
// --------------------------------------------------------
$white: #fff;
$grayLighter: #fcfcfc;
$grayLight: #f1f1f1;
$gray: #e6e7e9;
$grayAlt: #e1e1e1;
$grayMedium: #9e9fa3;
$grayDark: #7a7b7f;
$grayDarker: darken($grayDark, 15%);
$blackLight: #212121;
$black: #000;

$yellowLighter: #fffdee;
$yellowLight: #fffbd5;
$yellow: #fef200;
$chartreuse: #c1d800;
$blue: #8ed9f8;
$blueDark: #02adef;
$orange: #f8971b;


// Typography
// --------------------------------------------------------
$thin: 100;
$regular: 400;
$bold: 700;


// Measurements
// --------------------------------------------------------
$tightLineHeight: 1.2;
$baseLineHeight: 1.35;
$looseLineHeight: 1.65;

$space: 2.22em;
$shim: 1.22em;

$navClosedWidth: 34px;
$navOpenWidth: 338px;

// $mainWidth: 977px;
// $contentWidth: 758px;


// $transitionTime: 0.05s;

// Responsive breakpoints
// --------------------------------------------------------
// $screenNarrow: 480px;
// $screenMedium: 610px;
// $screenWide: 720px;