// Variables
// ---------

// Colors
// --------------------------------------------------------
$white: #fff;
$grayLight: #f1f3f2;
$gray: #a8a9ad;
$grayDark: #7a7b7f;
$black: #000;

$yellow: #fef200;
$blue: #8ed9f8;

// Measurements
// --------------------------------------------------------
$tightLineHeight: 1.2;
$baseLineHeight: 1.35;
$looseLineHeight: 1.65;

$space: 2.22em;
$shim: 1.22em;

$navClosedWidth: 34px;
$navOpenWidth: 338px;

// $mainWidth: 977px;
// $contentWidth: 758px;


// $transitionTime: 0.05s;

// Responsive breakpoints
// --------------------------------------------------------
// $screenNarrow: 480px;
// $screenMedium: 610px;
// $screenWide: 720px;